a:link { color:#660000;}
a:hover {
    color: #536895;
    /*color:#FFFFFF;
    background-color: #536895;*/
    text-decoration: none;
} 
a:active {
	color: #FF0000;
}
.b {
font-family: Arial, Helvetica, sans-serif; 
font-size: 12px; 
font-weight: normal;
}
.bbold {
font-family: Arial, Helvetica, sans-serif; 
font-size: 12px; 
font-weight: bold;
}
.bodySm {
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 10px; 
font-weight: normal;
}
.bodyGray {
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 10px; 
font-weight: normal; 
color: #666666;
}
.bodySmBold {
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 10px; 
font-weight: bold
}
.button {
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 10px; 
font-weight: normal; 
background-color: #CCCCFF;
}
.bodySmActive 
{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #009900;}
.published 
{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #006600;}
.approved 
{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #FF0000;}
.submitted 
{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #666666;}
.confirmed 
{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold;}

.name {
font-family: Arial, Helvetica, sans-serif; 
font-size: 14px; 
font-weight: bold ; 
color: #FFFFFF;
}

.hdr {font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-weight: bold}

h2, .hdrGray {
font-family: Arial, Helvetica, sans-serif; 
font-size: 18px; 
font-weight: bold; 
color: #666666;
}
.hdrWhite {
font-family: Arial, Helvetica, sans-serif; 
font-size: 18px; 
font-weight: bold; 
color: #FFFFFF;
}		
.tblcolhdr
{ background-color: #bbbbbb; 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 10px; 
font-weight: bold; 
text-transform: capitalize;}

.tblhdr
{color: #FFFFFF; 
background-color: #666666;
font-family: Arial, Helvetica, sans-serif; 
font-weight: bold; text-transform: capitalize; 
font-size: 12px;}

.tblhdrplus { background-color: #CCCCCC;}

.tblrowhdr { color: #000000; background-color: #bbbbbb;}

.tblrowbody {color:#000000; background-color: #dddddd;}

.error {color: #FF0000;; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px}
.bodySmBlue { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal ; color: #99CCFF;}
