<?php
/****************************************************************************
*                                                                           
*         Copyright (C) 1996-2006.  This is an unpublished work of          
*                          Headwaters Software, Inc.                        
*                             ALL RIGHTS RESERVED                           
*         This program is a trade secret of Headwaters Software, Inc.       
*         and it is not to be copied, distributed, reproduced, published,   
*         or adapted without prior authorization                            
*         of Headwaters Software, Inc.                                      
*                                                                           
****************************************************************************/

require_once('phputil/als_air_type_constants.php');

/*
 * This function will generate an alphabetical list of FISDAP Programs for a select tag
 */
	function GenAirTypeCheckBoxes( )
	{	
        global $dbConnect;
		$result = mysql_query( "SELECT * FROM ALSAirTypeTable Order By ALSAirType",$dbConnect);
		$count = mysql_num_rows($result);

		printf( "<table>\n");
		printf( " <tr>\n");
		$AirCount = 0;
		
		for( $i=0; $i < $count; $i++)
		{	
	
			$AirType = mysql_result( $result, $i, "ALSAirType");
			$Air_id = mysql_result( $result, $i, "ALSAirType_id");
			$Name = "useALSAirway" . $Air_id;

			if( $Air_id == ALS_AIR_VALSALVA_MANEUVER)    
			{	continue;
			}	
					
			if($AirCount > 0 &&  $AirCount % 2 == 0)
			{	printf( " </tr>\n");
				printf( " <tr>\n");
			}
			if( $Air_id ==ALS_AIR_ENDOTRACHEAL_TUBE )
			{	printf( "     <td><input type='checkbox' checked name='%s' value='%s'>%s </td>\n", $Name, $AirType, $AirType);
				$AirCount++;
			}
			else
			{	printf( "     <td><input type='checkbox' name='%s' value='%s'>%s</td>\n", $Name, $AirType, $AirType);
				$AirCount++;
			}
			if($i > 0 &&  $i % 2 == 0)
			{	
			}
		}
		printf( " </tr>\n");
		printf( "<table>");

	}
	

?>
