<?php
/****************************************************************************
 *                                                                           *
 *         Copyright (C) 1996-2005.  This is an unpublished work of          *
 *                          Headwaters Software, Inc.                        *
 *                             ALL RIGHTS RESERVED                           *
 *         This program is a trade secret of Headwaters Software, Inc.       *
 *         and it is not to be copied, distributed, reproduced, published,   *
 *         or adapted without prior authorization                            *
 *         of Headwaters Software, Inc.                                      *
 *                                                                           *
 ****************************************************************************/


require_once('phputil/als_air_type_constants.php');


/*
 * This function will generate an list of Airway Types from the database
 */
function GenAirTypeList( $Selected_id)
{	
	global $dbConnect;
	$result = mysql_query(
		"SELECT * FROM ALSAirTypeTable "
		. "WHERE ALSAirType_id!=" . ALS_AIR_VALSALVA_MANEUVER . " "
		. "ORDER BY ALSAirType", 
		$dbConnect
	);

	if( !isset($Selected_id)) {	
		$Selected_id = -1;
	} else {
		$Selected_id = ALS_AIR_ENDOTRACHEAL_TUBE;
	}

	$count = mysql_num_rows($result);
	if ( $count <= 0 )
	{	
		echo "<option value=-1>No Data available</option>";
		return;
	}//if

	for ( $i=0 ; $i < $count ; $i++ )
	{	
		$Id = mysql_result($result, $i,  "ALSAirType_id");
		$Title = mysql_result($result, $i, "ALSAirType");
		echo "<option value='$Id'";
		if( $Id == $Selected_id)
		{	 
			echo " selected ";
		}//if
		echo">";
		echo"$Title</option>\n";
	}//for
}//GenAirTypeList
?>
