<?php
/****************************************************************************
*                                                                           *
*         Copyright (C) 1996-2003.  This is an unpublished work of          *
*                          Headwaters Software, Inc.                        *
*                             ALL RIGHTS RESERVED                           *
*         This program is a trade secret of Headwaters Software, Inc.       *
*         and it is not to be copied, distributed, reproduced, published,   *
*         or adapted without prior authorization                            *
*         of Headwaters Software, Inc.                                      *
*                                                                           *
****************************************************************************/

/*
 * This function will generate an list of Ambulance Servces for the given 
 * Program for a select tag
 */

$connection = FISDAPDatabaseConnection::get_instance();

 	Function GenBaseList($AmbServ_id, $Selected_id, $Prog_id) {
		global $dbConnect;
		
		$query = "Select B.BaseName, B.Base_id from AmbServ_Bases B, ProgramBaseData P where B.AmbServ_id=$AmbServ_id AND P.Program_id=$Prog_id AND B.Base_id=P.Base_id";
		echo "$query\n";
		$result = mysql_query( $query, $dbConnect);
	    $count = mysql_num_rows($result);
		$i=0;
		if( !isset($Selected_id))
		{	$Selected_id = -1;
		}
		echo "<option VALUE='-1' ";
			if($Selected_id == -1) {
				echo "selected";
			}
		echo ">All</option>\n";
			
		if($count <= 0)
		{	echo "<option value=-1>No Ambulance Service Selected";
		}
		
			
    	while($i < $count)
    	{	$Base_id = mysql_result( $result, $i,  "Base_id");
			$BaseName = mysql_result( $result, $i, "BaseName");
			echo "<option VALUE='$Base_id'";
			if( $Base_id == $Selected_id)
   			{	 echo " selected ";
			}
			echo">";
			echo"$BaseName</option>\n";
			$i++;
		}
	}
 
function gen_base_array($AmbServ_id, $Program_id, $Active = 1) {
	global $connection;

	$query = "SELECT * FROM AmbServ_Bases B, ProgramBaseData P WHERE B.AmbServ_id = $AmbServ_id AND B.Base_id=P.Base_id AND P.Program_id = $Program_id AND P.Active = $Active";

	$result = $connection->query($query);

	return $result;

}

?>
