<?php
/****************************************************************************
*                                                                           *
*         Copyright (C) 1996-2003.  This is an unpublished work of          *
*                          Headwaters Software, Inc.                        *
*                             ALL RIGHTS RESERVED                           *
*         This program is a trade secret of Headwaters Software, Inc.       *
*         and it is not to be copied, distributed, reproduced, published,   *
*         or adapted without prior authorization                            *
*         of Headwaters Software, Inc.                                      *
*                                                                           *
****************************************************************************/
/*
	This is a function that when passed the id of an event, the total slots of the event, and
	a connection identifier to the database will calculate the current number of open slots 
	for that event.
*/

function calcOpenSlots($event_id, $connection)
{
	$slotsSelect = "SELECT TotalSlots FROM EventData WHERE Event_id=$event_id";
	$slotResult = mysql_query($slotsSelect, $connection);
	$slotCount = mysql_num_rows($slotResult);
	if($slotCount == 1)
	{
		$totalSlots = mysql_result($slotResult, 0, "TotalSlots"); 
	}
	else
	{
		echo "<center>There has been an error processing your request.</center>\n";
		echo "</body></html>\n";
		exit;
	}
	//Here we find the number of currently open slots for an event.
	$openSlotsSelect = "SELECT count(*) FROM ShiftData where Event_id=$event_id AND Student_id > 0";
	//echo "$openSlotsSelect<br>";
	$openSlotsResult = mysql_query($openSlotsSelect, $connection);
	$openSlotsCount = mysql_num_rows($openSlotsResult);
	if($openSlotsCount > 0)
	{
		$usedSlots = mysql_result($openSlotsResult, 0, "count(*)");
	}
	else
	{
		$usedSlots = 0;
	}
	//echo "usedSlots is: $usedSlots\n";
	$openSlots = $totalSlots - $usedSlots;
	return $openSlots;
}

?>