<?php
/****************************************************************************
*                                                                           *
*         Copyright (C) 1996-2005.  This is an unpublished work of          *
*                          Headwaters Software, Inc.                        *
*                             ALL RIGHTS RESERVED                           *
*         This program is a trade secret of Headwaters Software, Inc.       *
*         and it is not to be copied, distributed, reproduced, published,   *
*         or adapted without prior authorization                            *
*         of Headwaters Software, Inc.                                      *
*                                                                           *
****************************************************************************/

require_once( FISDAP_ROOT . 'shift/complaint_constants.php');
require_once( FISDAP_ROOT . 'shift/evals/eval_get_id_addition.php' );

/** provides $Program_id */
require_once( FISDAP_ROOT . 'phputil/inst.html' );

/** provides is_avantgo_client() */
require_once( FISDAP_ROOT . 'phputil/avantgo_utils.php' );

// for debugging, mail myself the SERVER array 
//mail('smartin@fisdap.net',
//     ((is_avantgo_client())?'==avantgo client== ':'==non-avantgo client== ').
//       'server array for comptable.html request',
//     var_export($_SERVER,true));

/** provides display_hook() */
if ( is_avantgo_client() ) {
    echo '<!-- this is an avantgo client... using pda hook lib -->';
    include_once( FISDAP_ROOT . 'pda/EMS/pda_hook_lib.php' );
} else {
    echo '<!-- this is not an avantgo client... using standard hook lib -->';
    include_once( FISDAP_ROOT . 'shift/evals/hook_lib.php' );
}//else

/** provides mnemonic hook constants */
require_once( FISDAP_ROOT . 'shift/evals/hook_constants.php' );

$hook_display_functions = array();

//populate the array of display functions for the hooks 
if ( defined( 'DISPLAY_CONTEXT' ) ) {
    //create the assoc. array of disp functions
    foreach( array_keys($complaint_constants) as $complaint_id ) { 
        $complaint_constant = $complaint_constants[$complaint_id];

        //add the array entry mapping the hook id to the eval array name
        
if(DISPLAY_CONTEXT == 'FIELD')
{
	$res = mysql_query("SELECT Complaint FROM PtComplaintTable WHERE Complaint_id=$complaint_id", $dbConnect);
  	$cou = mysql_num_rows($result);
  	if($cou == 1)
  	{
  		$compname = mysql_result($res,0,"Complaint");
  	}
		echo "<script type='text/javascript'>";
        gen_hook_to_session_mapper(array(
                constant(DISPLAY_CONTEXT.'_COMPLAINT_'.$complaint_constant.'_HOOK') => 
                         "parent.ComplaintList[\"$compname\"].EvalArray" 
                          ));
        echo "</script>";
		$function_body = 'display_hook('.
          constant(DISPLAY_CONTEXT.'_COMPLAINT_'.$complaint_constant.'_HOOK').
          ', '.$Program_id.', "&Subject='.$REMOTE_USER.
          "&SessionListExpr=window.opener.parent.ComplaintList[\\\"$compname\\\"].EvalArray".
          get_id_addition("Shift_id").'");';
}
else
{
		echo "<script type='text/javascript'>";
        gen_hook_to_session_mapper(array(
                constant(DISPLAY_CONTEXT.'_COMPLAINT_'.$complaint_constant.'_HOOK') => 
                                             "Complaint{$complaint_id}Evals" 
                                   ));
        echo "</script>";
        $function_body = 'display_hook('.
          constant(DISPLAY_CONTEXT.'_COMPLAINT_'.$complaint_constant.'_HOOK').
          ', '.$Program_id.', "&Subject='.$REMOTE_USER.
          "&SessionListExpr=window.opener.Complaint{$complaint_id}Evals".
          get_id_addition("Shift_id").'");';
}
        $hook_display_functions[$complaint_id] = $function_body;
        echo "<!--\n";
        print_r($hook_display_functions);
        echo "\n-->\n";
    }//foreach
}//if


/**
 * Print a hook to the eval(s) for the complaint with the given id.
 *
 * @param string a numeric string containing the complaint id whose hook 
 *               we want to display
 */
function display_complaint_eval_hook( $Complaint_id ) {
    global $Program_id;
    global $REMOTE_USER;
    global $hook_display_functions;

    echo "<!-- ";
    echo "COMPLAINT_ID = '$Complaint_id'";
    echo "-->";
    $display_function = $hook_display_functions[$Complaint_id];
    echo "<!-- ";
    print_r( $display_function );
    echo "\n\n";
    print_r($hook_display_functions);
    echo "-->";
    if ( $display_function ) eval($display_function);
}//display_complaint_eval_hook( string )


/*
 * This function will generate a list of FISDAP Field Impressions/Pathologies
 *
 * This function assumes that the following has been defined in JavaScript in 
 * the file that calls it: 
 *
 *  function ComplaintChanged()
 *	{	// What ever you want done on a click
 *	}
 *
 */
	function GenPtComplaintsTable( $Columns, 
                                   $ShowTitle = true, 
                                   $CallCheckRoutine = true)
	{	global $dbConnect;

		$result = mysql_query("SELECT * FROM PtComplaintTable ".
                              "ORDER BY Complaint", $dbConnect);
		$count = mysql_num_rows($result);
		$i=0;
		$cols = $Columns + 1;
		$TableCols = $Columns*2;
		if( $count > 0)
		{
			echo "<table width='85%'>\n";
			if( $ShowTitle != false)
				echo "   <tr>  
                         <TH  ColSpan='$TableCols'>
                         Patient Complaints (Check all that apply)
                         </TH>
                         </tr>\n";
		}

		$i=0;
    		while($i < $count)
    		{	if( $cols >= ($Columns))
			{	echo " <tr>\n";
				$cols = 0;
			}
			$Complaint_id = mysql_result( $result, $i,  "Complaint_id");
			$Complaint = mysql_result( $result, $i, "Complaint");
			$Temp = "Complaint" . $i;
			if( $CallCheckRoutine != 0) 
			{
				echo "    <td align='left'>\n    
                            <input type='checkbox' 
                                   id='$Temp'
                                   name='$Temp' 
                                   value='$Complaint_id' 
                                   onClick='ComplaintChanged()'>
                          </td>\n";  
				echo "    <th align='left'>$Complaint";
				display_complaint_eval_hook( $Complaint_id );
				echo "    </th>\n";
            }//if
            else
			{	echo "    <td align='left'>
                            <input type='checkbox' 
                                   id='$Temp'
                                   name='$Temp' 
                                   value='$Complaint_id'>
                          </td>\n";
				echo "    <th align='left'>$Complaint";
				display_complaint_eval_hook( $Complaint_id );
				echo "    </th>\n";
			}//else
			$i++;
			$cols++;
			if( $cols >= ($Columns))
			{	echo " </tr>\n";
			}
		}

		if( $count > 0)
		{	if( $cols < $Columns)
			{	while($cols < $Columns)
				{//	echo "   <td></td><td></td>\n";
					echo "   <td></td>\n";
					$cols++;
				}
				echo " </tr>\n";
			}
			echo "</table>\n";
		}
	}
?>
