<?php
/****************************************************************************
*                                                                           *
*         Copyright (C) 1996-2003.  This is an unpublished work of          *
*                          Headwaters Software, Inc.                        *
*                             ALL RIGHTS RESERVED                           *
*         This program is a trade secret of Headwaters Software, Inc.       *
*         and it is not to be copied, distributed, reproduced, published,   *
*         or adapted without prior authorization                            *
*         of Headwaters Software, Inc.                                      *
*                                                                           *
****************************************************************************/

/*
 * This function will generate an list of FISDAP Field Impressions/Pathologies
 */
	Function GenDiagList( $Selected_id)
	{	global $dbConnect;
		$result = mysql_query("SELECT * FROM DiagnosisTable where MOI=0 and Diag_id != 23 order by DiagTitle", $dbConnect);
	    $count = mysql_num_rows($result);
		$i=0;
		if( !isset($Selected_id))
		{	$Selected_id = -1;
		}
		if($count <= 0)
		{	echo "<option value=-1>No Data available";
		}
    	while($i < $count)
    	{	$Diag_id = mysql_result( $result, $i,  "Diag_id");
			$DiagTitle = mysql_result( $result, $i, "DiagTitle");
			echo "<option VALUE='$Diag_id'";
			if( $Diag_id == $Selected_id)
   			{	 echo " selected ";
			}
			echo">";
			echo"$DiagTitle</option>\n";
			$i++;
		}
	}
	
	Function GenMOIList( $Selected_id)
	{	global $dbConnect;
		$result = mysql_query("SELECT * FROM DiagnosisTable where MOI=1 order by DiagTitle", $dbConnect);
	    $count = mysql_num_rows($result);
		$i=0;
		if( !isset($Selected_id))
		{	$Selected_id = -1;
		}
		if($count <= 0)
		{	echo "<option value=-1>No Data available";
		}
    	while($i < $count)
    	{	$Diag_id = mysql_result( $result, $i,  "Diag_id");
			$DiagTitle = mysql_result( $result, $i, "DiagTitle");
			echo "<option VALUE='$Diag_id'";
			if( $Diag_id == $Selected_id)
   			{	 echo " selected ";
			}
			echo">";
			echo"$DiagTitle</option>\n";
			$i++;
		}
	}
?>
