<?php
/****************************************************************************
*                                                                           *
*         Copyright (C) 1996-2003.  This is an unpublished work of          *
*                          Headwaters Software, Inc.                        *
*                             ALL RIGHTS RESERVED                           *
*         This program is a trade secret of Headwaters Software, Inc.       *
*         and it is not to be copied, distributed, reproduced, published,   *
*         or adapted without prior authorization                            *
*         of Headwaters Software, Inc.                                      *
*                                                                           *
****************************************************************************/

/*
 * This function will generate an alphabetical list of FISDAP Programs for a select tag
 */
	Function GenEthnicityList( $SelectedId)
	{	global $dbConnect;
		$result = mysql_query( "SELECT * FROM EthnicityTable Order By EthnicTitle",$dbConnect);
		$count = mysql_num_rows($result);

		if( $Ethnic_id == $SelectedId)
		{	printf( "<option value='6' selected >Unspecified\n");
		}
		else
		{	printf( "<option value='6'>Unspecified\n");
		}

	    for( $i=0; $i < $count; $i++)
	    {   $EthnicName = mysql_result( $result, $i, "EthnicTitle");
			$Ethnic_id = mysql_result( $result, $i, "Ethnic_id");
			
			if( $Ethnic_id != 5 && $Ethnic_id != 6)
			{	if( $Ethnic_id == $SelectedId)
   		    	{	printf( "<option value='%d' selected>%s\n", $Ethnic_id, $EthnicName );
   		    	}
				else
				{	printf( "<option value='%d'>%s\n", $Ethnic_id, $EthnicName );
				}
			}
		}
		if( $SelectedId == 5)
		{	printf( "<option value='5' selected >Other\n");
		}
		else
		{	printf( "<option value='5'>Other\n");
		}
	}
?>
