<?php
/****************************************************************************
*                                                                           *
*         Copyright (C) 1996-2003.  This is an unpublished work of          *
*                          Headwaters Software, Inc.                        *
*                             ALL RIGHTS RESERVED                           *
*         This program is a trade secret of Headwaters Software, Inc.       *
*         and it is not to be copied, distributed, reproduced, published,   *
*         or adapted without prior authorization                            *
*         of Headwaters Software, Inc.                                      *
*                                                                           *
****************************************************************************/
/*These functions are intended to allow the users of FISDAP to choose from a list of countries*/
/*and then based upon that choice generate a list of states/provinces within that country for*/
/*the user to choose from.  These choices will be for the country/state where the program is*/
/*located.*/
/*Here is the plan:*/
/*When the page is pulled up, generate the list of countires to choose from./*
/*When a country is selected, generate a list of states/provinces that are part of that country.*/
/*If there is already information in the database regarding this program, the page should get*/
/*the information and display it accordingly.*/

echo "<script language=javascript>\n";

echo "CanadaArray = new Array('AB', 'BC', 'MB', 'NB', 'NF', 'NT', 'NU', 'NS', 'ON', 'PE', 'QC', 'SK', 'YT');\n";
echo "USAArray = new Array('AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'DC', 'WV', 'WI', 'WY');\n\n";
echo "CountryArray = new Array('CAN', 'USA');\n";	
	
echo "function genCountryList() {\n";
echo "document.write('<option>Please Select A Country');\n";
echo "for(i=0; i<CountryArray.length; i++) {\n";
echo "document.write('<option>'+CountryArray[i])\n";
echo "}\n\n";
echo "}\n";
	
/*Regenerate the list of states to choose from.*/
echo "function countryChange(country, select, Form) {\n";
echo	"genStateList(country, select, Form);\n";
echo 	"}\n";
	
/*echo "//Note, in order to use this function the select box being written to must be called 'pstate'\n";	*/
echo "function genStateList(country, select, inForm) {\n";
echo "	select.options.length = 0;\n";
echo "//alert('Country = ' + country);\n";
echo 	"if(country == 'CAN') {\n";
echo		"for(i=0; i < CanadaArray.length; i++) {\n";
echo            "var option = new Option(CanadaArray[i], CanadaArray[i]);\n";
echo          	"select.options[i] = option;\n";
echo			"}\n";
echo 		"}\n";
echo 	"else if (country == 'USA') {\n";
echo		"for(i=0; i<USAArray.length; i++) {\n";
echo            "var option = new Option(USAArray[i], USAArray[i]);\n";
echo "select.options[i] = option;\n";
echo 		"}\n";
echo	"}\n";
echo "}\n";

echo "function showCountry(country) {\n";
echo "//alert('Country is: ' + country);\n";
echo "for(i=0; i < CountryArray.length; i++) {\n";
echo "	if(country==CountryArray[i]) {\n";
echo "  document.write('<option selected>'+CountryArray[i]);\n";
echo "	}\n";
echo "else {\n";
echo "	document.write('<option>'+CountryArray[i])\n";
echo "	}\n";
echo "}\n";
echo "}\n";

echo "function showState(country, state) {\n";
echo "if(country == 'CAN') {\n";
echo "	for(i=0; i<CanadaArray.length; i++) {\n";
echo "		if(CanadaArray[i]==state) {\n";
echo "			document.write('<option selected>' + CanadaArray[i]);\n";
echo "			}\n";
echo "		else {\n";
echo "			document.write('<option>' + CanadaArray[i]);\n";
echo "			}\n";
echo "		}\n";
echo "	}\n";
echo "	if(country == 'USA') {\n";
echo "		for(i=0; i<USAArray.length; i++) {\n";
echo "			if(USAArray[i]==state) {\n";
echo "				document.write('<option selected value=\"'+ USAArray[i] + '\">' + USAArray[i]);\n";
echo "				}\n";
echo "			else {\n";
echo "				document.write('<option value=\"'+ USAArray[i] + '\">' + USAArray[i]);\n";
echo "				}\n";
echo "			}\n";
echo "		}\n";
echo "}\n";
echo "</script>\n";
?>
