<?php
/****************************************************************************
 *                                                                           *
 *         Copyright (C) 1996-2003.  This is an unpublished work of          *
 *                          Headwaters Software, Inc.                        *
 *                             ALL RIGHTS RESERVED                           *
 *         This program is a trade secret of Headwaters Software, Inc.       *
 *         and it is not to be copied, distributed, reproduced, published,   *
 *         or adapted without prior authorization                            *
 *         of Headwaters Software, Inc.                                      *
 *                                                                           *
 ****************************************************************************/

require_once('phputil/med_name_constants.php');

/*
 * This function will generate an alphabetical list of FISDAP Programs for a select tag
 */
function GenMedsList( $SelectedId) {
	global $dbConnect;
	$result = mysql_query( "SELECT * FROM MedNameTable Order By MedName",$dbConnect);
	$count = mysql_num_rows($result);


	// if the given id is -1, select the "Select One" entry

	if ( $SelectedId == -1 ) {
		// @warning the following "selected" attribute is invalid html, but is kept
		// for compatibility with the pda client
		printf( "<option value='-1' selected>Select One</option>\n");

	} else {

		printf( "<option value='-1'>Select One</option>\n");

	}//else

	for ( $i=0; $i < $count; $i++) {
		$MedName = mysql_result( $result, $i, "MedName");
		$Med_id = mysql_result( $result, $i, "MedName_id");			

		if ($Med_id != MED_OTHER) {
			if ($Med_id == $SelectedId) {
				printf( "<option value='%d' selected>%s</option>\n", $Med_id, $MedName );
			} else {
				printf( "<option value='%d'>%s</option>\n", $Med_id, $MedName );
			}
		}
	}
	if ( $SelectedId == MED_OTHER ) {	
		echo "<option value='" . MED_OTHER . "' selected >Other\n";
	} else {	
		echo "<option value='" . MED_OTHER . "'>Other\n";
	}//else
}//GenMedsList

Function GenMedsRouteList( $SelectedId) {
	global $dbConnect;
	$result = mysql_query( "SELECT * FROM MedRouteTable Order By RouteName",$dbConnect);
	$count = mysql_num_rows($result);

	// if the given id is -1, select the "Select One" entry
	if ( $SelectedId == -1 ) {
		// @warning the following "selected" attribute is invalid html, but is kept
		//          for compatibility with the pda client
		printf( "<option value='-1' selected>Select One</option>\n");
	} else {
		printf( "<option value='-1'>Select One</option>\n");
	}//else


	for ( $i=0; $i < $count; $i++) {
		$Route = mysql_result( $result, $i, "RouteName");
		$Route_id = mysql_result( $result, $i, "Route_id");			


		if ( $Route_id == $SelectedId) {
			printf( "<option value='%d' selected>%s</option>\n", $Route_id, $Route );
		} else {
			printf( "<option value='%d'>%s</option>\n", $Route_id, $Route );
		}
	}
}	
?>
