<?php
/****************************************************************************
*                                                                           *
*         Copyright (C) 1996-2005.  This is an unpublished work of          *
*                          Headwaters Software, Inc.                        *
*                             ALL RIGHTS RESERVED                           *
*         This program is a trade secret of Headwaters Software, Inc.       *
*         and it is not to be copied, distributed, reproduced, published,   *
*         or adapted without prior authorization                            *
*         of Headwaters Software, Inc.                                      *
*                                                                           *
****************************************************************************/
/*
* Variables:
* $Pro_id: the ID of the Program
* $connecton: the connection to the database
* $all: if the list will include an "all" option.  1 for yes, 0 for no
* $type: field, clinical, or all
* $preceps: should the precep list be displayed.  1 for yes, 0 for no
*/
function genAmbs_Bases_Preceps($Pro_id, $connection, $all, $type, $preceps)
{
	$AmbServ_id = -1;
	if($type == "all")
	{
		$selct = "SELECT A.AmbServ_id, A.AmbServName FROM AmbulanceServices A, ProgramSiteData P where A.AmbServ_id=P.AmbServ_id and P.Program_id=$Pro_id and P.Active=1 ORDER BY A.AmbServName";
		//echo "alert('$selct');\n";
		$result = mysql_query($selct, $connection);
	}
	else if($type == "field")
	{
		$result = mysql_query("SELECT A.AmbServ_id, A.AmbServName FROM AmbulanceServices A, ProgramSiteData P where A.Type='field' AND A.AmbServ_id=P.AmbServ_id and P.Program_id=$Pro_id and P.Active=1 ORDER BY A.AmbServName", $connection);
	}
	else if($type == "clinical")
	{
		$result = mysql_query("SELECT A.AmbServ_id, A.AmbServName FROM AmbulanceServices A, ProgramSiteData P where A.Type='clinical' AND A.AmbServ_id=P.AmbServ_id and P.Program_id=$Pro_id and P.Active=1 ORDER BY A.AmbServName", $connection);
	}
	else
	{
		$result = mysql_query("SELECT A.AmbServ_id, A.AmbServName FROM AmbulanceServices A, ProgramSiteData P where A.Type='$type' AND A.AmbServ_id=P.AmbServ_id and P.Program_id=$Pro_id and P.Active=1 ORDER BY A.AmbServName", $connection);
	}
	$count = mysql_num_rows($result);
	if($all == 1)
	{
		$i = 1;
	}
	else if($all>1)
	{
	    $i=$all;
	    $i_val = $all;
	}
	else
	{
		$i = 0;
	}
	$BaseCount = 0;
	$PrecepCount = 0;
	if( $count <= 0)
	{
		echo "</SCRIPT></HEAD>"; 
	    echo "<BODY bgcolor='#ffffff'>";
	    echo "<CENTER><BR><BR>";
		if($type !='all')
		{
			$typestr=$type;
		}
		else
		{
			$typestr='';
		}
	    //echo "There are no $typestr sites entered in the database for your program.<br>";
	    //echo "You will not be able to enter $typestr data until this gets fixed.<br>";
	    //echo "An instructor with the correct permissions must add sites in the Admin section of FISDAP.";
	    echo "There are no $typestr sites entered in the database for your program.  An instructor with the correct permissions must add sites in the Admin section before you can enter $typestr data.";
		echo "</CENTER>";
	    echo "</BODY></HTML>"; 
	    exit;
	}
	if($all == 1)
	{
		$endCount = $count + 1;
	}
	else if($all > 1)
	{
	    $endCount = $count + $all;
	}
	else
	{
		$endCount = $count;
	}
	while( $i < $endCount)
	{
		if($all > 1)
		{
	   		$AmbServ_id =  mysql_result($result, $i-$i_val, "AmbServ_id");
	    	$AmbServName =  mysql_result($result, $i-$i_val, "AmbServName");
	    }
		else if($all==1)
		{
		    $AmbServ_id =  mysql_result($result, $i-1, "AmbServ_id");
                    $AmbServName =  mysql_result($result, $i-1, "AmbServName");
		}
		else
		{
			$AmbServ_id =  mysql_result($result, $i, "AmbServ_id");
	   		$AmbServName =  mysql_result($result, $i, "AmbServName");
		}
		//echo "alert('ID is $AmbServ_id');\n";
		echo "AmbServList[$i] = new AmbServData( $AmbServ_id, \"$AmbServName\");\n";
	/* Setup Base Lists*/
	    $BaseResult = mysql_query("SELECT A.Base_id, A.BaseName FROM AmbServ_Bases A, ProgramBaseData P where A.AmbServ_id=$AmbServ_id AND A.Base_id=P.Base_id AND P.Program_id=$Pro_id and P.Active=1 ORDER BY A.BaseName", $connection);
	    $BaseResultCount = mysql_num_rows($BaseResult);
		
	    $j = 0;
 	    $First = $BaseCount;
	    while($j < $BaseResultCount)
	    {
			$Base_id =  mysql_result($BaseResult, $j, "Base_id");
	        $BaseName =  mysql_result($BaseResult, $j, "BaseName");
	        echo "BaseList[$BaseCount] = new BaseData( $Base_id, \"$BaseName\");\n";
			$j++;
	        $BaseCount++;
	    }
		
	    echo "IndexList[$i] = new IndexData($First, $BaseResultCount );\n";
		if($preceps == 1)
		{
			$PrecepListSelect = "SELECT P.FirstName, P.LastName, P.Preceptor_id FROM PreceptorData P, ProgramPreceptorData T WHERE T.Preceptor_id=P.Preceptor_id AND P.AmbServ_id=$AmbServ_id AND T.Program_id=$Pro_id AND T.Active=1 ORDER BY P.LastName";
			//$PrecepListSelect = "SELECT FirstName, LastName, Preceptor_id FROM PreceptorData WHERE AmbServ_id = $AmbServ_id AND Active=1 ORDER BY LastName";
			$PrecepResult = mysql_query($PrecepListSelect, $connection);
			$PrecepResultCount = mysql_num_rows($PrecepResult);
			$k=0;
			$PrecepFirst = $PrecepCount;
			while($k<$PrecepResultCount)
			{
				$tmp_id = mysql_result($PrecepResult, $k, "Preceptor_id");
				$tmp_first = mysql_result($PrecepResult, $k, "FirstName");
				$tmp_last = mysql_result($PrecepResult, $k, "LastName");
				$PrecepName = $tmp_last . ", " . $tmp_first;
				echo "PrecepList[$PrecepCount] = new PrecepData($tmp_id, \"$PrecepName\");\n";
				$k++;
				$PrecepCount++;
			}
			echo "PrecepIndexList[$i] = new IndexData($PrecepFirst, $PrecepResultCount);\n";
		}
		$i++;
	}
	echo "\n\nvar NumAmbServs = $count;";	
}

function genPrecep($AMB_ID, $connection, $Prog_id)//Added Prog id for precep active flag
{
	$select = "SELECT P.Preceptor_id, P.FirstName, P.LastName FROM PreceptorData P, ProgramPreceptorData T WHERE P.AmbServ_id=$AMB_ID AND P.Preceptor_id=T.Preceptor_id AND T.Program_id=$Prog_id AND T.Active=1 ORDER BY P.LastName";
	//$select = "Select Preceptor_id,FirstName,LastName From PreceptorData Where AmbServ_id=$AMB_ID AND Active=1 Order By LastName";
	$result = mysql_query($select, $connection);
	$count = mysql_num_rows($result);
	$i = 0;
	while( $i < $count)
	{   $Precept_id =  mysql_result($result, $i, "Preceptor_id");
	    $FirstName =  mysql_result($result, $i, "FirstName");
	    $LastName =  mysql_result($result, $i, "LastName");
	    echo "PrecepList[$i] = new PreceptorData( $Precept_id, \"$FirstName\", \"$LastName\");";
	    $i++;
	}
	echo " var NumPreceptors = $count";	
}

function genExtra_Bases($Pro_id, $index, $type, $first)
{
    $connection =& FISDAPDatabaseConnection::get_instance();
    $select = "SELECT "
        .       "count(A.Base_id), A.BaseName "
        .       "FROM "
        .       "AmbServ_Bases A, "
        .       "AmbulanceServices, "
        .       "ProgramBaseData P "
        .       "WHERE "
        .       "A.AmbServ_id=AmbulanceServices.AmbServ_id "
        .       "AND "
        .       "AmbulanceServices.Type='$type' "
        .       "AND "
        .       "A.Base_id=P.Base_id "
        .       "AND "
        .       "P.Program_id=$Pro_id "
        .       "AND "
        .       "P.Active=1 "
        .       "GROUP BY A.BaseName";
        echo "//$select<br>\n";
    $result = $connection->query($select);
    $First=$first;
    $BaseCount = $First;
    echo "AmbServList[$index] = new AmbServData( -15, 'All Clinical');\n";
    for($i=0;$i<sizeof($result);$i++)
    {
        $name = $result[$i]["BaseName"];
        $id = get_base_id_str($name,$Pro_id);
        echo "BaseList[$BaseCount] = new BaseData( \"$id\", \"$name\");\n";
        $BaseCount++;
    }
    echo "IndexList[$index] = new IndexData($First, ".sizeof($result).");\n";
    echo "PrecepIndexList[$index] = new IndexData(0, 0);\n";
}

function get_base_id_str($name,$program)
{
    $connection =& FISDAPDatabaseConnection::get_instance();
    $out_str = "";
    $select = "SELECT "
        .       "A.Base_id "
        .       "FROM "
        .       "AmbServ_Bases A, "
        .       "ProgramBaseData P "
        .       "WHERE "
        .       "A.BaseName=\"$name\" "
        .       "AND "
        .       "A.Base_id=P.Base_id "
        .       "AND "
        .       "P.Program_id=$program "
        .       "AND "
        .       "P.Active=1 "
        .       "";
        echo "//$select<br>\n";
    $result = $connection->query($select);
    for($i=0;$i<sizeof($result);$i++)
    {
        if($out_str=="")
        {
            $out_str = $result[$i]["Base_id"];
        }
        else
        {
            $out_str .= ", " . $result[$i]["Base_id"];
        }
    }
    return $out_str;
}

?>
