/* FAT FOOTER */
#fat-footer-wrapper {
    width: 980px;
    background-color: #dedcda;
    margin: 20px auto 0;
}

#fat-footer-wrapper a:link, #fat-footer-wrapper a:visited {
    text-decoration: none;
}

#fat-footer-wrapper a:hover,
#fat-footer-wrapper a:active,
#fat-footer-wrapper a:focus {
    text-decoration: underline;
}


#fat-footer-wrapper li {
    list-style: none;
}

#fat-footer-wrapper h2 {
    font-size: 12pt;
    font-weight: bold;
}

#block-menu-menu-our-products div.inner,
#block-menu-menu-ff-about div.inner {
    border-right: 1px solid #707070;
    height: 165px;
}

.fat-footer caption {
    font-family: "Century Gothic", sans-serif;
    font-weight: bold;
    font-size: 1.4em;
}

.fat-footer .block {
    margin: 0;
    padding: 1em 0;
}

#block-menu-menu-our-products .content,
#block-menu-menu-ff-about .content,
.fat-footer-connect .content ul.menu {
    margin-left: 15px;
}

.fat-footer, 
.fat-footer .title, 
.fat-footer a, 
.fat-footer a:link, 
.fat-footer a:visited {
    color: #707070;
}


/* FOOTER */
#footer-wrapper {
    border-top: 2px solid #F7992F;
    background-color: #f0791b;
    width: 980px;
    line-height: 1.5;
    margin: 0 auto;
}

#footer .block {
    margin: 10px 0;
    color: white;
}

#footer a, .footer a:link, .footer a:visited {
    color: white;
    text-decoration: none;
}

#footer a:hover, #footer a:active, #footer a:focus {
    text-decoration: underline;
}