
/* Basic Typography & Colors
-------------------------------------------------------------- */
/* Add general site styling here for typography and background */
body {
  font-size: 75%;   /* also set in fusion_starter.info: settings[base-font-size] = font-size-12 */
  font-family: Verdana, Geneva, sans-serif;
}

/* Default link styles - separate a:visited for a different visited link style */
a,
a:link {
  color: #229d9d;
  text-decoration: underline;
}

a:visited {
  color: #5625bd;
  text-decoration: underline;
}

/* Hover/active link styles. Don't forget :focus for accessibility */
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: #226f9d;
}


/* Specific Typography
-------------------------------------------------------------- */
#site-name {
}


/* HTML Elements
-------------------------------------------------------------- */
body {
}

/* Site Info
-------------------------------------------------------------- */
/* Add float here to put logo and site name side by side, also add margins as
  needed */
#logo {
}

/* Link and hover styles for site name */
#site-name a:link,
#site-name a:visited,
#site-name a:hover,
#site-name a:active {
}

/* Typography for site slogan */
#slogan {
}


/* Regions
-------------------------------------------------------------- */

/* All Regions
-------------------------------------------------------------- */
.page {
  width: 1000px;
}


/* Site info + Header Region
-------------------------------------------------------------- */
.header-group {
}



/* Primary Menu
/-------------------------------------------------------------- */
/* Add general styles for primary menu here, such as typography, borders, floats,
  or spacing above/below */
.primary-menu {
  border-top: 2px solid #F7992F;
  border-bottom: 2px solid #F7992F;
  font-weight: bold;
  font-size: 14px;
  font-family: "Century Gothic", Arial, Helvetica, sans-serif;
  width: 650px;
  height: 35px;
  background: #f0791b;
  margin: 0;
  
  background: -moz-linear-gradient(top, #e59944 0%, #f0791b 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e59944), color-stop(100%,#f0791b));
  background: -webkit-linear-gradient(top, #e59944 0%,#f0791b 100%);
  background: -o-linear-gradient(top, #e59944 0%,#f0791b 100%);
  background: -ms-linear-gradient(top, #e59944 0%,#f0791b 100%);
  background: linear-gradient(top, #e59944 0%,#f0791b 100%);
  /*
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e59944', endColorstr='#f0791b',GradientType=0 );
  */
}



#primary-menu-inner {
  margin: 0;
}

.primary-menu ul li a, .primary-menu ul li .nolink {
  padding: 6.5px;
}

/* styles for Superfish primary menu */
.primary-menu-inner ul.sf-menu, .primary-menu-inner ul.menu {
  /*margin-bottom: 0;*/
}

/* Link style for top level menu items, add padding here */
.primary-menu-inner ul.sf-menu a, .primary-menu-inner ul.menu a,
.primary-menu-inner ul.sf-menu a:visited, .primary-menu-inner ul.menu a:visited {
  color: white;
}

.primary-menu-inner ul.sf-menu a:hover, .primary-menu-inner ul.menu a:hover,
.primary-menu-inner ul.sf-menu a:active, .primary-menu-inner ul.menu a:active,
.primary-menu-inner ul.sf-menu a:focus, .primary-menu-inner ul.menu a:focus,
.primary-menu-inner ul.sf-menu li.sfHover {
  color: white;
  background: #e59944;
 
  background: -moz-linear-gradient(top, #f0791b 0%, #e59944 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0791b), color-stop(100%,#e59944));
  background: -webkit-linear-gradient(top, #f0791b 0%,#e59944 100%);
  background: -o-linear-gradient(top, #f0791b 0%,#e59944 100%);
  background: -ms-linear-gradient(top, #f0791b 0%,#e59944 100%);
  background: linear-gradient(top, #f0791b 0%,#e59944 100%);
  /* 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0791b', endColorstr='#e59944',GradientType=0 );
  */
}

/* These are the top level menu items, add border-right here for separators */
.primary-menu-inner ul.sf-menu li, .primary-menu-inner ul.menu li {
  border-right: 2px solid #F7992F;
  text-align: center;
  width: 161px;
  height: 35px;
}

/* modify first primary menu item to make room for Fisdap logo */
.primary-menu-inner ul.sf-menu > li.first:first-child a {
  padding: 1px 0 0 0;
  height: 34px;
  text-align: center;
  width: 161px;
}

/* Add border-right: 0; here to remove separator on last menu item */
.primary-menu-inner ul.sf-menu li.last, .primary-menu-inner ul.menu li.last {
  border-right: 0;
}


/* Style for container of dropdown, add background or border */
.primary-menu-inner ul.sf-menu ul, .primary-menu-inner ul.menu ul {
  width: 161px;
  border-top-right-radius: 0;
 
}

/* Style for individual dropdown menu items, add border-bottom for separators */
.primary-menu-inner ul.sf-menu li li, .primary-menu-inner ul.menu li li {
  background: #E59944;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  border-bottom: 2px solid #ffca6f;
  border-right: 0;
  height: auto !important;
}

.primary-menu-inner ul.sf-menu li li.last, .primary-menu-inner ul.menu li li.last {
  border-bottom: none;
}

.primary-menu-inner ul.sf-menu li li li, .primary-menu-inner ul.menu li li li {
}

/* Style for hover of dropdown menu items (add background-color here) */
/*.primary-menu-inner ul.sf-menu li:hover,*/
.primary-menu-inner ul.sf-menu li ul li a:hover,
.primary-menu-inner ul.sf-menu li ul li a:active,
.primary-menu-inner ul.sf-menu li ul li a:focus {
  background: #ffca6f;
  color: #000;
  width: 148px;
  /*filter: none;*/
}


/* nav_bar region */
#nav-bar {
    width: 326px;
    margin: 0;
}

#nav-bar-drop-shadow {
    background: url("../images/lowernavgrad-trans.png") repeat-x transparent;
    height: 10px;
    /*
    margin: 0 auto;
    position: relative;
    top: 37px;
    */
    margin: 0 10px;
    position: relative;
    top: 39px;
    width: 980px;
    z-index: 60;
    /*
    background-color: #F7992F;
    height: 2px;
    */
}

#nav-bar-break {
    /*
    border-left: 2px solid #DEDCDA;
    border-right: 2px solid #DEDCDA;
    */
    clear: both;
    
    height: 20px;
    margin: 0 auto;
    width: 976px;
}


/* Secondary menu
-------------------------------------------------------------- */
/* This menu usually appears in the header as a set of simple text links */
.secondary-menu {
  /*
  font-size: 14px;
  font-weight: bold;
  position: relative;
  right: -510px;
  top: 10px;
  float: none;
  */
/*

  width: 195px;
  background-color: #5E5E5E;
*/
}

/* Set general style for menu here -- background, alignment, etc. */
.secondary-menu-inner ul.links {

}

/* Add a border-right here for a separator */
.secondary-menu-inner ul.links li {
/*
  border-right: 2px solid #414141;
  padding: 0 10px;
*/
}

/* Add border-right: 0; here to remove right separator on last menu item */
.secondary-menu-inner ul.links li.last {
  /* border-right: 0; */
}

/* Styles for links */
.secondary-menu-inner ul.links li a:link,
.secondary-menu-inner ul.links li a:visited {
  /* color: #cbcbcb; */
}

.secondary-menu-inner ul.links li a:hover,
.secondary-menu-inner ul.links li a:focus,
.secondary-menu-inner ul.links li a.active {
  /* color: white; */
}

/* Header - Search
-------------------------------------------------------------- */
/*
.search-box {
}

.search-box-inner {
}

.search-box-inner form#search-theme-form {
}

.search-box-inner input#edit-search-theme-form-header {
}
*/

/*  Main Area (content + sidebars)
-------------------------------------------------------------- */
.main {
}

/* Sidebar Regions
-------------------------------------------------------------- */
/* Sidebar widths can be controlled through theme settings */
.sidebar-first {
}

.sidebar-last {
}



/* Content Regions
-------------------------------------------------------------- */
.content {
}

/*  Footer Region
-------------------------------------------------------------- */
.footer {
  margin-bottom: 10px;
}

/* Page titles
/-------------------------------------------------------------- */
/* Page and full node titles */
h1.title {
}

/* Default node styles
/-------------------------------------------------------------- */
/* Change unpublished and preview colors for dark background themes */
.node-unpublished {
  background-color: #fff4f4;
}
.preview .node {
  background-color: #ffffea;
}

/* Typography for node titles */
h2.title {
  margin: 0;
  line-height: 1;
}

/* Colors and styles for linked node titles, ie. teaser listing at /node */
h2.title a:link,
h2.title a:visited {
}

h2.title a:hover,
h2.title a:focus,
h2.title a:active {
}

/* Separators and padding for node teasers */
.teaser {
  background-color: #ffffff;
  padding: 4px;
}

/* Author/date info */
.meta {
  color: #707070;
  font-style: italic;
  margin-bottom: .5em;
}

.submitted {
}

/* Links for nodes (taxonomy, commenting, read more, etc) */
.node ul.links li {
}
.node ul.links a {
}

div.node {

}


/* Only more/read more links */
div.node .read-more a,
div.node .more-link a {
}

/* Drupal Messages
/-------------------------------------------------------------- */
/* General style for all errors/messages (border, padding, etc.) */
div.content-messages div.messages,
div.content-help div.help {
  -moz-border-radius: 11px 11px 11px 11px;
  -webkit-border-radius: 11px 11px 11px 11px;
  border-radius: 11px 11px 11px 11px;
}

/* Status messages: green */
div.content-messages-inner div.status {
  border-color: #84c724;
  background-color: #cfeba7;
}

/* Warning messages: yellow */
div.content-messages-inner div.warning {
  border-color: #f6c61f;
  background-color: #faee91;
}

/* Error messages: red */
div.content-messages-inner div.error {
  border-color: #ed2125;
  background-color: #f2dad2;
}

/* Help messages: blue */
div.content-help-inner div.help {
  border-color: #30c2ea;
  background-color: #d2ecf2;
}

/* Error that appears when a required form field is not filled out */
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  /* border: 1px solid #aa1144;*/
  border: 1px solid #ed2125;
}

/* "New" text and required form field asterisk (default = red) */
.marker,
.form-required {
  /*color: #aa1144;*/
  color: #ed2125;
}

/* Default block title styles
/-------------------------------------------------------------- */
h2.block-title {
}

/* Breadcrumbs
-------------------------------------------------------------- */
.breadcrumbs {
}

.breadcrumbs a:link,
.breadcrumbs a:visited {
}

/* Pagers
-------------------------------------------------------------- */
ul.pager {
}

ul.pager li {
}

ul.pager a,
ul.pager li.pager-current {
  border-color: #333;
}

ul.pager li.pager-current {
  background-color: #777;
  color: #fff;
}

ul.pager a:hover,
ul.pager a:active,
ul.pager a:focus {
  background-color: #777;
  border-color: #333;
  color: #fff;
}

/* Forms
/-------------------------------------------------------------- */
/* Typography and backgrounds for all form buttons */
form input.form-submit {
  margin: 2px;
  padding: 3px 5px;
}

/* Hover style for form buttons */
form input.form-submit:hover,
form input.form-submit.hover,
form input.form-submit:focus {
}

/* Typography, background, borders, padding for form fields */
.form-item input,
.form-item select,
.form-item textarea {
}

/* Remove backgrounds and border on radios and checkboxes */
.form-item .form-radio,
.form-item .form-checkbox {
  background: none;
  border: none !important;
}

/* Fieldset wrapper around groups of form elements -- add border here */
fieldset {
}

/* Typography and spacing for legend of fieldsets */
fieldset legend {
}

/* Link style for legend of fieldsets */
fieldset legend,
legend.collapse-processed,
legend.collapse-processed a:link,
legend.collapse-processed a:visited {
}

/* Custom icons on (open) collapsible fieldsets */
html.js fieldset.collapsible legend a:link,
html.js fieldset.collapsible legend a:visited {
}

/* Custom icons on (closed) collapsible fieldsets */
html.js fieldset.collapsed legend a:link,
html.js fieldset.collapsed legend a:visited {
}


/* Tables
-------------------------------------------------------------- */
table {
}

/* Body of tables */
tbody {
  border-top: 1px solid #ccc;
}

/* Header of tables */
thead th,
th {
  border-bottom: 3px solid #ccc;
}

tbody th {
  border-bottom: 1px solid #ccc;
}

/* Alternating row background styles */
tr.even,
tr.even td {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
}

tr.odd,
tr.odd td {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

td.active {
}

tr.drag td,
tr.drag-previous td {
  color: #000;
}


/* Maintenance Page
/-------------------------------------------------------------- */
/* Maintenance page tpl file in Fusion Core has simplified layout, but you can
  also add specific styles, such as a background, just for your offline page */
.in-maintenance  {
}


/*--------------------------------------------------------------*/
/* Module styles
/-------------------------------------------------------------- */


/* Book
/-------------------------------------------------------------- */
.book-navigation .menu {
  border-top: 1px solid #ccc;
}

.book-navigation .page-links {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}


/* Comments
/-------------------------------------------------------------- */
/* Style for each individual comment */
div.comment {
}

/* Subject (title) of each comment */
div.comment h3.title {
}

/* Links (edit, reply, delete) for each comment */
div.comment div.links a,
div.comment ul.links a {
}

/* Alternating styles for even/odd comments */
.comments div.odd {
  background-color: #fff;
}

.comments div.even {
  background-color: #eee;
}

/* A special highlight style for a comment by the author of the node */
.comments div.comment-by-author {
  background-color: #ddd;
}

/* Comment signatures */
.signature {
  border-top: 1px solid #d6ddb9;
}

/* User avatars in comments */
.comment-wrapper .picture img {
}


/* Forum
/-------------------------------------------------------------- */
#forum .description {
}

.forum-topic-navigation {
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}


/* Poll
/-------------------------------------------------------------- */
div.poll div.bar {
  background-color: #ddd;
}

div.poll div.bar div.foreground {
  background-color: #999;
}


/* Profiles
/-------------------------------------------------------------- */
.profile .picture {
  float: none;
}

/* Styles for sub-headings on user profiles */
.profile dt {
  background-color: #ccc;
}
