/* SEARCH */
#fisdap-support-search > div {
    float: left;
}
.block-inline_ajax_search .inner {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}

.block-inline_ajax_search {
    position: inherit;
    margin-bottom: 0;
    z-index: 70 !important;
}

/* temporary - only needed if title exists (block settings) */
.block-inline_ajax_search h2 {
    margin: 0;
}

#inline_ajax_search_container {
    padding: 8px 0 8px 0;
    overflow: hidden;
}

#inline_ajax_search {
    width: 280px;
    display: block;
    float: left;
    height: 20px;
    color: #707070;
}

.inline_ajax_search_submit {
    height: 22px;
    margin: 0 0 0 5px !important;
    /*
    width: 55px;
    font-size: 12px !important;
    padding: 0;
    */
    font-size: inherit !important;
    color: #707070 !important;
}

#inline_ajax_search_results {
    padding: 5px;
    background-color: #F0EEEB !important;
    border: 2px solid #DEDCDA;
    /*margin: 0 auto;
    position: fixed;*/
    position: inherit;
    width: 227px !important;
    opacity: 1 !important;
}

#inline_ajax_search_results .searchresult {    
    padding-top: 20px;
}

#inline_ajax_search_results .searchresult h3{
    font-size: 13px;
    font-weight: normal;
    font-family: "Tahoma", sans-serif;
}


/* Modified styles for LARGE search form */
#fisdap-support-search-wrapper {
    padding: 0 0 48px 0;
    border-bottom: 1px solid #808080;
}
#fisdap-support-search form {
    padding-right: 20px;
}
#fisdap-support-search #inline_ajax_search_input_wrapper {
    padding: 20px;
    background-color: #808080;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
#fisdap-support-search #inline_ajax_search {
    float: none;
    width: 570px;
    height: auto;
    font-size: 24px;
}
#fisdap-support-search .inline_ajax_search_submit {
    height: auto;
    margin: 0 0 0 5px !important;
    /*
    width: 55px;
    font-size: 12px !important;
    padding: 0;
    */
    font-size: 40px !important;
    color: #707070 !important;
}
#fisdap-support-search #inline_ajax_search_results {
    position: inherit;
    margin-left: 8px;
    padding: 41px 17px 17px 17px;
    width: 565px !important;
    font-size: 18px;
}
#fisdap-support-search #inline_ajax_search_results .searchresult {
   /* padding: 40px 16px 16px 16px;*/
    line-height: 24px;
}
#fisdap-support-search #inline_ajax_search_results .searchresult h3 {
    font-size: 18px;
}

/* Search info block accompanying LARGE search form */
#fisdap-support-search-info {
    padding: 9px 0 0px 0px;
    font-size: 14px;
    line-height: 24px;
}
.fisdap-support-link-email, .fisdap-support-link-phone {
    padding: 4px 0px 4px 48px;
    line-height: 28px;
    font-size: 16px;
}
.fisdap-support-link-email {
    background: url('../images/contact_icon_email.png') left 6px no-repeat;
}
.fisdap-support-link-phone {
    background: url('../images/contact_icon_phone.png') 8px center no-repeat;
}

