
/**
* @file
* Styling for the inline ajax search module
*/
.searchthrobber { 
  width: 16px;
  height: 16px;
  margin: 2px;
  background: transparent url(../images/throbber.gif) no-repeat;
  float: left;
}

#block-inline_ajax_search-0 {
	position: absolute;
	z-index: 20;
}

#block-inline_ajax_search-0 #inline_ajax_search_results {
	background-color: #EBEBEB;
	clear: both;
	opacity: 0.9;
	padding: 8px;
	width: 400px;
}