/*#pid-home #banner-container {
	border-left: 2px solid #DEDCDA;
    border-right: 2px solid #DEDCDA;
    width: 976px;
}
*/

#pid-home #content-inner {
	margin-bottom: 0;
}

/* CAROUSEL - Nivo Slider */
.carousel-home-page {
    width: 650px;
    margin-left: 10px;
	height: 290px;
}

.carousel-home-page .inner {
    margin: 0;
}

.carousel-home-page .nivoSlider {
    height: 285px !important;
}


/* BUTTONS */
.home-page-getstarted {
    width: 330px;
	/*width: 326px;*/
    height: 270px;
    background: url('../images/home_page_texture_bg.png') repeat-x;
}

a.getintouch-button, a.createaccount-button {
    /*background-color: white;*/
    display: block;
    height: 90px;
    width: 280px;
    text-decoration: none;
}

a.getintouch-button {
    background: url('../images/get_in_touch-button-sprite.png') transparent top;
    margin: 30px auto 0 auto;
}

a.getintouch-button:hover, a.getintouch-button:active {
    background: url('../images/get_in_touch-button-sprite.png') transparent bottom;
}

a.createaccount-button {
    background: url('../images/create_an_account-button-sprite.png') transparent top;
    margin: 25px auto 0 auto;
}

a.createaccount-button:hover, a.createaccount-button:active {
    background: url('../images/create_an_account-button-sprite.png') transparent bottom;
}


a.faqs-button, a.accreditation-button, a.community-button {
	display: block;
	height: 170px;
	width: 300px;
	text-decoration: none;
	float: left;
}

a.faqs-button {
	background: url('/sites/default/files/faqs-button-sprite.png') transparent top;
	margin-right: 20px;
}

a.faqs-button:hover, a.faqs-button:active {
	background: url('/sites/default/files/faqs-button-sprite.png') transparent bottom;
}

a.accreditation-button {
	background: url('/sites/default/files/accreditation-button-sprite.png') transparent top;
	margin-right: 20px;
}

a.accreditation-button:hover, a.accreditation-button:active {
	background: url('/sites/default/files/accreditation-button-sprite.png') transparent bottom;
}

a.community-button {
	background: url('/sites/default/files/community-button-sprite.png') transparent top;
}

a.community-button:hover, a.community-button:active {
	background: url('/sites/default/files/community-button-sprite.png') transparent bottom;
}


/* WHAT'S NEW BLOCK */
block.whats-new-ticker {
	margin-bottom: 0;
}

.whats-new-ticker .view-Announcements {
	border: 2px solid #DEDCDA;
    padding: 10px;
	min-height: 80px;
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border-radius: 7px 7px 7px 7px;
	border-radius: 7px 7px 7px 7px;
}

.whats-new-ticker .view-Announcements .view-header {
	float: left;
	margin-right: 15px;
	width: 200px;
}

.whats-new-ticker .view-Announcements .view-content {
	width: 701px;
	float: left;
}
