/**
 * @file
 * Put your custom CSS and CSS overrides in this file
 */

/* HOW TO USE LOCAL.CSS */
/* Put your custom CSS and CSS overrides in this file and  */
/* rename it local.css.  By restricting your CSS changes   */
/* to local.css, your changes will not be overwritten when */
/* upgrading to a new version of this theme.  You can also */
/* use a local-rtl.css file for the equivalent in RTL.     */

/* Steps to activate local.css:                       */
/* 1. Add your custom CSS to this file                */
/* 2. Rename this file to local.css                   */
/* 3. Clear cached data at admin/settings/performance */



/* HELPER CODE FOR SETTING BACKGROUND IMAGES */

/* Add a custom header background (above navbar) here */
/*z
#header-group {
}
*/
/* Add background image to preface top region (right below the navbar)  */

/* IMPORTANT: If there are no blocks in the preface top region, set     */
/* an image here, and set a height for the region.  Also, if you are    */
/* using a fluid width layout of less than 100%, you will need to set   */
/* a width.                                                             */
/*
#preface-top-container{
}
*/
/* If there are blocks in the preface top region, use the following instead */
/*
#preface-top {
}
*/

@import url('home.css');
@import url('search.css');
@import url('pages.css');
@import url('footers.css');

#header-wrapper {
    width: 980px;
    margin: 0 auto;
}

.header-menu {
    margin: 6px 0;
}


.header-menu ul {
    list-style: none outside none;
    float: right;
    font-size: 14px;
}

#block-menu-menu-header {
    margin: 5px 0;
    padding: 0;
}

ul {
    margin-top: -8px;
}

h1, .header_1, h2, .header_2, h3, .header_3, h4, .header_4, h5, .header_5, h6 {
    color: #707070;
    font-family: "Century Gothic", "Helvetica", "Arial", sans-serif;
}

h2, h3, h4, h5, h6 {
    margin:0px 0px 5px 0px;
}

h1, .header_1 {
    margin-top:3px;
    font-size: 20pt;
}

h2, .header_2 {
    font-size: 18pt;
    font-weight: normal;
    line-height: normal;
}

h3, .header_3 {
    color: #f08632;
    font-size: 12pt;
    font-weight: bold;
    margin-right: 8px;
}

h4, .header_4 {
    font-family: "Tahoma", "Verana", "Geneva", sans-serif;
    font-size: 13pt;
    font-weight: normal;
    line-height: normal;
}

h5, .header_5 {
    font-family: "Tahoma", "Verana", "Geneva", sans-serif;
    font-size: 11.5pt;
    font-weight: normal;
    line-height: normal;
}

body {
    font-family: "Tahoma", "Verana", "Geneva", sans-serif;
    color: #000000;
}

body a:link {
    color: #229d9d;
}

body a:hover {
    color: #226f9d;
}

body a:visited {
    color: #2526bd;
}

body table {
    border-collapse: separate;
}

/*
#main-wrapper, #preface-container, #postscript-wrapper {
    border-left: 2px solid #dedcda;
    border-right: 2px solid #dedcda;
    width: 976px;
    margin: 0 auto;
}
*/

#banner-container {
    margin-bottom: 20px;
}

#banner-container .block {
    margin-bottom: 0;
}

/*
#banner-container .content {
    margin-bottom: -5px;
}
*/

/*
#preface-container {
    padding-top: 20px;
}
*/

p {
    margin:5px 0px 1em 0px;
}

li {
    margin-bottom: .5em;
}

.node.teaser .content {
    margin: 10px;
}

.node.teaser p {
   /* display: inline; */
}

.read-more {
    padding: 10px;
    text-align: right;
}

.node div.links {
    /*height: 70px;*/
    background-color: #C6C1BC;
    font-weight: bold;
    padding: 4px 4px;
    margin: -4px;
}

div.links ul.links {
    overflow: hidden;
    margin: 0;
    display: block !important;
}

.node div.terms {
    background-color: #D2ECF2;
    font-weight: bold;
    line-height: inherit;
    margin: 0 -4px;
    padding: 0 4px 5px;
}


/* SOCIAL */
li.fb_social_like, li.tweetbutton {
    float: left;
}

/*
li.fb_social_like, li.tweetbutton {
    margin: 0 !important;
}

div.tweetbutton {
    margin-top: 3px;
}

.tweetbutton {
    float: none;
}
*/


dfn {
    font-style: normal;
}

.caption {
    color: #999;
    font-size: 85%;
    font-weight: normal;
    font-style: italic;
    line-height: normal;
    text-align: center;
    margin-bottom: 2em;
}


/* CAROUSEL - Nivo Slider */
.nivo-controlNav {
    bottom: 0;
}


/* content_top region */
#content-top .block .inner {
    margin: 0;
}

#content-top .sidebar {
    width: 700px;
}


/* Drupal messages and help */
.content-messages-inner, .content-help-inner {
    margin: 0 10px;
}


/* mediaelement.js customizations */
.node-type-podcast .mejs-container, audio {
  margin: 10px 0;
}


/* Fisdap custom sidebar */
.testimonial_sidebar div {
    background-color: #E3DFD8;
    padding:15px;
}

.sidebar div {
    background-color: #655d57;
    color: #FFFFFF;
    padding:15px;
}

.sidebar div a, div.testimonial_stats a {
    color: #87d7e7;
    text-decoration: underline;
}

.sidebar div a:active, div.testimonial_stats a:active {
    color: #b4d9e1;
}

.sidebar h1, .sidebar h2 {
    color: #FFFFFF;
    font-size:15pt;
    font-weight: bold;
    line-height: normal;
}

div.testimonial_stats h3, .sidebar h3 {
    font-family: "Century Gothic", "Helvetica", "Arial", sans-serif;
    color: #FFEB68;
    font-weight: normal;
}

.sidebar h3.number, .sidebar h3 .number {
    font-size:20pt;
}
.sidebar div div {
    padding:0px;
    margin:0px;
}

/* Custom blog/whats_new styles */
body#pid-blog h1.title {
    display: none; /* Hide the page title: instead a block w/ image appears at content-top */
}
body.blog .node.teaser, body.whats-new .node.teaser {
    background-color: transparent;
}
body.blog .node.teaser .content, body.whats-new .node.teaser .content {
    margin: 10px 0 0 0;
}
body.blog .node h1.title, body.whats-new .node h1.title, body.blog .node h2.title, body.whats-new .node h2.title {
    color: #707070;
    margin-bottom: 5px;
}
body.blog .node h1.title a, body.whats-new .node h1.title a, body.blog .node h2.title a, body.whats-new .node h2.title a {
    text-decoration: none;
    color: #707070;
}
body.blog .node span.actual-title, body.whats-new .node span.actual-title {
    padding-right: 10px;
}
body.blog .node span.author-name, body.whats-new .node span.author-name {
    font-size: 70%;
    color: #F08632;
    text-transform: uppercase;
    white-space: nowrap;
}
body.blog .node span.author-name a, body.whats-new .node span.author-name a {
    color: #F08632;
}
body.blog .node div.published-date, body.whats-new .node div.published-date {
    color: #A0A0A0;
}
.comment-logout-link {
    padding-left: 10px;
    font-size: 80%;
}
/* comment styles */
body.blog.round-corners-7 div.comment, body.whats-new.round-corners-7 div.comment, body.page-comment.round-corners-7 div.comment {
    padding: 0;
    margin: 10px 0 30px 0;
    border-radius: 0;
    border: 0;
}
body.blog div.comment span.comment-author, body.whats-new div.comment span.comment-author, body.page-comment div.comment span.comment-author {
    padding-right: 8px;
    font-size: 110%;
    font-weight: bold;
    color: #F08632;
    text-transform: uppercase;
    white-space: nowrap;
}
body.blog .comments div.even, body.whats-new .comments div.even {
    background-color: white;
}
#comments h2.title {
    display: none;
}
#comments span.new, div.comment span.new {
    display: none;
}
/* sidebar styles */
body.blog .sidebar div, body.whats-new .sidebar div {
    background-color: #F0EEEB;
    color: #707070;
}
body.blog .sidebar h1, body.whats-new .sidebar h1, body.blog .sidebar h2, body.whats-new .sidebar h2 {
    color: #707070;
}
body.blog.round-corners-7 .main-wrapper .block .inner, body.whats-new.round-corners-7 .main-wrapper .block .inner {
    border-radius: 0;
}
/* Fisdap follow / newsletter / rss block styles */
#block-block_fisdap-1 input#mce-EMAIL {
    width: 100%;
}
#block-block_fisdap-1 h2.block-title {
    margin-bottom: 5px;
}
#block-block_fisdap-1 .fisdap-block-follow-middle {
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
    border-top: 1px solid #A0A0A0;
    border-bottom: 1px solid #A0A0A0;
}
#block-block_fisdap-1 a {
    color: #707070;
    text-decoration: none;
}
#block-block_fisdap-1 a:hover {
    color: #87D7E7;
}
#block-block_fisdap-1 input.green-button {
    padding: 0.4em 1em;
}
/* Make green button float right */
#block-views-whats_new-block_1 div.views-field-field-event-rsvp-url-url {
    text-align: right;
    padding-top: 10px;
}
#block-views-whats_new-block_1 div.views-field-field-event-rsvp-url-url span.ext {
    display: none;
}
#block-block_fisdap-1 .green-button {
    text-align: right;
}
/* Featured posts block styles */
#block-views-featured_posts-block_1 .content ul, #block-views-featured_posts-block_1 .content li,
    #block-views-similarterms-block_1 .content ul, #block-views-similarterms-block_1 .content li {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}
#block-views-featured_posts-block_1 .content ul li {
    padding-bottom: 8px;
}
#block-views-featured_posts-block_1 a, #block-views-similarterms-block_1 a, #block-views-whats_new-block_1 .views-field-title a {
    font-size: 16px;
    color: #707070;
    text-decoration: none;
}
#block-views-featured_posts-block_1 a:hover, #block-views-similarterms-block_1 a:hover, #block-views-whats_new-block_1 .views-field-title a:hover {
    color: #87D7E7;
}


    /* floating menu */
.stickyblock {
    position: relative;
    z-index: 5;
    margin-top: 34px;
}


.fusion-list-bottom-border .inner ul li {
    padding: 5px 8px;
}

.fusion-list-bottom-border.dk-gray-background li.active {
    background-color: #999;
}

.fusion-list-bottom-border li.first {
  -moz-border-radius: 7px 7px 0px 0px;
  -webkit-border-radius: 7px 7px 0px 0px;
  border-radius: 7px 7px 0px 0px;
}

.fusion-list-bottom-border li.last {
  -moz-border-radius: 0px 0px 7px 7px;
  -webkit-border-radius: 0px 0px 7px 7px;
  border-radius: 0px 0px 7px 7px;
}


div.button {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    background-color: #f08632;
    padding:5px;
    margin: 5px;
    text-align:center;
}

div.button a {
    color: white;
    font-size: 12pt;
    font-weight: bold;
    text-decoration:none;
}


/* LANDING PAGES */
.node-type-landing hr {
    border: none 0;    
    height:3px;
    color: #f08632;
    background-color: #f08632;
    margin:0px;
}

#header-wrapper.landing_page {
    height: 150px;
    background: #bab6b3; /* Old browsers */
    background: -moz-linear-gradient(top, #bab6b3 0%, #655d57 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bab6b3), color-stop(100%,#655d57)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #bab6b3 0%,#655d57 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #bab6b3 0%,#655d57 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #bab6b3 0%,#655d57 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bab6b3', endColorstr='#655d57',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #bab6b3 0%,#655d57 100%); /* W3C */    
    border-bottom: solid 10px #f08632;
}

#landing-logo {
    margin-left:50px;
    margin-right:5px;
}

#landing-title {
    margin: 0px;
    padding: 15px;
    font-family: "Century Gothic", "Helvetica", "Arial", sans-serif;
    color: white;
    font-size: 24pt;
    font-weight:normal;
    border-left: solid white 2px;
    line-height: 100%;
}


.dotted hr {
    border-top: 4px dashed #999;
    border-left: none;
    border-right: none;
    border-bottom: none;
}


.money {
    color: #c1ff9b;
    font-family: "Century Gothic", "Helvetica", "Arial", sans-serif;
    font-size:16pt;
    font-weight: normal;
    margin-left: 15px;
}

.money_green {
    color: #c1ff9b;
}


#utilities {
    margin-top: 10px;
}

.trademark {
    font-size: 70%;
    position: relative; 
    top: -0.5em;
}

div.content-messages div.messages {
    border-width: 1px;
    padding: 10px;
}
