/* $Id: mix-and-match-style.css,v 1.5 2011/01/15 16:03:46 aross Exp $ */

/**
 * @file
 * General styling used by all color schemes
 * and colors for default gray base color scheme.
 * Some of the colors are overridden in other
 * schemes (see base-colors.css) but some are
 * used by all.
 */

/* ---------------------- GENERAL HTML ELEMENTS ---------------------------- */

/*
body {
  font-size: 75%;
  font-family: "Myriad Pro", Myriad, "Trebuchet MS", Arial, Helvetica, sans-serif;
  line-height: 140%;
}


h1 {
  font-size: 160%;
}

h1, h2 {
  margin: 0 0 0.5em 0;
}

h3, h4, h5, h6 {
  margin: 0.2em 0;
}

p {
  margin: 0.5em 0;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}
*/


/* ------------------------------- REGIONS ----------------------------- */

/*
.preface-top-wrapper,
.main-wrapper,
.postscript-bottom-wrapper,
.footer-wrapper {
  margin: 0;
  padding: 0;
}

#main {
  padding-top: 5px;
}

#postscript-bottom {
  padding-bottom: 5px;
}

#content-region-inner,
#content-help-inner,
#content-messages-inner {
  margin: 5px 10px;
}

.main-wrapper #content-content .node .first .inner {
  margin-right: 30px;
}

.node-top {
  margin-bottom: 10px;
}

.footer-message-text {
  text-align: center;
  padding: 15px 0;
}

#footer {
  font-size: 100%;
}
*/

/* ---------------------------- BLOCKS ------------------------------------- */

/*
h2.block-title {
  font-size: 145%;
  font-weight: normal;
  padding: 10px 10px 0 10px;
  margin-bottom: 0;
}

.block .inner .content {
  padding: 10px;
}

.main-wrapper .block .inner,
.preface-top-wrapper .block .inner,
.postscript-bottom-wrapper .block .inner,
.footer-wrapper .block .inner {
  margin: 5px;
}

.footer-wrapper .block .inner {
  margin-bottom: 10px;
}

.node-top .block .inner,
.node-bottom .block .inner {
  margin: 0;
}

.preface-top-wrapper .block .inner {
  margin: 10px 5px 0 5px;
}

.preface-top-wrapper .block.first .inner,
.postscript-bottom-wrapper .block.first .inner,
.footer-wrapper .block.first .inner {
  margin-left: 0;
}

.preface-top-wrapper .block.last .inner,
.postscript-bottom-wrapper .block.last .inner,
.footer-wrapper .block.last .inner {
  margin-right: 0;
}
/*

/* Layout specific settings */
/*
.sidebars-split .sidebar-first .block .inner {
  margin-left: 0;
}

.sidebars-split .preface-bottom .block.last .inner,
.sidebars-split .postscript-top .block.last .inner,
.sidebars-split .sidebar-last .block .inner {
  margin-right: 0;
}

.sidebars-both-first .sidebar-first .block .inner {
  margin-left: 0;
}

.sidebars-both-first .main-content .block .inner,
.sidebars-both-first .preface-bottom .block.last .inner,
.sidebars-both-first .postscript-top .block.last .inner {
  margin-right: 0;
}

.sidebars-both-first .sidebar-last .block .inner {
  margin-right: 5px;
}

.sidebars-both-last .main-content .block .inner,
.sidebars-both-last .preface-bottom .block.first .inner,
.sidebars-both-last .postscript-top .block.first .inner {
  margin-left: 0;
}

.sidebars-both-last .sidebar-first .block .inner {
  margin-right: 0;
}

.sidebars-both-last .sidebar-last .block .inner {
  margin-left: 5px;
}

.preface-top-wrapper .block .inner,
.main-wrapper .block .inner,
.postscript-bottom-wrapper .block .inner,
.footer-wrapper .block .inner,
.footer-message .block .inner {
  padding: 0;
}

.header-group .block,
.main-wrapper .block,
.preface-top-wrapper .block,
.postscript-bottom-wrapper .block,
.footer-wrapper .block {
  margin: 0;
}
*/

/* ------------------------ NODE STYLES ------------------------------------ */
/*
.block .node .inner .content {
  padding: 0;
}
*/

/* Fix for node top and bottom blocks */
/*
.block .node .inner .node-top .inner .content,
.block .node .inner .node-bottom .inner .content {
  padding: 10px;
}
*/

/* Change unpublished and preview colors for dark background themes */
/*
.node-unpublished {
  background-color: #fff4f4;
}
.preview .node {
  background-color: #ffffea;
}
*/

/* Breadcrumbs */
/*
.breadcrumb {
  margin-top: 10px;
  margin-left: 20px;
}
*/

/* Separators and padding for node teasers */
/*
.teaser {
  padding-bottom: 10px;
}

.teaser .inner .content {
  padding: 5px 10px;
}

.teaser h2.title {
  margin-bottom: 5px;
}
*/

/* Author/date info */
/*
.submitted {
  font-size: 85%;
}

.node .picture {
  float: left;
  margin: 5px 15px 10px 10px;
}
*/

/* Links for nodes (taxonomy, commenting, read more, etc) */
/*
.node div.links {
  padding: 5px 10px;
  margin: 5px 0;
}

.node div.terms {
  margin: 0;
  padding: 5px 0;
}
.node ul.links {
  padding: 0;
  margin: 0;
}
.node ul.links li {
  margin-right: 10px;
}
.node ul.links a {
  font-weight: bold;
}
*/


/* ---------------------------- ADMIN PAGES --------------------------------- */
/*
.page-admin #main-content-inner .nested,
.page-admin #content-group,
.page-admin #content-region,
.page-admin #content-inner {
  margin-bottom:0;
}
*/

/* ---------------------- TAB MENUS ---------------------------------------- */

#content-tabs {
  background-color: transparent;
  float: left; /* LTR */
  margin: 10px 0;
  padding: 0;
  font-weight: bold;
}

#content-tabs ul.primary,
#content-tabs ul.secondary {
  clear: both;
  float: left; /* LTR */
  margin: 0;
  width: 100%;
}

#content-tabs ul.primary {
  border-bottom: 1px solid #A6A6A6;
  padding: 0;
  text-transform: uppercase;
}

#content-tabs ul.secondary {
  padding: 5px;
  text-transform: lowercase;
}

#content-tabs ul.primary li,
#content-tabs ul.secondary li {
  background-color: #c2c2c2;
  border: 1px solid #a6a6a6;
  display: inline;
  float: left;
  list-style: none;
}

#content-tabs ul.primary li {
  margin: 0 2px;
  padding: 2px 0;
  border-bottom: 0;
  font-size: 95%;
}

#content-tabs ul.secondary li {
  margin: 2px;
  padding: 2px 4px;
}

#content-tabs ul.primary li.active,
#content-tabs ul.secondary li.active {
  background-color: #e3e3e3;
}

#content-tabs ul.primary li a:link,
#content-tabs ul.primary li a:visited,
#content-tabs ul.secondary li a:link,
#content-tabs ul.secondary li a:visited {
  background-color: transparent;
  border: none;
  color: #555;
  float: left;
  margin: 0;
  text-decoration: none;
  white-space: nowrap;
}

#content-tabs ul.primary li a:hover,
#content-tabs ul.primary li a:focus,
#content-tabs ul.secondary li a:hover,
#content-tabs ul.secondary li a:focus {
  color: #222;
}

/* ---------------------------- PAGERS ------------------------------------- */

ul.pager a,
ul.pager li.pager-current {
  border-color: #333;
}

ul.pager li.pager-current {
  background-color: #777;
  color: #fff;
}

ul.pager a:hover,
ul.pager a:active,
ul.pager a:focus {
  background-color: #777;
  border-color: #333;
  color: #fff;
}

/* ----------------------------- FORMS ------------------------------------- */

form input.form-submit {
  border: 1px solid #ccc;
  padding: 1px 5px;
  font-weight: bold;
  font-size: 100%;
}

/* Typography, background, borders, padding for form fields */
.form-item input,
.form-item select,
.form-item textarea {
  padding: 1px 5px;
  border: 1px solid #ccc;
}

/* Remove backgrounds and border on radios and checkboxes */
.form-item .form-radio,
.form-item .form-checkbox {
  background: none;
  border: none !important;
}

/* Fieldset wrapper around groups of form elements */
fieldset {
  border: 1px solid #ccc;
}

/* ----------------------------- TABLES ------------------------------------ */

table {
  margin-bottom: 15px;
}

/* Body of tables */
tbody {
  border-top: 1px solid #ccc;
}

/* Header of tables */
thead th,
th {
  border-bottom: 3px solid #ccc;
}

tbody th {
  border-bottom: 1px solid #ccc;
}

/* Alternating row background styles */
tr.even,
tr.even td {
  border-bottom: 1px solid #ccc;
  background-color: inherit;
}

tr.odd,
tr.odd td {
  border-bottom: 1px solid #ccc;
  background-color: inherit;
}

tr.drag td,
tr.drag-previous td {
  color: #000;
}

/* -------------------------- ROUND CORNERS --------------------------------- */

 form input.form-submit,
.form-item input,
.form-item select,
.form-item textarea {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

#content-tabs ul.primary li {
  -moz-border-radius: 3px 3px 0px 0px;
  -webkit-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
}

/* Different radii from theme config settings */
/*.round-corners-3 .primary-menu,*/
.round-corners-3 h2.block-title {
  -moz-border-radius: 3px 3px 0px 0px;
  -webkit-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
}

.round-corners-3 .node div.links {
  -moz-border-radius: 0px 0px 3px 3px;
  -webkit-border-radius: 0px 0px 3px 3px;
  border-radius: 0px 0px 3px 3px;
}

.round-corners-3 .teaser,
.round-corners-3 .main-wrapper .block .inner,
.round-corners-3 .preface-top-wrapper .block .inner,
.round-corners-3 .postscript-bottom-wrapper .block .inner,
.round-corners-3 .footer-wrapper .block .inner,
.round-corners-3 div.comment,
.round-corners-3 .node div.links {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.round-corners-3 #footer {
  -moz-border-radius: 0px 0px 3px 3px;
  -webkit-border-radius: 0px 0px 3px 3px;
  border-radius: 0px 0px 3px 3px;
}

/*.round-corners-7 .primary-menu,*/
.round-corners-7 h2.block-title {
  -moz-border-radius: 7px 7px 0px 0px;
  -webkit-border-radius: 7px 7px 0px 0px;
  border-radius: 7px 7px 0px 0px;
}

.round-corners-7 .node div.links {
  -moz-border-radius: 0px 0px 7px 7px;
  -webkit-border-radius: 0px 0px 7px 7px;
  border-radius: 0px 0px 7px 7px;
}

.round-corners-7 .teaser,
.round-corners-7 .main-wrapper .block .inner,
.round-corners-7 .preface-top-wrapper .block .inner,
.round-corners-7 .postscript-bottom-wrapper .block .inner,
.round-corners-7 .footer-wrapper .block .inner,
.round-corners-7 div.comment {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

.round-corners-7 #footer {
  -moz-border-radius: 0px 0px 7px 7px;
  -webkit-border-radius: 0px 0px 7px 7px;
  border-radius: 0px 0px 7px 7px;
}

/*.round-corners-11 .primary-menu,*/
.round-corners-11 h2.block-title {
  -moz-border-radius: 11px 11px 0px 0px;
  -webkit-border-radius: 11px 11px 0px 0px;
  border-radius: 11px 11px 0px 0px;
}

.round-corners-11 .node div.links {
  -moz-border-radius: 0px 0px 11px 11px;
  -webkit-border-radius: 0px 0px 11px 11px;
  border-radius: 0px 0px 11px 11px;
}

.round-corners-11 .teaser,
.round-corners-11 .main-wrapper .block .inner,
.round-corners-11 .preface-top-wrapper .block .inner,
.round-corners-11 .postscript-bottom-wrapper .block .inner,
.round-corners-11 .footer-wrapper .block .inner,
.round-corners-11 div.comment,
.round-corners-11 .node div.links {
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  border-radius: 11px;
}

.round-corners-11 #footer {
  -moz-border-radius: 0px 0px 11px 11px;
  -webkit-border-radius: 0px 0px 11px 11px;
  border-radius: 0px 0px 11px 11px;
}

/*----------------------------------------------------------------------------*/
/* CORE MODULES
/---------------------------------------------------------------------------- */

/* ---------------------------- BOOKS --------------------------------------- */

.book-navigation .menu {
  border-top: 0;
}

.book-navigation .page-links {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 10px 0;
}

/* ---------------------------- COMMENTS ------------------------------------ */

h2.comments-header {
  margin-left: 10px; /* LTR */
}

/* Style for each individual comment */
div.comment {
  margin: 10px;
  border: 1px solid #ddd;
  padding: 10px;
}

/* Subject (title) of each comment */
div.comment h3.title {
  font-size: 130%;
}

/* Links (edit, reply, delete) for each comment */
div.comment div.links  {
  margin: 0 10px;
}

div.comment div.links a,
div.comment ul.links a {
  font-weight: bold;
}

div.comment ul.links li {
  margin-right: 10px; /* LTR */
}

/* Comment signatures */
.signature {
  border-top: 1px solid #d6ddb9;
}

/* User avatars in comments */
.comments div.picture {
  float: left; /* LTR */
  margin: 5px 15px 10px 10px; /* LTR */
}

/* ----------------------------------- FORUMS ------------------------------- */

.forum-topic-navigation {
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}

/* ---------------------------------- POLLS --------------------------------- */

div.poll div.bar {
  background-color: #ddd;
}

div.poll div.bar div.foreground {
  background-color: #999;
}

/* ------------------------------- PROFILES --------------------------------- */

.profile .picture {
  float: left; /* LTR */
  margin: 0 15px 15px 0; /* LTR */
}

/* Styles for sub-headings on user profiles */
.profile dt {
  background: none;
}
