/* SEARCH */
.block-inline_ajax_search .inner {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}

.block-inline_ajax_search {
    position: inherit;
    margin-bottom: 0;
    z-index: 70 !important;
}

/* temporary - only needed if title exists (block settings) */
.block-inline_ajax_search h2 {
    margin: 0;
}

#inline_ajax_search_container {
    padding: 6px 8px;
    overflow: hidden;
}

#inline_ajax_search {
    width: 245px;
    display: block;
    float: left;
    height: 20px;
    color: #707070;
}

.inline_ajax_search_submit {
    height: 22px;
    margin: 0 0 0 5px !important;
    /*
    width: 55px;
    font-size: 12px !important;
    padding: 0;
    */
    font-size: inherit !important;
    color: #707070 !important;
}

#inline_ajax_search_results {
    padding: 5px;
    background-color: #F0EEEB !important;
    border: 2px solid #DEDCDA;
    /*margin: 0 auto;
    position: fixed;*/
    position: relative;
    width: 227px !important;
    opacity: 1 !important;
}

#inline_ajax_search_results .searchresult h3{
    font-size: 13px;
    font-weight: normal;
    font-family: "Tahoma", sans-serif;
}