.awesome, .awesome:visited {
	background: #222 url(/images/alert-overlay.png) repeat-x; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fff; 
	text-decoration: none;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	/* -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5); */
	/* -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5); */
	/* text-shadow: 0 -1px 1px rgba(0,0,0,0.25); */
	border: 1px solid #000;
	position: relative;
	cursor: pointer;
	margin:0;
	text-align:center;
}

/* Fisdap defined button sizes */
.awesome:hover {
	text-decoration:none;
	color: #fff;
}

.awesome:active	{
	top: 1px;
}

.awesome, .awesome:visited, .medium, .medium:visited {
	font-size: 13px;
	font-weight: bold;
	line-height: 1;
	/* text-shadow: 0 -1px 1px rgba(0,0,0,0.25); */
}

.small, .small:visited {
	font-size: 11px;
	padding: .25em .5em;
	font-weight:normal;
}

.large, .large:visited {
	font-size: 14px;
	padding: 8px 14px 9px;
	border-width: 3px;
}




/*
.red.awesome, .red.awesome:visited			{ background-color: #e33100; }
.red.awesome:hover							{ background-color: #872300; }
.magenta.awesome, .magenta.awesome:visited		{ background-color: #a9014b; }
.magenta.awesome:hover							{ background-color: #630030; }
.orange.awesome, .orange.awesome:visited		{ background-color: #ff5c00; }
.orange.awesome:hover							{ background-color: #d45500; }
.yellow.awesome, .yellow.awesome:visited		{ background-color: #ffb515; }
.yellow.awesome:hover							{ background-color: #fc9200; }
*/


/* Fisdap defined button colors */
.green, .green:visited		{
	color: #000000;
	background: #84c724;
	border-color: #618d1F;
	background: -webkit-gradient(linear, left top, left bottom, from(#84c724), to(#74b811));
	background: -moz-linear-gradient(top,  #84c724,  #74b811);
}

.green:hover {
	color: #000000;
	background: #84c724;
	background: -webkit-gradient(linear, left top, left bottom, from(#74b811), to(#84c724));
	background: -moz-linear-gradient(top,  #74b811,  #84c724);
}

.green:active {
	background: #84c724;
	border-color: #42650e;
	background: -webkit-gradient(linear, left top, left bottom, from(#5b9704), to(#7dcc09));
	background: -moz-linear-gradient(top,  #5b9704,  #7dcc09);
}

.blue, .blue:visited {
	background: #1378a4;
	border-color: #0e4a77;
	background: -webkit-gradient(linear, left top, left bottom, from(#1378a4), to(#045072));
	background: -moz-linear-gradient(top,  #1378a4,  #045072);
}


.blue:hover	{
	background: #1378a4;
	background: -webkit-gradient(linear, left top, left bottom, from(#045072), to(#1378a4));
	background: -moz-linear-gradient(top,  #045072,  #1378a4);
}

.blue:active {
	background: #1378a4;
	border-color: #003962;
	background: -webkit-gradient(linear, left top, left bottom, from(#114e6a), to(#0b6a93));
	background: -moz-linear-gradient(top,  #114e6a,  #0b6a93);
	
}

.silver, .silver:visited {
	color: #000000;
	background: #e2e2e2;
	border-color: #8e8e8e;
	background: -webkit-gradient(linear, left top, left bottom, from(#e2e2e2), to(#b2b2b2));
	background: -moz-linear-gradient(top,  #e2e2e2,  #b2b2b2);

}

.silver:hover {
	background: #e2e2e2;
	color: #000000;
	background: -webkit-gradient(linear, left top, left bottom, from(#b2b2b2), to(#e2e2e2));
	background: -moz-linear-gradient(top,  #b2b2b2,  #e2e2e2);
}

.silver:active {
	background: #e2e2e2;
	border-color: #6e6e6e;
	background: -webkit-gradient(linear, left top, left bottom, from(#898989), to(#d0d0d0));
	background: -moz-linear-gradient(top,  #898989,  #d0d0d0);
}

