


  a:link,a:visited{text-decoration:underline !important;}#site-name a:link,#site-name a:visited{text-decoration:none !important;}#content a:link:after,#content a:visited:after{content:" (" attr(href) ") ";font-size:0.8em;font-weight:normal;}#content,#content-inner{float:none;width:100%;margin:0 !important;padding:0 !important;}body,#page,#page-inner,#main,#main-inner,#content,#content-inner{color:#000;background-color:transparent !important;background-image:none !important;}#skip-to-nav,#navbar,#sidebar-left,#sidebar-right,#footer,.breadcrumb,div.tabs,.links,.taxonomy,.book-navigation,.forum-topic-navigation,.pager,.feed-icons{visibility:hidden;display:none;}#page{overflow:visible;}
