<?php
/*************************************************************************
 **                                                                      **
 **      Copyright (C) 1996-2006.  This is an unpublished work of        **
 **                       Headwaters Software, Inc.                      **
 **                          ALL RIGHTS RESERVED                         **
 **      This program is a trade secret of Headwaters Software, Inc.     **
 **      and it is not to be copied, distributed, reproduced, published, **
 **      or adapted without prior authorization                          **
 **      of Headwaters Software, Inc.                                    **
 **                                                                      **
 *************************************************************************/

require_once("dbconnect.html");
require_once('classes/FISDAPDatabaseConnection.php');
require_once('session_functions.php');
require_once('fisdap_staff_lib.php');

/**
 * The code below retrieves the asset data type codes from the database and
 * defines human readable constants to store the values.
 *
 * @todo I'd like to provide static constants here, independent of the 
 *       database.   ~sm
 */
$defselect = "SELECT * FROM DataType_def WHERE DataTypeName LIKE 'asset_%'";
$defresult = mysql_query($defselect, $dbConnect);
if ($defresult) {
	$defcount = mysql_num_rows($defresult);
	for ($defcounter=0;$defcounter<$defcount;$defcounter++) {
		$tmpName = mysql_result($defresult, $defcounter, "DataTypeName");
		$tmpID = mysql_result($defresult, $defcounter, "DataType_id");
		$defName = str_replace('asset_', '', $tmpName);
		//echo "Defining " . strtoupper($defName) . "<br>\n";
		define(strtoupper($defName), $tmpID);
	}
}//if

function associateAsset($asset1, $asset2, $proposed, $type, $db=null) {
	global $dbConnect;
	if ($db === null) {
		$db = $dbConnect;
	}
	$checkSel = "SELECT count(*) from CategoryData WHERE Asset1_id=$asset1 AND Asset2_id=$asset2 AND ProposedAssoc=$proposed";
	//echo "select is: $checkSel<br>\n";
	$checkRes = mysql_query($checkSel, $db);
	$checkcount = mysql_result($checkRes, 0, "count(*)");

	$checkSel2 = "SELECT count(*) from CategoryData WHERE Asset1_id=$asset2 AND Asset2_id=$asset1 AND ProposedAssoc=$proposed";
	$checkRes2 = mysql_query($checkSel2, $db);
	$checkcount2 = mysql_result($checkRes2, 0, "count(*)");
	//echo "count 1 is: $checkcount<br>count 2 is: $checkcount2<br>\n";
	if ($checkcount == 0 && $checkcount2 == 0) {
		$insert = "INSERT INTO CategoryData SET Asset1_id=$asset1, Asset2_id=$asset2, ProposedAssoc=$proposed, AssocType=$type";
		if (mysql_query($insert, $db) == TRUE) {
			return mysql_insert_id($db);
		} else {
			return false;	
		}
	} else {
		return -5;	
	}
}//associateAsset

/*
 * procedure: removeAssociation
 * parameters: $asset1: The AssetDef_id of the first asset to be unlinked.
 * 			   $asset2: The AssetDef_id of the second asset to be unlinked.
 *			   $proposed: The flag that differentiates between a proposed association(1) and a regular association(0).
 *			   $db: a mysql link resource
 *
 * produces: 
 *   a) true on success
 *   - or -
 *   b) false on falure
 */
function removeAssociation($asset1, $asset2, $proposed, $db) {
	$delete = "DELETE FROM CategoryData WHERE Asset1_id=$asset1 AND Asset2_id=$asset2 AND ProposedAssoc=$proposed";
	//echo "delete assoc is: $delete<br>\n";
	//return true;

	if (mysql_query($delete, $db) == TRUE) {
		return true;
	} else {
		return false;	
	}

}

function genChapterList($selectedChapter) {
	global $dbConnect;
	$chapterSelect = "SELECT AssetDef_id, AssetName FROM Asset_def WHERE Parent_id=4149 ORDER BY SiblingOrder";
	$chapterResult = mysql_query($chapterSelect, $dbConnect);
	$chapterCount = mysql_num_rows($chapterResult);
	for ($ch=0;$ch<$chapterCount;$ch++) {
		$tmpName = mysql_result($chapterResult, $ch, "AssetName");
		$tmpID = mysql_result($chapterResult, $ch, "AssetDef_id");
		echo "<option value=$tmpID";
		if ($selectedChapter==$tmpID) {	
			echo " selected";
		}
		echo ">$tmpName\n";
	}
}

function checkForAssoc($asset1, $asset2, $proposed) {
	global $dbConnect;
	$checkSel = "SELECT count(*) from CategoryData WHERE Asset1_id=$asset1 AND Asset2_id=$asset2 AND ProposedAssoc=$proposed";
	//echo "select is: $checkSel<br>\n";
	$checkRes = mysql_query($checkSel, $dbConnect);
	$checkcount = mysql_result($checkRes, 0, "count(*)");

	$checkSel2 = "SELECT count(*) from CategoryData WHERE Asset1_id=$asset2 AND Asset2_id=$asset1 AND ProposedAssoc=$proposed";
	$checkRes2 = mysql_query($checkSel2, $dbConnect);
	$checkcount2 = mysql_result($checkRes2, 0, "count(*)");
	//echo "count 1 is: $checkcount<br>count 2 is: $checkcount2<br>\n";
	if ($checkcount > 0 || $checkcount2 > 0) {
		return 1;	
	} else {
		return 0 ;
	}
}

function removeAsset($asset_id) {
	global $dbConnect;
	$checkSel = "SELECT Asset2_id from CategoryData WHERE Asset1_id=$asset_id";
	//echo "select is: $checkSel<br>\n";
	$checkRes = mysql_query($checkSel, $dbConnect);
	$checkcount = mysql_num_rows($checkRes);
	for ($delcount1=0;$delcount1<$checkcount;$delcount1++) {
		$tmpAsset2 = mysql_result($checkRes, $delcount1, "Asset2_id");
		removeAssociation($asset_id, $tmpAsset2, 1, $dbConnect);
		removeAssociation($asset_id, $tmpAsset2, 0, $dbConnect);
	}
	$checkSel2 = "SELECT Asset1_id from CategoryData WHERE Asset2_id=$asset_id";
	$checkRes2 = mysql_query($checkSel2, $dbConnect);
	$checkcount2 = mysql_num_rows($checkRes2);
	for ($delcount2=0;$delcount2<$checkcount2;$delcount2++) {
		$tmpAsset1 = mysql_result($checkRes2, $delcount2, "Asset1_id");
		removeAssociation($tmpAsset1, $asset_id, 1, $dbConnect);
		removeAssociation($tmpAsset1, $asset_id, 0, $dbConnect);	
	}
	$assettype = getAssetDataType($asset_id);
	$contunueDelete = 0;
	if ($assettype==-1) {	$contunueDelete = 1;
	}
	if ($assettype==9) {
		$textid = getAssetData_id($asset_id);
		if (removeText($textid)) {	$contunueDelete = 1;
		}
	}
	if ($assettype==10) {
		$objective = getAssetData_id($asset_id);
		if (removeObjective($objective)) {	$contunueDelete = 1;
		}
	}
	if ($assettype==17) {
		$item = getAssetData_id($asset_id);
		$distractorList = getDistractors($item);
		$itemScenario_id = getItemScenario_id($item);
		if ($itemScenario_id>0) {
			removeScenario($itemScenario_id);
		}
		for ($a=0;$a<sizeof($distractorList);$a++) {
			removeDistractor($distractorList[$a]["ID"]);
		}
		deleteTestItem($item);
		$contunueDelete = 1;
	}
	if ($contunueDelete==1) {
		$delete = "DELETE FROM Asset_def WHERE AssetDef_id=$asset_id LIMIT 1";
		removeAuthor($asset_id);
		echo "Asset delete is $delete<br>\n";
		//return true;

		if (mysql_query($delete, $dbConnect) == TRUE) {
			return true;
		} else {
			return false;	
		}

	} else {
		return false;
	}
}

/*
 * procedure: assignAssetReview
 * parameters: $assetid: The AssetDef_id of the asset to be reviewed.
 * 			   $userauthid: idx in the UserAuthTable of the person to review the asset.
 *
 * produces: 
 *   a) true on success
 *   - or -
 *   b) false on falure
 */
function assignAssetReview($assetid, $userauthid, $duedate, $group=0) {
	global $dbConnect;
	$chksel = "SELECT * FROM ReviewAssignmentData WHERE AssetDef_id=$assetid AND UserAuth_id=$userauthid AND DateReviewReceived='0000-00-00' AND Active=1";
	$chkres = mysql_query($chksel, $dbConnect);
	$chkcount = mysql_num_rows($chkres);
	if ($chkcount==0) {	
		$insert = "INSERT INTO ReviewAssignmentData SET AssetDef_id=$assetid, UserAuth_id=$userauthid, DateReviewAssigned=now(), DateReviewDue='$duedate', GroupAssignment=$group";
		return mysql_query($insert, $dbConnect);
	} else {	
		return false;	
	}
}

function checkActiveReviewAssignments($userauthid) {
	global $dbConnect;
	$select = "SELECT count(*) FROM ReviewAssignmentData WHERE UserAuth_id=$userauthid AND DateReviewReceived='0000-00-00' AND Active=1";
	$result = mysql_query($select, $dbConnect);
	$retval = mysql_result($result, 0, "count(*)");
	return $retval;
}

/*
 * procedure: deleteReviewAssignment
 * parameters: $assetid: The AssetDef_id of the asset review to be removed.
 * 			   $userauthid: idx in the UserAuthTable of the person assigned to the review to be removed.
 *
 * produces: 
 *   a) true on success
 *   - or -
 *   b) false on falure
 */
function deleteReviewAssignment($assignment_id) {
	global $dbConnect;
	$del = "DELETE FROM ReviewAssignmentData WHERE ReviewAssignment_id=$assignment_id LIMIT 1";
	//echo "delete is: $del<br>\n";
	return(mysql_query($del, $dbConnect));
}

function buildReviewerList($revid, $project, $status) {

	global $dbConnect;
	$revSel = "SELECT DISTINCT R.UserAuth_id, U.firstname, U.lastname FROM ReviewAssignmentData R, UserAuthData U";
	if ($project>-5) {
		$revSel=$revSel . ",Item_def I ,Asset_def A";
	}
	if ($status>-5) {
		$revSel=$revSel . ",InstructorData Id";
	}
	$revSel=$revSel." WHERE R.UserAuth_id=U.idx";
	if ($project>-5) {
		$revSel=$revSel . " AND R.AssetDef_id=A.AssetDef_id AND A.DataType_id=17 AND A.Data_id=I.Item_id AND I.Project_id=$project";
	}
	if ($status>-5) {
		$revSel=$revSel . " AND U.email=Id.UserName AND Id.ActiveReviewer=$status";
	}
	$revSel=$revSel." ORDER BY U.lastname";
	$revRes = mysql_query($revSel, $dbConnect);
	$revCount = mysql_num_rows($revRes);
	if ($revCount>0) {
		for ($i=0;$i<$revCount;$i++) {
			$tmpid = mysql_result($revRes, $i, "UserAuth_id");
			$tmpF = mysql_result($revRes, $i, "firstname");
			$tmpL = mysql_result($revRes, $i, "lastname");
			echo "<option value=$tmpid";
			if ($tmpid==$revid) {
				echo " selected";
			}
			echo ">$tmpL, $tmpF\n";
		}
	} else {
		echo "<option value=-1>No Reviewers Found\n";
	}
}

/*
 * procedure: getProjectList
 * parameters: $selected_id: id of the project to be selected by default
 *
 * produces: 
 *  an option tag for each project found
 *   - or -
 *  an option tag with a value of -1 and the text of None Found if no projects are found.
 */
function getProjectList($selected_id) {
	global $dbConnect;
	$sel = "SELECT * FROM ProjectTable ORDER BY ProjectName";
	$res = mysql_query($sel, $dbConnect);
	$count = mysql_num_rows($res);
	if ($count>0) {
		for ($a=0;$a<$count;$a++)
		{	
			$name = mysql_result($res, $a, "ProjectName");
			$id = mysql_result($res, $a, "Project_id");
			if ($id == $selected_id) {	
				echo "<option value=$id selected>$name\n";
			} else {	
				echo "<option value=$id>$name\n";
			}
		}
		//Other is not a useful or valid project
/*		echo "<option value=-1";
		if ($selected_id==-1) {
			echo " selected";
		}
		echo ">Other\n";
 */
	} else {
		echo "<option value=-5>None Found\n";
	}
}

/*
 * procedure: getActiveProjectList
 * parameters: $selected_id: id of the project to be selected by default
 *
 * produces:
 *  an option tag for each project found that the user has access to (differentiated by staff and non-staff)
 *   - or - 
 *  an option tag with a value of -1 and the text of None Found if no projects are found.
 */
function getActiveProjectList($selected_id) {
	global $dbConnect;
	if (is_fisdap_staff_member() || is_user_in(null, array('mbowen2', 'cdick1'))) {   
		$sel = "SELECT * FROM ProjectTable WHERE Active>0 ORDER BY ProjectName";
	} else {   
		$sel = "SELECT * FROM ProjectTable WHERE Active=1 ORDER BY ProjectName";
	}
	$res = mysql_query($sel, $dbConnect);
	$count = mysql_num_rows($res);
	if ($count>0) {
		for ($a=0;$a<$count;$a++) {   
			$name = mysql_result($res, $a, "ProjectName");
			$id = mysql_result($res, $a, "Project_id");
			if ($id == $selected_id) {   
				echo "<option value=$id selected>$name\n";
			} else {   
				echo "<option value=$id>$name\n";
			}
		}

		//other is not a useful or valid option
/*      echo "<option value=-1";
		if ($selected_id==-1) {
			echo " selected";
		}
		echo ">Other\n";
 */
	} else {
		echo "<option value=-1>None Found\n";
	}
}
/**
 * procedure:  getProjectName
 * parameters: $project: id of the project in the project table
 * produces: 
 *   a) the name of the given project
 *   - or -
 *   b) false if the select failed
 */
function getProjectName($project) {
	global $dbConnect;
	$select = "SELECT ProjectName FROM ProjectTable WHERE Project_id=$project";
	$result = mysql_query($select, $dbConnect);
	$count = mysql_num_rows($result);
	if ($count==1) {
		return mysql_result($result, 0, "ProjectName");
	} else {
		return false;
	}
}

/**
 * procedure:  getUserName
 * parameters: $id: the idx field from the userauthdata table
 * produces: 
 *   a) the user name of the given user
 *   - or -
 *   b) false if the select failed
 */
function getUserName($id) {
	global $dbConnect;
	$select = "SELECT email FROM UserAuthData WHERE idx=$id";
	$result = mysql_query($select, $dbConnect);
	$count = mysql_num_rows($result);
	if ($count==1) {
		return mysql_result($result, 0, "email");
	} else {
		return false;
	}
}//getUserName

function getUserId($uname) {
	global $dbConnect;
	$select = "SELECT idx FROM UserAuthData WHERE email='$uname'";
	$result = mysql_query($select, $dbConnect);
	$count = mysql_num_rows($result);
	if ($count==1) {
		return mysql_result($result, 0, "idx");
	} else {
		return false;
	}
}//getUserId
/*
 * procedure: buildAuthorList
 * DEPRECATED - being replaced by create_author_selection(), which uses common_form.
 * parameters: $selected: The idx for the author that should be selected in the dropdown by default
 *
 * produces: 
 *  an option tag for each author found
 *   - or -
 *  an option tag with a value of -1 and the text of None Found if no authors are found.
 */
function buildAuthorList($selected) {
	global $dbConnect;
	$authSelect = "SELECT DISTINCT U.firstname, U.lastname, U.idx FROM UserAuthData U, AuthorData A WHERE A.UserAuth_id=U.idx ORDER BY U.lastname";
	$authResult = mysql_query($authSelect, $dbConnect);
	$authCount = mysql_num_rows($authResult);
	if ($authCount>0) {
		for ($authcounter=0;$authcounter<$authCount;$authcounter++)
		{	$tmpFirst = mysql_result($authResult, $authcounter, "U.firstname");
		$tmpLast = mysql_result($authResult, $authcounter, "U.lastname");
		$tmpid = mysql_result($authResult, $authcounter, "U.idx");
		echo "<option value=$tmpid";
		if ($selected == $tmpid) {	echo " selected";
		}
		echo ">$tmpLast, $tmpFirst";
		}
	} else {
		echo "<option value=-1>None Found\n";
	}
}

/*
 * procedure: getAuthorEmail
 * parameters: $idx: The idx in the UserAuth table for the author whose email address should be returned
 *
 * produces: 
 *  the email address of the given author
 *   - or -
 *  false if the unsuccessful
 */
function getAuthorEmail($idx) {
	global $dbConnect;
	$InstSel = "SELECT instructor, email FROM UserAuthData WHERE idx=$idx";
	$InstRes = mysql_query($InstSel, $dbConnect);
	$InstCount = mysql_num_rows($InstRes);
	if ($InstCount==1) {	
		$InstVal = mysql_result($InstRes, 0, "instructor");
		$tmpEmail = mysql_result($InstRes, 0, "email");
		if ($InstVal==1) {	
			$emailStr="Email";
			$emSel = "SELECT Email FROM InstructorData where UserName='$tmpEmail'";
		} else {	
			$emailStr="EmailAddress";
			$emSel = "SELECT EmailAddress FROM StudentData where UserName='$tmpEmail'";
		}
		$emRes = mysql_query($emSel, $dbConnect);
		$emCount = mysql_numrows($emRes);
		if ($emCount == 1) {	
			return mysql_result($emRes, 0, $emailStr);
		} else {	
			return false;
		}
	} else {	
		return false;
	}
}

function addAssetComment($user_id, $comment, $asset) {
	global $dbConnect;
	$insert = "INSERT INTO AssetComments SET UserAuth_id=$user_id, AssetDef_id=$asset, CommentText='" . addslashes($comment) . "', CommentTime=NOW()";
	return mysql_query($insert, $dbConnect);
}

/*
 * params: user_id, a numeric user id
 *         note, the note text
 *         asset, the asset id of the item
 *
 * If no note exists, this function adds a note to an asset. If a note exists
 * already, it updates that note. Notes are only viewable by staff,
 * unlike comments, which are viewable by anyone.
 *
 * Notes are tied to an asset, currently only items. (As reviews are not assets, 
 * they are not tied to individual reviews.)
 *
 * @return True if the note is added successfully and false if something goes wrong.
 *
 */
function addAssetNote($user_id, $note, $assetid) {
	$updateQuery = "INSERT INTO AssetNotes " .
		"SET UserAuth_id=$user_id, ".
		"AssetDef_id=$assetid, ".
		"NoteText='" . addslashes($note) . "', ".
		"NoteTime=NOW()";
	global $dbConnect;
	return mysql_query($updateQuery, $dbConnect);
}//addAssetNote()

/*
 * params: asset, an asset id (for an item)
 *
 * Asset Notes are associated with a test item. Each item has at most one note.
 *
 * returns: $query, the asset notes in an associated array (using sam's proprietary
 *          query() stuff)
 */
function getAssetNotes($assetid) {
	global $dbConnect;
	$noteQuery = "SELECT * FROM AssetNotes WHERE AssetDef_id=$assetid ORDER BY NoteTime";
	$connection =& FISDAPDatabaseConnection::get_instance();
	$result = $connection->query($noteQuery);
	return $result;
}//getAssetNotes

/**
 * Set the PaidFlag value for the given asset to 1.
 */
function mark_asset_paid($assetid) {
	global $dbConnect;
	$update = "UPDATE Asset_def SET PaidFlag=1 WHERE AssetDef_id=$assetid LIMIT 1";
	//echo "update is: $update<br>\n";
	//return true;
	return mysql_query($update, $dbConnect);
}//mark_item_paid

/**
 * This function given an Asset ID will switch the PaidFlag field for the given asset to the value that it is not.
 * If the current value is 0, it sets the value to 1.  If the current value is 1, it sets it to 0.
 */
function toggle_asset_paid($assetid) {
	global $dbConnect;
	$getSel = "SELECT PaidFlag FROM Asset_def WHERE AssetDef_id=$assetid";
	$getRes = mysql_query($getSel, $dbConnect);
	$getCount = mysql_num_rows($getRes);
	if ($getCount == 1) {
		$curPaid = mysql_result($getRes, 0, "PaidFlag");
	}//if
	else {
		return false;
	}//else
	if ($curPaid==0) {
		$newPaid = 1;
	}//if
	else {
		$newPaid = 0;
	}//else
	$update = "UPDATE Asset_def SET PaidFlag=$newPaid WHERE AssetDef_id=$assetid LIMIT 1";
	//echo "update is: $update<br>\n";
	//return true;
	return mysql_query($update, $dbConnect);
}//toggle_asset_paid

/** 
 * procedure:  addTestItem
 * parameters: $stem: The stem of the item
 *			   $projid: The project that the item was submitted under.
 *			   $previousversion_id: the ID of the previous version of the item
 *			   $moodleid: the id of the item in moodle
 *			   $paidflag: whether or not the item was submitted for pay
 *			   $itemtype_id: the type of the item, (mc, t/f, etc.)
 *
 * produces: 
 *   a) the id of the new item
 *   - or -
 *   b) false if the insert failed
 */
function addTestItem($stem, $projid, $previousversion_id, $moodleid, $paidflag, $itemtype_id, $scenario_id, $ref) {
	global $dbConnect;
	$insert = "INSERT INTO Item_def SET Project_id=$projid, PreviousVersion_id=$previousversion_id, DateReceived=now(), Stem='" . addslashes($stem) . "', Moodle_id=$moodleid, PaidFlag=$paidflag, ItemType_id=$itemtype_id, Scenario_id=$scenario_id, ReferenceText='" . addslashes($ref) . "'";
	//echo "<br>item insert is: $insert<br>\n";

	if (mysql_query($insert, $dbConnect) == false) {
		return false;
	}
	$newid = mysql_insert_id($dbConnect);
	return $newid;

}

function updateTestItem($stem, $projid, $previousversion_id, $moodleid, $paidflag, $itemtype_id, $scenario_id, $item_id, $ref) {
	global $dbConnect;
	$update = "UPDATE Item_def SET Project_id=$projid, PreviousVersion_id=$previousversion_id, Stem='$stem', Moodle_id=$moodleid, PaidFlag=$paidflag, ItemType_id=$itemtype_id, Scenario_id=$scenario_id, ReferenceText=\"$ref\" WHERE Item_id=$item_id LIMIT 1";
	return mysql_query($update, $dbConnect);
}

function deleteTestItem($item_id) {
	global $dbConnect;
	$delete = "DELETE FROM Item_def WHERE Item_id=$item_id LIMIT 1";
	echo "delete item: $delete<br>\n";
	return mysql_query($delete, $dbConnect);
}

/* 
 * setTestItemEligibility
 * 
 * @param $item_id int the ID of the item (not the asset)
 * @param $creationcredit boolean True if this item is eligible for creation credit
 * @param $validationcredit boolean True if this item is eligible for validation credit
 */
function setTestItemEligibility($item_id, $creationcredit, $validationcredit) {
	global $dbConnect;

	$code = 0;
	if ($creationcredit) {
		$code = $code + 1;
	}
	if ($validationcredit) {
		$code = $code + 2;
	}
	$query = "UPDATE Asset_def SET PointEligibility=$code WHERE Data_id=$item_id and DataType_id=17 limit 1";
	$results = mysql_query($query, $dbConnect);
	if ($result) {
		return true;
	} else {
		return false;
	}
}//end setTestItemEligibility

function getTestItemEligibility($itemid) {
	global $dbConnect;

	$query = "SELECT PointEligibility FROM Asset_def where Data_id=$itemid AND DataType_id=17 limit 1";
	$result = mysql_query($query, $dbConnect);
	if ($result) {
		$row = mysql_fetch_array($result);
		return $row[0];
	} else {
		return false;
	}
}// end getTestItemEligibility

/*
 * Sets an asset's PointEligibility code.
 *
 * @param $asset_id the asset ID
 * @param $code the bit-based points code
 * @return true on success, false otherwise
 */
function setAssetEligibility($asset_id, $code) {
	global $dbConnect;

	if (is_int($code)) {
		$query = "UPDATE Asset_def SET PointEligibility=$code WHERE AssetDef_id=$asset_id limit 1";
		$results = mysql_query($query, $dbConnect);
		if ($result) {
			return true;
		} else {
			return false;
		}
	} else {
		return false;
	}
}//end setAssetEligibility

/*
 * Decodes an eligibility code and returns a string.
 * This function wasn't written for anything particular, so if nothing else is
 * using it it can be changed to return something more useful. It probably SHOULD
 * be changed to something more useful. I just wanted to record which code meant what.
 */
function get_eligibility($code) {
	$s;
	if ($code & 2) {
		$s .= "validation";
	}
	if ($code & 1) {
		if ($s) {
			$s .=", ";
		}
		$s .= "creation";
	}
	return $s;
}//function get_eligibility

function addDistractor($text, $itemid, $correctAnswer, $displayOrder, $feedback) {
	global $dbConnect;
	$insert = "INSERT INTO Item_Distractors SET Distractor_Text='" . addslashes($text) . "', Item_id=$itemid, CorrectAnswerFlag=$correctAnswer, DistractorOrder=$displayOrder, Feedback='" . addslashes($feedback) . "'";
	//echo "distractor insert is: $insert<br>\n";

	if (mysql_query($insert, $dbConnect) == false) {
		return false;
	}
	$newid = mysql_insert_id($dbConnect);
	return $newid;

}

function updateDistractor($text, $distid, $correctAnswer, $displayOrder, $feedback) {
	global $dbConnect;
	$update = "UPDATE Item_Distractors SET Distractor_Text='" . addslashes($text) . "', CorrectAnswerFlag=$correctAnswer, DistractorOrder=$displayOrder, Feedback='" . addslashes($feedback) . "' WHERE Item_Distractor_id=$distid LIMIT 1";
	//	echo "Update is: $update<br>\n";
	return mysql_query($update, $dbConnect);
}

function removeDistractor($distid) {
	global $dbConnect;
	$delete = "DELETE FROM Item_Distractors WHERE Item_Distractor_id=$distid LIMIT 1";
	echo "delete dist: $delete<br>\n";
	return mysql_query($delete, $dbConnect);
}

/**
 * procedure:  getStem
 * parameters: $item_id: item id in the Item_def table
 * produces: 
 *   a) the stem of the given test item
 *   - or -
 *   b) false if the select failed
 */
function getStem($item_id) {
	global $dbConnect;
	$select = "SELECT Stem FROM Item_def WHERE Item_id=$item_id";
	$result = mysql_query($select, $dbConnect);
	$count = mysql_num_rows($result);
	if ($count==1) {
		return mysql_result($result, 0, "Stem");	
	} else {
		return false;
	}
}

/* DEPRECATED for create_item_type_selection() */
function genItemTypeList($selected=-1) {
	global $dbConnect;
	$type_select="SELECT * from TestItemTypes";
	$type_result = mysql_query($type_select, $dbConnect);
	$type_count = mysql_num_rows($type_result);
	for ($type_counter=0;$type_counter<$type_count;$type_counter++) {
		$type_name=mysql_result($type_result, $type_counter, "TestItemType");
		$type_id=mysql_result($type_result, $type_counter, "TestItemType_id");
		echo "<option value=\"$type_id\"";
		if ($selected == $type_id) {
			echo " selected";
		}
		echo ">" . ucwords($type_name) . "\n";
	}
}
/**
 * procedure:  getDateValidated
 * parameters: $item_id: item id in the Item_def table
 * produces: 
 *   a) the date the given test item was validated
 *   - or -
 *   b) false if the select failed
 */
function getDateValidated($item_id) {
	global $dbConnect;
	$select = "SELECT DateValidated FROM Item_def WHERE Item_id=$item_id";
	$result = mysql_query($select, $dbConnect);
	$count = mysql_num_rows($result);
	if ($count==1) {
		return mysql_result($result, 0, "DateValidated");	
	} else {
		return false;
	}
}
/**
 * procedure:  getValidStatus
 * parameters: $item_id: item id in the Item_def table
 * produces: 
 *   a) the validity status of the given test item
 *   - or -
 *   b) false if the select failed
 */
function getValidStatus($item_id) {
	global $dbConnect;
	$select = "SELECT ValidStatus FROM Item_def WHERE Item_id=$item_id";
	$result = mysql_query($select, $dbConnect);
	$count = mysql_num_rows($result);
	if ($count==1) {
		return mysql_result($result, 0, "ValidStatus");	
	} else {
		return false;
	}
}

/**
 * procedure:  getTestItemAsset_id
 * parameters: $item_id: item id in the Item_def table
 * produces: 
 *   a) the asset_id of the given test item
 *   - or -
 *   b) false if the select failed
 */
function getTestItemAsset_id($item_id) {
	global $dbConnect;
	$select = "SELECT AssetDef_id FROM Asset_def WHERE DataType_id=17 AND Data_id=$item_id";
	$result = mysql_query($select, $dbConnect);
	$count = mysql_num_rows($result);
	if ($count==1) {	return mysql_result($result, 0, "AssetDef_id");	
	} else {	return false;
	}
}//getTestItemAsset_id

/**
 * procedure:  getAssetData_id
 * parameters: $asset_id: asset def id in the Asset_def table
 * produces: 
 *   a) the data of the given asset
 *   - or -
 *   b) false if the select failed
 */
function getAssetData_id($asset_id) {
	global $dbConnect;
	$select = "SELECT Data_id FROM Asset_def WHERE AssetDef_id=$asset_id";
	$result = mysql_query($select, $dbConnect);
	$count = mysql_num_rows($result);
	if ($count==1) {	return mysql_result($result, 0, "Data_id");	
	} else {	return false;
	}
}//getTestItemAsset_id

/**
 * procedure:  getAssetDataType
 * parameters: $asset_id: asset def id in the Asset_def table
 * produces: 
 *   a) the data type id of the given asset
 *   - or -
 *   b) false if the select failed
 */
function getAssetDataType($asset_id) {
	global $dbConnect;
	$select = "SELECT DataType_id FROM Asset_def WHERE AssetDef_id=$asset_id";
	$result = mysql_query($select, $dbConnect);
	$count = mysql_num_rows($result);
	if ($count==1) {	return mysql_result($result, 0, "DataType_id");	
	} else {	return false;
	}
}//getAssetDataType

/**
 * procedure:  getAssetFromData
 * @param $datatype: the data type id of the type of asset it is
 * @param $data_id: the id of the data element
 * @return the ID of the asset 
 **/
function getAssetFromData($datatype, $data_id) {
	global $dbConnect;
	$select = "SELECT AssetDef_id FROM Asset_def WHERE DataType_id=$datatype AND Data_id=$data_id";
	$result = mysql_query($select, $dbConnect);
	$count = mysql_num_rows($result);
	if ($count==1) {   return mysql_result($result, 0, "AssetDef_id");
	} else {   return false;
	}
}

function getDistractors($itemid, $random=0) {
	global $dbConnect;
	$retArray = array();
	$tmparray = array();
	if ($random==1) {
		$select = "SELECT * from Item_Distractors WHERE Item_id=$itemid ORDER BY RAND()";
	}//if
	else {
		$select = "SELECT * from Item_Distractors WHERE Item_id=$itemid ORDER BY DistractorOrder";
	}//else
	$result = mysql_query($select, $dbConnect);
	$count = mysql_num_rows($result);
	//	echo "count is: $count<br>\n";
	for ($i=0;$i<$count;$i++) {
		$tmparray["ID"]=mysql_result($result, $i, "Item_Distractor_id");
		$tmparray["DistText"]=mysql_result($result, $i, "Distractor_Text");
		$tmparray["Feedback"]=mysql_result($result, $i, "Feedback");
		$tmparray["Correct"]=mysql_result($result, $i, "CorrectAnswerFlag");
		$tmparray["Order"]=mysql_result($result, $i, "DistractorOrder");
		//		echo "adding distractor<br>\n";
		$retArray[$i]=$tmparray;
	}
	return $retArray;
}

function addAuthor($authorid, $assetid) {
	global $dbConnect;
	$insert = "INSERT INTO AuthorData SET UserAuth_id=$authorid, AssetDef_id=$assetid";
	//echo "author insert is: $insert<br>\n";

	if (mysql_query($insert, $dbConnect) == false) {
		return false;
	}
	$newid = mysql_insert_id($dbConnect);
	return $newid;

}

function updateAuthor($authorid, $assetid) {
	global $dbConnect;
	$checksel = "SELECT count(*) from AuthorData where AssetDef_id=$assetid";
	$checkres = mysql_query($checksel, $dbConnect);
	$checkval = mysql_result($checkres, 0, "count(*)");
	if ($checkval==1) {
		$update = "UPDATE AuthorData SET UserAuth_id=$authorid WHERE AssetDef_id=$assetid LIMIT 1";
		return mysql_query($update, $dbConnect);
	} else {
		return false;
	}
}

function removeAuthor($assetid) {
	global $dbConnect;
	$delete = "DELETE FROM AuthorData WHERE AssetDef_id=$assetid";
	echo "delete is: $delete<br>\n";
	return mysql_query($delete, $dbConnect);
}

/**
 * procedure:  getAuthor_id
 * parameters: $asset_id: asset def id in the Asset_def table
 * produces: 
 *   a) the user auth id of the author of the given asset
 *   - or -
 *   b) false if the select failed
 */
function getAuthor_id($assetid) {
	global $dbConnect;
	$select = "SELECT UserAuth_id FROM AuthorData WHERE AssetDef_id=$assetid";
	$result = mysql_query($select, $dbConnect);
	$numrows = mysql_num_rows($result);
	if ($numrows==1) {
		return mysql_result($result, 0, "UserAuth_id");
	} else {
		return false;
	}
}

function addScenario($scenario) {
	global $dbConnect;

	$insert = "INSERT INTO ScenarioData SET ScenarioText=\"$scenario\"";
	//echo "scenario insert is: $insert<br>\n";

	if (mysql_query($insert, $dbConnect) == false) {
		return false;
	}
	$newid = mysql_insert_id($dbConnect);
	return $newid;
}
function updateScenario($scenario, $scenario_id) {
	global $dbConnect;
	$update = "UPDATE ScenarioData SET ScenarioText=\"$scenario\" WHERE Scenario_id=$scenario_id LIMIT 1";
	//echo "scenario update: $update<br>\n";
	return mysql_query($update, $dbConnect);
}
function removeScenario($scenario_id) {
	global $dbConnect;
	$delete = "DELETE FROM ScenarioData WHERE Scenario_id=$scenario_id LIMIT 1";
	echo "scenario: $delete<br>\n";
	return mysql_query($delete, $dbConnect);
}

function getScenario($itemid) {
	global $dbConnect;
	$sel = "SELECT S.ScenarioText FROM Item_def I, ScenarioData S WHERE I.Item_id=$itemid AND I.Scenario_id=S.Scenario_id";
	$res = mysql_query($sel, $dbConnect);
	$cou = mysql_num_rows($res);
	if ($cou==1) {
		return mysql_result($res, 0, "S.ScenarioText");
	} else {
		return "None";	
	}
}

function getItemScenario_id($itemid) {
	global $dbConnect;
	$select = "SELECT Scenario_id FROM Item_def WHERE Item_id=$itemid";
	$result = mysql_query($select, $dbConnect);
	$count = mysql_num_rows($result);
	if ($count==1) {
		return mysql_result($result, 0, "Scenario_id");
	} else {
		return false;
	}
}//getItemScenario_id

//adds an indentation to a line of text on the web
function web_indent() {
	echo "&nbsp;&nbsp;&nbsp;&nbsp;";
}

/**
 * procedure: outputAikenItem
 * parameters: $itemid
 * 
 * produces: Outputs the given item in Aiken form in html table rows
 *
 */
function outputAikenItem($itemid, $showid, $prefix='', $ans_at_end=1, $nofeedback=0, $random=0) {
	global $usedScenarios;
	$charArray = array('A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K');
	$stem = getStem($itemid);
	$distArray = getDistractors($itemid, $random);
	$ansText = '';
	$endText = "";
	$tmptext = "";

	$scenario = getScenario($itemid);
	if ($scenario!="None") {
		$hasScen=1;
		$scenario_id = getItemScenario_id($itemid);
		if (!(in_array($scenario_id, $usedScenarios))) {
			echo "Scenario: " . stripslashes($scenario) . "\n";	
			array_push($usedScenarios, $scenario_id);
		}
	}
	else {
		$hasScen=0;
	}
	if ($showid==1) {
		echo "$itemid - ";
	}
	echo $prefix . stripslashes($stem)."\n";
	for ($i=0;$i<sizeof($distArray);$i++) {
		if (sizeof($distArray)>1) {
			echo $charArray[$i] . ". ".stripslashes($distArray[$i]['DistText'])."\n";
		}
		if ($distArray[$i]['Feedback']!="") {
			/* no letters for feedback */
			if ($nofeedback!=1) {
				$tmptext = $tmptext .stripslashes($distArray[$i]['Feedback']) . "";
			}
		}
		if ($distArray[$i]['Correct']==1) {
			$ansText = $charArray[$i];
		}
	}
	$endText = $endText . "";
	if ($ans_at_end==1) {
		$endText = $endText . $prefix;
	}
	$endText = $endText . "ANSWER: $ansText";
	if (sizeof($distArray)==1) {
		$endText = $endText . " ".stripslashes($distArray[0]['DistText'])."</td></tr>\n";
	}
	$endText = $endText ."\n";
	if ($tmptext!="") {
		$endText = $endText . " Feedback: " . $tmptext . "\n";
	}
	$asset_id = getAssetFromData(17, $itemid);
	$associated = getAllAssets($asset_id, 1);
	$endText = $endText . "\n\n";
	if ($ans_at_end==1) {
		return $endText;
	} else {
		echo $endText;
		return "";
	}
}

/**
 * 
 * parameters: $itemid
 * 
 * produces: Outputs the given item in Aiken form in html table rows
 *
 */
function output_item_in_html($itemid) {
	$charArray = array('A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K');
	$stem = getStem($itemid);
	$distArray = getDistractors($itemid, $random);
	$ansText = '';
	$endText = "";
	$tmptext = "";

	$scenario = getScenario($itemid);
	if ($scenario!="None") {
		$scenario_id = getItemScenario_id($itemid);
		echo "Scenario: " . stripslashes($scenario) . "<br>";	
	}
	echo "$itemid - ";
	echo stripslashes($stem)."<br>";
	for ($i=0;$i<sizeof($distArray);$i++) {
		echo $charArray[$i] . ". ".stripslashes($distArray[$i]['DistText'])."<br>";
		if ($distArray[$i]['Correct']==1) {
			$ansText = "ANSWER: ".$charArray[$i];
		}
	}
	echo $ansText."<br>";
}

/** 
 * procedure:  addAsset
 * parameters: $name: The name of the new asset
 *			   $desc: The description of the new asset.
 *			   $type: the type id that matches the asset to the type in the DataType_def table
 *			   $data_id: the ID of the subasset stored in its own table, the type of which is identified by the $type val
 *			   $pid: The Asset_id for the Parent of the new Asset in the Asset tree.
 *			   $reftype: The type of reference for this asset, DB, url, text, etc.
 *			   $refid: The ID of the reference of the specified type in that reference type table.
 *			   $db: a mysql link resource
 *
 * produces: 
 *   a) the id of the new asset
 *   - or -
 *   b) false if the insert failed
 */
function addAsset($name, $desc, $type, $data_id, $pid, $reftype, $refid, $siborder, $db=null) {
	global $dbConnect;
	$name=addslashes($name);
	$desc = addslashes($desc);
	if ($db === null) {
		$db = $dbConnect;
	}
	$insert = "INSERT INTO Asset_def SET AssetName='$name', AssetDescription='$desc', DataType_id='$type', Data_id=$data_id, Parent_id=$pid,ReferenceType_id=$reftype,ReferenceData_id=$refid,SiblingOrder=$siborder";
	//echo "asset insert is: $insert<br>\n";

	if (mysql_query($insert, $db) == false) {
		return 0;
	}
	$newid = mysql_insert_id($db);
	$treeSel = "SELECT Tree_id FROM Asset_def WHERE AssetDef_id=$pid";
	$treeRes = mysql_query($treeSel, $db);
	$treeCount = mysql_num_rows($treeRes);
	if ($treeCount == 1) {
		$tree_id = mysql_result($treeRes, 0, "Tree_id");
		$newTree_id = $tree_id . "." . $newid;
		$update = "UPDATE Asset_def SET Tree_id='$newTree_id' WHERE AssetDef_id=$newid LIMIT 1";
		//echo "update is: $update<br>\n";
		if (mysql_query($update, $db) == false) {
			return 0;
		}
	} else if ($treeCount == 0) {
		$update = "UPDATE Asset_def SET Tree_id='$newid' WHERE AssetDef_id=$newid LIMIT 1";
		//echo "update is: $update<br>\n";
		if (mysql_query($update, $db) == false) {
			return 0;
		}
	} else {
		return 0;
	}
	return $newid;

	//FOR TESTING
	//return -1;
}

function updateAsset($asset_id, $name, $desc, $siborder, $referencetype, $referenceid, $db) {
	$update = "UPDATE Asset_def SET AssetName='$name', AssetDescription='$desc', SiblingOrder=$siborder,ReferenceType_id=$referencetype,ReferenceData_id=$referenceid WHERE AssetDef_id=$asset_id LIMIT 1";
	//echo "Asset update is: $update<br>\n";
	return mysql_query($update, $db);
}

/** 
 * procedure:  approveAsset
 * parameters: $id: The AssetDef_id of the asset to be approved
 *			   $db: a mysql link resource
 *
 * produces: 
 *   a) true if the update is successful
 *   - or -
 *   b) false if the update failed
 */
function approveAsset($id, $db) {
	$update = "UPDATE Asset_def SET Approved=1, DateApproved=NOW() WHERE AssetDef_id=$id LIMIT 1";
	return mysql_query($update, $db);
}

/** 
 * procedure:  publishAsset
 * parameters: $id: The AssetDef_id of the asset to be published
 *			   $db: a mysql link resource
 *
 * produces: 
 *   a) true if the update is successful
 *   - or -
 *   b) false if the update failed
 */
function publishAsset($id, $db) {
	$update = "UPDATE Asset_def SET DatePublished=NOW() WHERE AssetDef_id=$id LIMIT 1";
	return mysql_query($update, $db);
}

/** 
 * procedure:  getAsset
 * parameters: $id, the integer id of the asset in the Asset_def table
 *			   $db: a mysql link resource
 *
 * produces: 
 *   a) an associative array containing the following info from FISDAP:
 *        1) AssetName
 *        2) AssetDesciption
 *        3) Approved
 *        4) DateApproved
 *		  5) DataType_id
 *		  6) Data_id
 *        7) PointEligibility
 *   - or -
 *   b) false if the query fails to return exactly one row
 */
function getAsset($id, $db) {
	$select = "SELECT * FROM Asset_def WHERE AssetDef_id=$id";
	$result = mysql_query($select, $db);
	if (!$result ) {
		die('ERROR:  getAsset: select query failed: query=\''.$select.'\', error=\''.mysql_error().'\'');
	}
	if (mysql_num_rows($result) != 1 ) {
		return false;
	} else {
		return mysql_fetch_assoc($result);
	}
}

function getName($id) {
	global $dbConnect;
	$select = "SELECT firstname, lastname FROM UserAuthData WHERE idx=$id";
	$result = mysql_query($select, $dbConnect);
	$num = mysql_num_rows($result);
	if ($num==1) {
		$retarray = array();
		$retarray["firstname"] = mysql_result($result, 0, "firstname");
		$retarray["lastname"] = mysql_result($result, 0, "lastname");
		return $retarray;
	} else {
		return false;
	}
}

function printComments($id, $divAdd = "") {
	global $dbConnect;
	$assetSel = "SELECT AssetDef_id FROM Asset_def WHERE DataType_id=17 AND Data_id=" . $id;
	$assetRes = mysql_query($assetSel, $dbConnect);
	$assetCount = mysql_num_rows($assetRes);
	if ($assetCount==1) {
		$asset_id = mysql_result($assetRes, 0, "AssetDef_id");
		$select = "SELECT * FROM AssetComments WHERE AssetDef_id=" . $asset_id . " ORDER BY CommentTime DESC";
		//    	echo "select: $select<br>\n";
		$result = mysql_query($select, $dbConnect);
		$count = mysql_num_rows($result);
		if ($count>0) {
			$firstComment = mysql_result($result, $i, "CommentText");
			$firstCommentor = mysql_result($result, $i, "UserAuth_id");
			$firstCommentDate = mysql_result($result, $i, "CommentTime");
			echo "<div class=\"resultHead0\">\n";
			$firstcommentNames = getName($firstCommentor);
			if ($firstcommentNames) {
				echo $firstcommentNames["firstname"] . " " . $firstcommentNames["lastname"];
			} else {
				echo "Unknown";
			}
			echo "<br>$firstCommentDate\n";
			echo "<div class=\"resultRow0\">\n";
			echo stripslashes($firstComment) . "<br>\n";
			echo "</div>\n";
			echo "</div>\n";

			echo "<div name=\"jsdiv\" style=\"display:none\">\n";
			echo "<script language=\"javascript\">\n";
			echo "function showHideComments".$divAdd."() {\n";
			echo "	elem = document.getElementById(\"moreCommentsDiv".$divAdd."\");\n";
			echo "	buttonel = document.getElementById(\"showCommentsButton".$divAdd."\");\n";
			echo "	if(elem.style.display == \"none\")\n";
			echo "	{	elem.style.display = \"\";\n";
			echo "		buttonel.value=\"Hide Comments\";\n";
			echo "	}\n";
			echo "	else\n";
			echo "	{	elem.style.display = \"none\";\n";
			echo "		buttonel.value=\"Show All Comments\";\n";
			echo "	}	\n";
			echo "}\n";
			echo "</script>\n";
			echo "</div>\n";
			echo "<div>\n";
			echo "<input type=\"button\" name=\"showCommentsButton".$divAdd."\" id=\"showCommentsButton".$divAdd."\" value=\"Show All Comments\" onClick=\"showHideComments".$divAdd."()\">\n";
			echo "</div>\n";

			echo "<div name=\"moreCommentsDiv".$divAdd."\" id=\"moreCommentsDiv".$divAdd."\" style=\"display:none\">\n";
			if ($count>1) {

				for ($i=1;$i<$count;$i++) {
					$tmpComment = mysql_result($result, $i, "CommentText");
					$tmpCommentor = mysql_result($result, $i, "UserAuth_id");
					$tmpCommentDate = mysql_result($result, $i, "CommentTime");
					echo "<div class=\"resultHead".($i%2)."\">\n";
					$commentNames = getName($tmpCommentor);
					if ($commentNames) {
						echo $commentNames["firstname"] . " " . $commentNames["lastname"];
					} else {
						echo "Unknown";
					}
					echo "<br>$tmpCommentDate\n";
					echo "<div class=\"resultRow".($i%2)."\">\n";
					echo stripslashes($tmpComment) . "<br>\n";
					echo "</div>\n";
					echo "</div>\n";
				}	
			} else {
				echo "No More Comments Found.\n";
			}
			echo "</div>\n";
		}
	}
}

/** 
 * procedure:  displaySubAssets
 * parameters: $parent_id: The CatDef_id of the category for which the subcategories (one level down) should be displayed
 $db: a mysql link resource
 *
 * produces: 
 *   a) a table row for each subcategory
 *   - or -
 *   b) a table row containing the text "There are no categories at the selected level." no subcategories are found.
 */

function displaySubAssets($parent_id, $db) {
	global $firstasset_id;
	global $colnum;
	global $assocType;
	global $sibOrder;
	$oldType;
	$select = "SELECT * FROM Asset_def WHERE Parent_id=$parent_id ORDER BY DataType_id, SiblingOrder";
	$result = mysql_query($select, $db);
	$count = mysql_num_rows($result);
	$sibOrder = $count;
	if ($count > 0) {
		for ($i=0;$i<$count;$i++)
		{
			$tmpName = mysql_result($result, $i, "AssetName");
			$tmpID = mysql_result($result, $i, "AssetDef_id");
			$tmpDesc = mysql_result($result, $i, "AssetDescription");
			$curtype = mysql_result($result, $i, "DataType_id");
			if ($curtype != $oldType) {
				echo "<tr><td bgcolor='#CCCCFF' colspan=$colnum>" . getTypeName($curtype) . "</td></tr>\n";
				$oldType = $curtype;
			}
			echo "<tr bgcolor='#EEEEEE'><td><a href='showAllChildren.html?parent=$tmpID' onmouseover=\"this.T_SHADOWCOLOR='#555555';this.T_SHADOWWIDTH=4;return escape('" . htmlentities(str_replace("'", "\'", $tmpDesc), ENT_COMPAT) . "')\">$tmpName</a></td>";
			echo "<td nowrap><table cellpadding='2'><tr>\n";
			echo "<td nowrap bgcolor='#AAAAFF'><input type='button' name='subbutton' value='Browse Down' onClick='setNext($tmpID)'></td>";
			echo "<td nowrap bgcolor='#AAFFAA'><input type='button' name='viewButton' value='View' onClick='viewThis($tmpID)'></td>";
			if ($firstasset_id > 0) {
				if (checkForAssoc($firstasset_id, $tmpID, $assocType) == 1) {
					echo "<td nowrap bgcolor='#FFAAAA'><input type='button' name='dissassocButton' value='Remove Association' onClick='dissassocThis($tmpID)'></td>";
				} else {
					echo "<td nowrap bgcolor='#FFAAAA'><input type='button' name='assocButton' value='Associate One' onClick='assocThis($tmpID, 1)'></td>";
					if ($assocType == 1) {
						echo "<td nowrap bgcolor='#FFAAAA'><input type='button' name='assocButton' value='Associate Some' onClick='assocThis($tmpID, 2)'></td>";
						echo "<td nowrap bgcolor='#FFAAAA'><input type='button' name='assocButton' value='Associate All' onClick='assocThis($tmpID, 3)'></td>";
					}
				}
			} else {
				if ($curtype==17) {
					echo "<td nowrap bgcolor='#FFAAAA'><font size=-2>View for Edit</font></td>";
				} else {
					echo "<td nowrap bgcolor='#FFAAAA'><input type='button' name='editButton' value='Edit' onClick='editThis($tmpID)'></td>";
				}
				echo "<td nowrap bgcolor='Silver'><input type='button' name='addassetButton' value='Confirmed Associations' onClick='addAssets($tmpID)'></td>";
				echo "<td nowrap bgcolor='#FF6688'><input type='button' name='addassetPropButton' value='Planned Associations' onClick='addPropAssets($tmpID)'></td";
			}
			echo "</tr></table></td></tr>\n";
		}
		return;
	} else {
		echo "<tr><td colspan=2>There are no categories at the selected level.</td></tr>";
		return;
	}
}

function displayAsset($id, $db) {
	$select = "SELECT * FROM Asset_def WHERE AssetDef_id=$id";
	$result = mysql_query($select, $db);
	$numrows = mysql_num_rows($result);
	if ($numrows == 1) {
		$tmpName = mysql_result($result, 0, "AssetName");
		$tmpDesc = mysql_result($result, 0, "AssetDescription");
		$tmpTree = mysql_result($result, 0, "Tree_id");
		echo "<tr><td>$tmpName</td><td>$tmpDesc</td><td>$tmpTree</td></tr>\n";
		return 1;
	} else {
		return 0;	
	}
}


function displayFormattedAsset($id, $db) {
	$select = "SELECT * FROM Asset_def WHERE AssetDef_id=$id";
	$result = mysql_query($select, $db);
	$numrows = mysql_num_rows($result);
	if ($numrows == 1) {
		$tmpName = mysql_result($result, 0, "AssetName");
		$tmpDesc = mysql_result($result, 0, "AssetDescription");
		$tmpTree = mysql_result($result, 0, "Tree_id");
		$tree_len = sizeof(explode(".", $tmpTree));
		$tmpID = mysql_result($result, 0, "AssetDef_id");
		for ($i=0;$i<$tree_len;$i++) {
			echo "&nbsp;&nbsp;&nbsp;&nbsp;";
		}
		echo "$tmpID&nbsp;:&nbsp;$tmpName<br>\n";
		return 1;
	} else {
		return 0;
	}
}


function getAssetName($id) {
	global $dbConnect;
	//echo "id is: $id<br>\n";
	$getname = "SELECT AssetName from Asset_def WHERE AssetDef_id=$id";

	$getnameRes = mysql_query($getname, $dbConnect);
	$getnameCount = mysql_num_rows($getnameRes);
	if ($getnameCount == 1) {
		return mysql_result($getnameRes, 0, "AssetName");	
	} else {
		return -1;
	}
}

function getTypeName($type) {
	global $dbConnect;
	$sel = "SELECT * FROM DataType_def WHERE DataType_id=$type";
	$res = mysql_query($sel, $dbConnect);
	$count = mysql_num_rows($res);
	if ($count == 1) {
		$retName = "";
		$tmpName = mysql_result($res, 0, "DataTypeName");
		$tmpArr = explode("_", $tmpName);
		for ($z=1;$z<sizeof($tmpArr);$z++)
		{
			$retName = $retName . " " . $tmpArr[$z];
		}
		$retName = ucwords(trim($retName));
		return $retName;
	} else {
		return "Uncategorized";	
	}
}

/** 
 * procedure:  getParent
 * parameters: $cur_id: The CatDef_id of the category for which the function will return the parent category id
 *			   $db: a mysql link resource
 *
 * produces: 
 *   a) the CatDef_id of the parent category for the given category ID
 *   - or -
 *   b) -1 if the parent is not found
 */
function getParent($cur_id, $db) {
	$selectParent = "SELECT Parent_id FROM Asset_def WHERE AssetDef_id=$cur_id";
	//echo "<br>select is $selectParent<br>\n";
	$selectParentRes = mysql_query($selectParent, $db);
	$selectParentCount = mysql_num_rows($selectParentRes);
	if ($selectParentCount == 1) {
		$selectedParent=mysql_result($selectParentRes, 0, "Parent_id");
	} else {
		$selectedParent = -1;
	}
	return $selectedParent;
}

/** 
 * procedure:  getAllChildren
 * parameters: $id: the unique id of the category for which all children ids are to be retrieved
 *			   $db: a mysql link resource
 *
 * produces: 
 *   a) an array containing the IDs of all of the children of the given parent (all lower levels)
 *   - or -
 *   b) -1 if the parent tree_id is not found
 */
function getAllChildren($id, $db) {
	$selectTree = "SELECT Tree_id FROM Asset_def WHERE AssetDef_id=$id";
	$selectTreeRes = mysql_query($selectTree, $db);
	$selectTreeCount = mysql_num_rows($selectTreeRes);
	if ($selectTreeCount==1) {
		$retArray = array();
		$tree_id = mysql_result($selectTreeRes, 0, "Tree_id");
		$selectChildren = "SELECT AssetDef_id FROM Asset_def WHERE Tree_id LIKE '" . $tree_id . ".%' ORDER BY Tree_id";
		$selectChildrenRes = mysql_query($selectChildren, $db);
		$selectChildrenCount = mysql_num_rows($selectChildrenRes);
		for ($childcounter=0;$childcounter<$selectChildrenCount;$childcounter++)
		{
			$tmpID = mysql_result($selectChildrenRes, $childcounter, "AssetDef_id");
			array_push($retArray, $tmpID);
		}
		return $retArray;
	} else {
		return -1;	
	}
}


/** 
 * procedure:  addURL
 * parameters: $url: the url string of the url to be stored
 *			   $db: a mysql link resource
 *
 * produces: 
 *   a) the id of the new url asset
 *   - or -
 *   b) false if the insert failed
 */
function addURL($url, $db) {
	$insert = "INSERT INTO URLReference_def SET URL='$url'";
	if (mysql_query($insert, $db) == true) {
		return mysql_insert_id($db);
	} else {
		return false;	
	}
}

function updateURL($url, $ID) {
	global $dbConnect;
	$update = "UPDATE URLReference_def SET URL='$url' WHERE URLReferenceDef_id=$ID";
	return mysql_query($update, $dbConnect);
}

function getURL($urlid) {
	global $dbConnect;
	$select = "SELECT * FROM URLReference_def WHERE URLReferenceDef_id=$urlid";
	$result = mysql_query($select, $dbConnect);
	if (mysql_num_rows($result) != 1 ) {
		return false;
	} else {
		return mysql_fetch_assoc($result);
	}
}

/** 
 * procedure:  addImage
 * parameters: $location: the location string of the image to be stored
 *			   $db: a mysql link resource
 *
 * produces: 
 *   a) the id of the new image asset
 *   - or -
 *   b) false if the insert failed
 */
function addImage($location, $db) {
	$insert = "INSERT INTO ImageAsset_def SET Location='$location'";
	if (mysql_query($insert, $db) == true) {
		return mysql_insert_id($db);
	} else {
		return false;	
	}
}

/** 
 * procedure:  addText
 * parameters: $text: the string of the text to be stored
 *			   $db: a mysql link resource
 *
 * produces: 
 *   a) the id of the new text asset
 *   - or -
 *   b) false if the insert failed
 */
function addText($text, $db) {
	$insert = "INSERT INTO TextAsset_def SET EnteredText='$text'";
	if (mysql_query($insert, $db) == true) {
		return mysql_insert_id($db);
	} else {
		return false;	
	}
}

/** 
 * procedure:  updateText
 * parameters: $text: new text to be entered
 *			   $ID: the text asset definition id of the text to be updated
 *
 * produces: 
 *   a) true if the update succeds
 *   - or -
 *   b) false if the update failed
 */
function updateText($text, $ID) {
	global $dbConnect;
	$update = "UPDATE TextAsset_def SET EnteredTExt='$text' WHERE TextAssetDef_id=$ID LIMIT 1";
	return mysql_query($update, $dbConnect);
}

function removeText($textid) {
	global $dbConnect;
	$delete = "DELETE FROM TextAsset_def WHERE TextAssetDef_id=$textid LIMIT 1";
	echo "delete is: $delete<br>\n";
	return mysql_query($delete, $dbConnect);
}

/**
 * procedure: getTextAsset
 * parameters: $textid the id of the text asset def to get
 * produces: 
 *   a) an associative array containing the following info from FISDAP:
 *        1) TextAssetDef_id
 *        2) EnteredText
 *   - or -
 *   b) false if the query fails to return exactly one row
 */
function getTextAsset($textid) {
	global $dbConnect;
	$select = "SELECT * FROM TextAsset_def	WHERE TextAssetDef_id=$textid LIMIT 1";
	//echo "select is: $select<br>\n";
	$result = mysql_query($select, $dbConnect);
	if (mysql_num_rows($result) != 1 ) {
		return false;
	} else {
		return mysql_fetch_assoc($result);
	}
}

/** 
 * procedure:  addChapter
 * parameters: $cat_id: The ID of the category that this chapter belongs to
 *	           $name: The name of the new chapter
 *			   $num: The number of the new chapter
 *			   $prod: The id of the product that this chapter belongs to
 *			   $db: a mysql link resource
 *
 * produces: 
 *   a) the id of the new chapter
 *   - or -
 *   b) 0 if the insert or subsequent update failed
 */
function addChapter($cat_id, $name, $num, $prod, $db) {
	$insert = "INSERT INTO Chapter_def SET ChapterName='$name', ChapterNumber='$num', CatDef_id=$cat_id, ProductDef_id=$prod";
	//echo "chapter insert is $insert<br>\n";

	if (mysql_query($insert, $db) == false) {
		return 0;
		exit;
	}
	$newid = mysql_insert_id($db);
	$update = "UPDATE Category_def SET SubDataType= " . CHAPTER . ", SubData_id=$newid WHERE CatDef_id=$cat_id LIMIT 1";
	if (mysql_query($update, $db) == false) {
		return 0;
		exit;
	}
	return $newid;	

	//FOR TESTING
	//return -1;
}
function updateChapter($chap_id, $name, $num, $prod, $db) {
	$update = "UPDATE Chapter_def SET ChapterName='$name', ChapterNumber='$num', ProductDef_id=$prod WHERE ChapterDef_id=$chap_id LIMIT 1";
	//echo "chapter update is $update<br>\n";
	return mysql_query($update, $db);
}

/** 
 * procedure:  getChapter
 * parameters: $cid, the integer id of the chapter in the Chapter_def table
 *			   $db: a mysql link resource
 *
 * produces: 
 *   a) an associative array containing the following info from FISDAP:
 *        1) ChapterName
 *        2) ChapterNumber
 *        3) CatDef_id
 *        4) ProductDef_id
 *   - or -
 *   b) false if the query fails to return exactly one row
 */
function getChapter($cid, $db) {
	$query = "SELECT * FROM Chapter_def WHERE ChapterDef_id=$cid";
	$result = mysql_query($query, $db);
	if (mysql_num_rows($result) != 1 ) {
		return false;
	} else {
		return mysql_fetch_assoc($result);
	}
}

/** 
 * procedure:  addObjective
 * parameters: $cat_id: The ID of the category that this objective belongs to
 *			   $name: the name of the new objective
 *			   $descr: A description of the new objective.
 *			   $domain: the id of the domain the objective belongs to
 *			   $level: the id of the level that the objective belongs to
 *			   $module: the module that the objective belongs to
 *		 	   $wis: the weighted importance score of the objective
 *			   $db: a mysql link resource
 *
 * produces: 
 *   a) the id of the new objective
 *   - or -
 *   b) 0 if the insert or subsequent update failed
 */
function addObjective($name, $descr, $module, $wis, $db) {
	$insert = "INSERT INTO Objective_def SET ObjectiveName='$name', Description='$descr', Module='$module', WIS=$wis";
	echo "objective insert is $insert<nr>\n";
	//return;

	if (mysql_query($insert, $db) == false) {
		return 0;
		//exit;
	}
	$newid = mysql_insert_id($db);
	return $newid;

	//FOR TESTING
	//return -1;
}
function updateObjective($obj_id, $name, $descr, $module, $wis, $db) {
	$update = "UPDATE Objective_def SET ObjectiveName='$name', Description='$descr', Module='$module', WIS=$wis WHERE ObjectiveDef_id=$obj_id LIMIT 1";
	echo "objective update is $update<br>\n";
	return mysql_query($update, $db);
}

/** 
 * procedure:  getObjective
 * parameters: $oid, the integer id of the objective in the Object_def table
 *			   $db: a mysql link resource
 *
 * produces: 
 *   a) an associative array containing the following info from FISDAP:
 *        1) ObjectiveName
 *        2) CatDef_id
 *        3) Description
 *        4) Domain_id
 *        5) Level_id
 *        6) Module
 *   - or -
 *   b) false if the query fails to return exactly one row
 */
function getObjective($oid, $db) {
	$query = "SELECT * FROM Objective_def WHERE ObjectiveDef_id=$oid";
	$result = mysql_query($query, $db);
	if (mysql_num_rows($result) != 1 ) {
		return false;
	} else {
		return mysql_fetch_assoc($result);
	}
}

/** 
 * procedure:  removeObjective
 * parameters: $obj_id, the integer id of the objective in the Object_def table to be deleted
 *
 * produces: 
 *   a) true on successful deletion of objective
 *   - or -
 *   b) false if the deletion fails
 */
function removeObjective($obj_id) {
	global $dbConnect;
	$delete = "DELETE FROM Objective_def WHERE ObjectiveDef_id=$obj_id LIMIT 1";
	echo "delete: $delete<br>\n";

	return mysql_query($delete, $dbConnect);

}


function genLevelList($lvl) {
	global $dbConnect;
	//echo "lvl is: $lvl<br>\n";
	$levelSel = "SELECT L.LevelName, A.AssetDef_id FROM Levels L, Asset_def A, DBEntryReference_def R WHERE A.DataType_id=14 AND A.ReferenceData_id=R.DBEntryReferenceDef_id AND R.DataEntry_id=L.Level_id ORDER BY L.LevelName";
	$levelRes = mysql_query($levelSel, $dbConnect);
	$levelCount = mysql_num_rows($levelRes);
	for ($levelcounter = 0;$levelcounter<$levelCount;$levelcounter++) {
		$tmpName = mysql_result($levelRes, $levelcounter, "L.LevelName");
		$tmpID = mysql_result($levelRes, $levelcounter, "A.AssetDef_id");
		echo "<option value=\"$tmpID\"";
		if ($tmpID == $lvl) {
			echo " selected";	
		}
		echo ">$tmpName\n";	
	}	
}
function genDomainList($dmn) {
	global $dbConnect;
	//echo "dmn is: $dmn<br>\n";
	$domainSel = "SELECT D.DomainName, A.AssetDef_id FROM Domains D, Asset_def A, DBEntryReference_def R WHERE A.DataType_id=13 AND A.ReferenceData_id=R.DBEntryReferenceDef_id AND R.DataEntry_id=D.Domain_id ORDER BY D.DomainName";
	$domainRes = mysql_query($domainSel, $dbConnect);
	$domainCount = mysql_num_rows($domainRes);
	for ($domaincounter = 0;$domaincounter<$domainCount;$domaincounter++) {
		$tmpName = mysql_result($domainRes, $domaincounter, "D.DomainName");
		$tmpID = mysql_result($domainRes, $domaincounter, "A.AssetDef_id");
		echo "<option value=\"$tmpID\"";
		if ($tmpID == $dmn) {
			echo " selected";	
		}
		echo ">$tmpName\n";	
	}	
}
function genCriticalityList($crt) {
	global $dbConnect;
	//echo "crt is $crt<br>\n";
	$critSel = "SELECT C.CriticalityName, A.AssetDef_id FROM Criticality_def C, Asset_def A, DBEntryReference_def R WHERE A.DataType_id=18 AND A.ReferenceData_id=R.DBEntryReferenceDef_id AND R.DataEntry_id=C.CriticalityDef_id ORDER BY CriticalityName";
	$critRes = mysql_query($critSel, $dbConnect);
	$critCount = mysql_num_rows($critRes);
	for ($critcounter = 0;$critcounter<$critCount;$critcounter++) {
		$tmpName = mysql_result($critRes, $critcounter, "C.CriticalityName");
		$tmpID = mysql_result($critRes, $critcounter, "A.AssetDef_id");
		echo "<option value=\"$tmpID\"";
		if ($tmpID == $crt) {
			echo " selected";	
		}
		echo ">$tmpName\n";	
	}	
}

function buildLocationName($id) {
	global $dbConnect;
	global $firstasset_id;
	global $assocType;
	$retName = "";
	$nameSel = "SELECT AssetDef_id, AssetName, Parent_id FROM Asset_def WHERE AssetDef_id=$id";
	//echo "select is: $nameSel";
	$nameRes = mysql_query($nameSel, $dbConnect);
	$nameCount = mysql_num_rows($nameRes);
	if ($nameCount == 1) {
		$tmpid = mysql_result($nameRes, 0, "AssetDef_id");
		$tmpname = mysql_result($nameRes, 0, "AssetName");
		$tmpparent = mysql_result($nameRes, 0, "Parent_id");
		//echo "name is $tmpname, parent is $tmpparent";

		if ($tmpparent == -1) {
			return "<a href=\"showCat.html?current_id=$tmpid&firstasset_id=$firstasset_id&assocType=$assocType\">$tmpname</a>";
		} else {
			return  buildLocationName($tmpparent) . " : <a href=\"showCat.html?current_id=$tmpid&firstasset_id=$firstasset_id&assocType=$assocType\">$tmpname</a>";	
		}
	} else {
		return "";	
	}
}


function buildLocationNameText($id) {
	global $dbConnect;
	$retName = "";
	$nameSel = "SELECT AssetDef_id, AssetName, Parent_id FROM Asset_def WHERE AssetDef_id=$id";
	//echo "select is: $nameSel";
	$nameRes = mysql_query($nameSel, $dbConnect);
	$nameCount = mysql_num_rows($nameRes);
	if ($nameCount == 1) {
		$tmpid = mysql_result($nameRes, 0, "AssetDef_id");
		$tmpname = mysql_result($nameRes, 0, "AssetName");
		$tmpparent = mysql_result($nameRes, 0, "Parent_id");
		//echo "name is $tmpname, parent is $tmpparent";

		if ($tmpparent == -1) {
			return "$tmpname";
		} else {
			return  buildLocationNameText($tmpparent) . " : $tmpname";	
		}
	} else {
		return "";	
	}
}


function getLevel($asset) {
	global $dbConnect;
	$retArray = array();
	$levelSel = "SELECT C.Asset2_id FROM CategoryData C, Asset_def A WHERE C.Asset2_id=A.AssetDef_id AND C.Asset1_id=$asset AND A.DataType_id=14";
	//echo "level $levelSel<br>\n";
	$levelRes = mysql_query($levelSel, $dbConnect);
	$levelCount = mysql_num_rows($levelRes);
	//echo "lvl count is: $levelCount<br>\n";
	for ($counter=0;$counter<$levelCount;$counter++) {
		$retArray[$counter]=mysql_result($levelRes, $counter, "C.Asset2_id");
		//echo "adding " . mysql_result($levelRes, $counter, "C.Asset2_id");
	}
	return $retArray;
}

function getDomain($asset) {
	global $dbConnect;
	$retArray = array();
	$domainSel = "SELECT C.Asset2_id FROM CategoryData C, Asset_def A WHERE C.Asset2_id=A.AssetDef_id AND C.Asset1_id=$asset AND A.DataType_id=13";
	//echo "domain $domainSel<br>\n";
	$domainRes = mysql_query($domainSel, $dbConnect);
	$domainCount = mysql_num_rows($domainRes);
	//echo "domain count is: $domainCount<br>\n";
	for ($counter=0;$counter<$domainCount;$counter ) {
		$retArray[$counter]=mysql_result($domainRes, $counter, "C.Asset2_id");
		//echo "adding " . mysql_result($domainRes, $counter, "C.Asset2_id");
	}
	return $retArray;
}

function getCriticality($asset) {
	global $dbConnect;
	$retArray = array();
	$critSel = "SELECT C.Asset2_id FROM CategoryData C, Asset_def A WHERE C.Asset2_id=A.AssetDef_id AND C.Asset1_id=$asset AND A.DataType_id=18";
	//echo "asset is: $asset<br>\n";
	$critRes = mysql_query($critSel, $dbConnect);
	$critCount = mysql_num_rows($critRes);
	//echo "critCount is: $critCount<br>\n";
	for ($counter=0;$counter<$critCount;$counter++) {
		$retArray[$counter]=mysql_result($critRes, $counter, "C.Asset2_id");
		//echo "adding " . mysql_result($critRes, $counter, "C.Asset2_id");
	}
	return $retArray;
}

function getAllAssets($id, $type) {
	global $dbConnect;
	$arrayindex = 0;
	$arrayone = array();
	$arraytwo = array();
	$selone = "SELECT Asset2_id FROM CategoryData WHERE Asset1_id=$id AND ProposedAssoc=$type";
	//echo "first select: $selone<br>\n";
	$resone = mysql_query($selone, $dbConnect);
	$countone = mysql_num_rows($resone);
	for ($i=0;$i<$countone;$i++) {
		//echo "adding " . mysql_result($resone, $i, "Asset2_id");
		$arrayone[$arrayindex] = mysql_result($resone, $i, "Asset2_id");
		$arrayindex++;
	}

	$seltwo = "SELECT Asset1_id FROM CategoryData WHERE Asset2_id=$id AND ProposedAssoc=$type";
	//echo "second select: $seltwo<br>\n";
	$restwo = mysql_query($seltwo, $dbConnect);
	$counttwo = mysql_num_rows($restwo);
	for ($i=0;$i<$counttwo;$i++) {
		$tmpval = mysql_result($restwo, $i, "Asset1_id");
		if (!(in_array($tmpval, $arrayone))) {
			$arrayone[$arrayindex] = $tmpval;
			$arrayindex++;
		}
	}
	return $arrayone;
}

function getAllAssetsInParentAr($id, $type, $parentAr) {
	global $dbConnect;

	/**
	 * create the where string for all the parents in the parent array
	 */
	foreach ($parentAr as $parent) {
		$parentClauseAr[] = "(A.Tree_id LIKE '$parent.%')";
	}
	$parentClauseStr = implode(" OR ", $parentClauseAr);

	$arrayindex = 0;
	$arrayone = array();
	$arraytwo = array();
	$selone = "SELECT C.Asset2_id ".
		"FROM CategoryData C, Asset_def A ".
		"WHERE C.Asset1_id=$id ".
		"AND C.ProposedAssoc=$type ".
		"AND A.AssetDef_id=C.Asset2_id ".
		"AND ($parentClauseStr)";
	//echo "first select: $selone<br>\n";
	$resone = mysql_query($selone, $dbConnect);
	$countone = mysql_num_rows($resone);
	for ($i=0;$i<$countone;$i++) {
		//echo "adding " . mysql_result($resone, $i, "Asset2_id");
		$arrayone[$arrayindex] = mysql_result($resone, $i, "Asset2_id");
		$arrayindex++;
	}

	$seltwo = "SELECT C.Asset1_id ".
		"FROM CategoryData C, Asset_def A ".
		"WHERE C.Asset2_id=$id ".
		"AND C.ProposedAssoc=$type ".
		"AND A.AssetDef_id=C.Asset1_id ".
		"AND ($parentClauseStr)";
	//echo "second select: $seltwo<br>\n";
	$restwo = mysql_query($seltwo, $dbConnect);
	$counttwo = mysql_num_rows($restwo);
	for ($i=0;$i<$counttwo;$i++) {
		$tmpval = mysql_result($restwo, $i, "Asset1_id");
		if (!(in_array($tmpval, $arrayone))) {
			$arrayone[$arrayindex] = $tmpval;
			$arrayindex++;
		}
	}
	return $arrayone;
}

function updateTree_id($id) {
	global $dbConnect;
	$psel = "SELECT Parent_id, Tree_id FROM Asset_def WHERE AssetDef_id=$id";
	$pres = mysql_query($psel, $dbConnect);
	$pcount = mysql_num_rows($pres);
	if ($pcount == 1) {
		$oldtree = mysql_result($pres, 0, "Tree_id");
		$parent = mysql_result($pres, 0, "Parent_id");	
	}
	$ptreesel = "SELECT Tree_id FROM Asset_def where AssetDef_id=$parent";
	$ptreeres = mysql_query($ptreesel, $dbConnect);
	$ptreecount = mysql_num_rows($ptreeres);
	if ($ptreecount == 1) {
		$ptree = mysql_result($ptreeres, 0, "Tree_id");	
	}
	$newtree = $ptree . "." . $id;

	if ($newtree != "") {
		$treeup = "UPDATE Asset_def SET Tree_id='$newtree' WHERE AssetDef_id=$id LIMIT 1";

		if (mysql_query($treeup, $dbConnect) == false) {
			return false;
		} else {
			return true;	
		}

		echo "<br>Old Tree is: $oldtree<br>Tree update is: $treeup<br>\n";
		return true;
	} else {
		return false;	
	}
}

/*
 * prodcedure: getChildrenInfo
 * parameters: $id, the AssetDef_id of the parent
 * 
 * produces: an associative array containing the following information about each child:
 *              1. AssetDef_id
 *              2. AssetName
 *              3. AssetDescription
 *          - or -
 *              false, if the query returned nothing
 *
 * NOTE: When using this function, it is safest to refer to the array fields by name 
 * and not by index. Then, if this function is expanded in the future to retrieve more 
 * information (which is likely), it will not break code that uses this function.
 */
function getChildrenInfo($id) {
	global $dbConnect;
	$resultArray = array();
	$childQuery = "SELECT AssetDef_id, AssetName, AssetDescription FROM Asset_def WHERE Parent_id=$id ORDER BY SiblingOrder";
	$childRes = mysql_query($childQuery, $dbConnect);
	if (!$childRes) {
		return false;
	} else {
		while ($row = mysql_fetch_assoc($childRes)) {
			array_push($resultArray, $row);
		}
		return $resultArray;
	}
}

function update_asset_state($asset_id, $state, $status) {
	global $connection;

	if ($status) {
		$on_off = '+';
	} else {
		$on_off = '-';
	}
	$select = "SELECT DevelopmentStatus ".
		"FROM Asset_def ".
		"WHERE AssetDef_id='$asset_id' ".
		"LIMIT 1";
	$result = $connection->query($select);	
	$curr_status = $result[0]['DevelopmentStatus'];
	if (($curr_status & $state && $status) || (!($curr_status & $state) && !$status)) {
		return false;
	}

	$update = "UPDATE Asset_def ".
		"SET DevelopmentStatus = DevelopmentStatus".$on_off.$state." ".
		"WHERE AssetDef_id='$asset_id' ".
		"LIMIT 1";

	$result = $connection->query($update);
	if ($result === false) {
		return false;
	}
	return true;
}

function print_notes_table($item_id, $notes) {
	echo "<div width=100% class='notes_container'>\n";
	echo "<div class='title'>Staff notes for Item #$item_id</div>\n";
	$i=0;
	foreach ($notes as $noteRow) {
		$noteid = $noteRow['AssetNote_id'];
		$userAuth_id = $noteRow['UserAuth_id'];
		$noteText = $noteRow['NoteText'];
		$noteTime = $noteRow['NoteTime'];
		$note_date_only = substr($noteTime, 0, 10);

		$author = getUserName($userAuth_id);
		echo "<div class='resultHead$i'>$author, <i>$note_date_only</i> (note #$noteid)</div>\n";
		echo "<div class='resultRow$i notetext'>$noteText&nbsp;</div>\n"; //the &nbsp makes a row show up, even if the noteText is empty.
		if ($i==0) {
			$i=1; 
		} else {
			$i=0;
		}
	}
	echo "</div>\n";
}
?>
