<?php

function enter_types($typestr, $program_id, $event_id, $db,$main)
{
	require("typecodes.html");
	//echo "Program id is $program_id<br>\n";
	$evprogsel = "SELECT Program_id FROM EventData where Event_id=$event_id";
	$evprogres = mysql_query($evprogsel,$db);
	$evprogcount = mysql_num_rows($evprogres);
	if($evprogcount == 1)
	{
		$evprogid = mysql_result($evprogres,0,"Program_id");
		//echo "ev prog is: $evprogid<br>\n";
	}
	//echo "main is $main<br>\n";
    $return = 0;
    $slct = "SELECT AccessCode from EventTypeAccess WHERE Program_id=$program_id AND Event_id=$event_id";
    //echo "slct: $slct<br>\n";
    $rslt = mysql_query($slct,$db);
    $cnt = mysql_num_rows($rslt);
    //echo "count is $cnt<br>\n";
    if($cnt == 1)
    {
        $curCode = mysql_result($rslt,0,"AccessCode");
    }
    //echo "curcode is $curCode<br>\n";
    //echo "typestr is $typestr<br>\n";
    if($cnt > 0)
    {
    	//echo "comparing cur and type<br>\n";
    	//compare $curCode and $typestr
    	if($main != 1)
    	{
    		if($curCode != $typestr)
    		{
    			if(!($typestr & $EMTBASIC))
				{
					//echo "in basic -<br>\n";
				    if($curCode & $EMTBASIC)
				    {
				    	$curCode = $curCode - $EMTBASIC;
				    }
				}
				if(!($typestr & $EMTINT))
				{
					//echo "in int -<br>\n";
				    if($curCode & $EMTINT)
				    {
				    	$curCode = $curCode - $EMTINT;
				    }
				}
				if(!($typestr & $PARAMEDIC))
				{
					//echo "in para -<br>\n";
				    if($curCode & $PARAMEDIC)
				    {
				    	$curCode = $curCode - $PARAMEDIC;
				    }
				}
				if($program_id == $evprogid)
				{
					if(($typestr & $EMTBASIC))
					{
						//echo "in basic +<br>\n";
					    if(!($curCode & $EMTBASIC))
					    {
					    	$curCode = $curCode + $EMTBASIC;
					    }
					}
					if(($typestr & $EMTINT))
					{
						//echo "in int +<br>\n";
					    if(!($curCode & $EMTINT))
					    {
					    	$curCode = $curCode + $EMTINT;
					    }
					}
					if(($typestr & $PARAMEDIC))
					{
						//echo "in para +<br>\n";
					    if(!($curCode & $PARAMEDIC))
					    {
					    	$curCode = $curCode + $PARAMEDIC;
					    }
					}
				}
    		}
    	}
    	else
    	{
    		//echo "assigning curcode as typestr<br>\n";
    		$curCode = $typestr;	
    	}
    	//echo "cur code is now: $curCode<br>\n";
    	//for shifts that are shared we need to check the permissions that the creator allows and make sure
    	//that the reciever is not giveing more permissions, but at the same time if the reciever is being
    	//more restrictive we need to not overwrite that.
    	if($curCode==$ALLTYPES)
    	{
    		$del = "DELETE FROM EventTypeAccess WHERE Event_id=$event_id AND Program_id=$program_id LIMIT 1";
//    		echo "del is $del<br>\n";
    		if(mysql_query($del,$db))
        	{
        	    $return = 1;
        	}
        	else
        	{
        	    $return = 0;
        	}
    	}
    	else
    	{
        	$udate = "UPDATE EventTypeAccess SET AccessCode=$curCode WHERE Event_id=$event_id AND Program_id=$program_id LIMIT 1";
//        	echo "udate: $udate<br>\n";
        	if(mysql_query($udate,$db))
        	{
        	    $return = 1;
        	}
        	else
        	{
        	    $return = 0;
        	}
    	}
    }
    else
    {
      if($typestr != "")
      {
        //echo "All types is: $ALLTYPES<br>\n";
        if($typestr != 7)
		{
          $ins = "INSERT INTO EventTypeAccess SET Program_id=$program_id, Event_id=$event_id, AccessCode=$typestr";
          //echo "ins: $ins<br>\n";
	  	  if(mysql_query($ins,$db))
          {
            $return = 1;
          }
          else
          {
            $return = 0;
          }
		}
		else
		{
		  $return = 1;
		}
      }
      else
      {
          $return = 1;
      }
    }
    //echo "return is: $return<br>\n";
    return $return;
}

function enter_sections($secstr, $program_id, $event_id, $db)
{
    $return = 1;
    $exist_arr = array();
    $new_arr = array();
    $slct = "SELECT * FROM EventCSAccess WHERE Program_id=$program_id AND Event_id=$event_id";
    $rslt = mysql_query($slct,$db);
    $cnt = mysql_num_rows($rslt);
    for($q=0;$q<$cnt;$q++)
    {
        $tmpsec = mysql_result($rslt,$q,"ClassSection_id");
        $exist_arr[$q] = $tmpsec;
        //echo "exists: $tmpsec<br>\n";
    }

    $tok = strtok($secstr,",");
    while($tok)
    {
        if(!(in_array($tok,$exist_arr)))
        {
            $ins = "INSERT INTO EventCSAccess SET Program_id=$program_id, Event_id=$event_id, ClassSection_id=$tok";
          //  echo "insert: $ins<br>\n";
            if(!(mysql_query($ins,$db)))
            {
                $return = 0;
                break;
            }
        }
        array_push($new_arr,$tok);
        $tok=strtok(",");
    }
    for($k=0;$k<sizeof($exist_arr);$k++)
    {
        if(!(in_array($exist_arr[$k],$new_arr)))
        {
            $del = "DELETE FROM EventCSAccess WHERE Program_id=$program_id AND Event_id=$event_id AND ClassSection_id=$exist_arr[$k]";
        //    echo "del: $del<br>\n";
            if(!(mysql_query($del,$db)))
            {
                $return = 0;
                break;
            }
        }
    }
    return $return;
}

?>
