<?php
/*------------------------------------------------------------------------*
 *--                                                                      *
 *--      Copyright (C) 1996-2003.  This is an unpublished work of        *
 *--                       Headwaters Software, Inc.                      *
 *--                          ALL RIGHTS RESERVED                         *
 *--      This program is a trade secret of Headwaters Software, Inc.     *
 *--      and it is not to be copied, distributed, reproduced,            *
 *--	published, or adapted without prior authorization of              * 
 *--   				 	Headwaters Software, Inc.                         *
 *--                                                                      *
 *------------------------------------------------------------------------*/

/*
 *  This function will generate a 4 digit year list for a select tag with customized ranges
 *  Parameters:
 *              $StartOffset - Number of years before the current to start with.
 *              $TotalCount -  Number of years to include in the list.
 */

 
FUNCTION GenYearMenu( $StartYear, $EndOffset, $SelectYear, $AllFlag=FALSE) {       
	$Year = date(Y);
	$Month = date(m);
	if ($Month > 6) {       
		$Year = $Year+1;
	}

	if( !isset($SelectYear)) {       
		$SelectYear = -1;
	}

	if( $SelectYear > 0) {       
		$SelectedYear = $SelectYear;
	}
	else if ($AllFlag) {
		$SelectedYear = -1;
	}
	else {       
		$SelectedYear = $Year;
	}
	
	if ($AllFlag) {
		echo "<OPTION value='-1' ";
		if ($SelectedYear == -1) {
			echo "SELECTED";
		}
		echo ">All\n";
	}

//$StartYear = $Year - $StartOffset;
	$TotalCount = ($Year-$StartYear)+($EndOffset+1);
	$i = 0;
	while ($i<$TotalCount) {       
		$CurYear = $StartYear + $i;
		$TempStr = "<OPTION value='$CurYear' ";
		if( $SelectedYear == $CurYear || ($SelectedYear < 0 && $Year == $CurYear && $AllFlag != 1)) {       
			$TempStr = $TempStr . "SELECTED";
		}
		$TempStr = $TempStr . ">" . $CurYear . "\n";
		echo $TempStr;
		$i++;
	}
}

/* 
 *  This function will generate a 4 digit class year list containing all the current class years for a particular program.
 *  
 */

 
	Function GenClassYear( $Program_id, $SelectYear, $AllFlag=0)
        {       global $dbConnect;

		$MinYearQuery="select MIN(Class_Year) from StudentData where Program_id=$Program_id and Class_Year>1996";
		$MinYearResult=mysql_query($MinYearQuery, $dbConnect);
		$EarliestClass=mysql_result($MinYearResult, 0);


		$MaxYearQuery="select MAX(Class_Year) from StudentData where Program_id=$Program_id and Class_Year>1996";
        $MaxYearResult=mysql_query($MaxYearQuery, $dbConnect);
        $LatestClass=mysql_result($MaxYearResult, 0);
        
        if ($EarliestClass=='') 
        {
            echo "<OPTION value='-1' SELECTED>All\n";
        }
        
        else
        {
            $Year = date(Y);
            $Month = date(m);
            if ($Month>6) 
            {       
                $Year = $Year+1;
            }

            if( !isset($SelectYear))
            {       
                $SelectYear = -1;
            }

            if( $SelectYear > 0)
            {       
                $SelectedYear = $SelectYear;
            }
            else if($SelectYear == -1 && $AllFlag == 1)
            {       
                $SelectedYear = -1;
            }
            else
            {       
                $SelectedYear = $Year;
            }
    
            $i = $EarliestClass;
            echo " <OPTION value='1996'>Left Program\n";
            if($AllFlag == 1)
            {       
                if($SelectedYear == -1)
                {       
                    echo "<OPTION value='-1' SELECTED>All\n";
                }
                else
                {       
                    echo "<OPTION value='-1'>All\n";
                }
            }
            
            while ($i<$LatestClass+1)
            {       
                $CurYear = $i;
                $TempStr = "<OPTION value='$CurYear' ";
                if( $SelectedYear == $CurYear || 
                   ($SelectedYear < 0 && $Year == $CurYear && $AllFlag != 1))
                {       
                    $TempStr = $TempStr . "SELECTED";
                }
                $TempStr = $TempStr . ">" . $CurYear . "\n";
                echo $TempStr;
                $i++;
            }
        }
    }

	
	
	Function GenClassMonth( $SelectMonth, $AllFlag = 0)
  	{	echo "Month: $SelectMonth, All: $AllFlag";
        $SelectedMonth = 0;
		if( isset($SelectMonth) && $SelectMonth >= 0 && $SelectMonth <= 12)
		{	$SelectedMonth = $SelectMonth;
		}
		$Month[0] = 'All';
		$Month[1] ='Jan';
		$Month[2] = 'Feb';
		$Month[3] ='Mar';
		$Month[4] ='Apr';
		$Month[5] ='May';
		$Month[6] ='Jun';
		$Month[7] ='Jul';
		$Month[8] ='Aug';
		$Month[9] ='Sep';
		$Month[10] ='Oct';
		$Month[11] ='Nov';
		$Month[12] ='Dec';
		if($AllFlag == 0) {
		$i = 0;
		}
		if($AllFlag == 1) {
		$i = 1;
		}
		while( $i <= 12)
		{	echo "<OPTION value='$i'";
		 	if($SelectMonth == $i)
			{	echo "SELECTED";
			}
			echo ">$Month[$i]\n";
			$i++;
		}
  	}

    function GenSectYearList ( $Program_id, $AllFlag, $SelectYear)
    {
        $connection =& FISDAPDatabaseConnection::get_instance();
        $dbConnect = $connection->get_link_resource();

        $query = "SELECT DISTINCT(Year) ".
                 "FROM ClassSections ".
                 "WHERE Program_id = $Program_id ".
                 "ORder BY Year";
        $result = mysql_query($query, $dbConnect);
        if(!$result) {die('Could not retrive class sections from database');}
        $count = mysql_num_rows($result);

        if( $count > 0)
        {
            if($AllFlag == 1)
                echo "<option value=-1>All\n";
            for($i=0; $i<$count; $i++) {
                $Year = mysql_result($result, $i, "Year");
                if( $Year == $SelectYear)
                    echo "<option value=$Year selected>$Year\n";
                else
                    echo "<option value=$Year>$Year\n";
            }//for
        }//if
        else {
            echo "<option value=-1>No Class Sections found\n";
        }//else
    }//GenSectYearList
    
	Function GenClassSectionList( $Program_id, $Year, $dbConnect, $AllFlag, $SelectId)
	{	
		if($Year < 1990)
		{$query = "Select * from ClassSections where Program_id='$Program_id' order by Year";}
			else {
		$query = "Select * from ClassSections where Program_id='$Program_id' and Year='$Year'";}
		$result = mysql_query( $query, $dbConnect);
		$count = mysql_num_rows($result);
	
		if( $count > 0)
		{	
			if($AllFlag == 1)
				echo "<option value=-1>ALL\n";
				
			for($i=0; $i<$count; $i++)
			{	$Sect_id = mysql_result($result, $i, "Sect_id");
				$SectionName = mysql_result($result, $i, "Name");
				$SectionYear = mysql_result($result, $i, "Year");
				
				if( $SelectId >= 0 && $SelectId == $Sect_id)
					echo "<option value=$Sect_id selected>$SectionName\n";
				else
					echo "<option value=$Sect_id>$SectionName\n";
			}
		}
		else
		{	echo "<option value=-1>No Class Sections found for this year\n";
		}
	}


    /**
     * Returns a list of all class sections for the given search 
     * params.  The required params are 'program_id,' 'section_year,'
     * and 'connection.'
     */
    function get_class_sections($params) 
    {
        if ( !is_numeric($params['program_id'])
             || !is_numeric($params['section_year']) ) 
        {
            return false;
        }//if
    
        $query = "SELECT * "
               . "FROM ClassSections "
               . "WHERE Program_id='" . $params['program_id'] . "' "
               . "AND Year='" . $params['section_year'] . "'";
        $result = mysql_query($query, $params['connection']);
        if ( !$result ) {
            die('error: get_class_sections: couldn\'t fetch class sections');
        }//if
    
        $class_sections = array();
        while ( $row = mysql_fetch_assoc($result) ) {
            $class_sections[] = $row;
        }//while
        
        return $class_sections;
    }//get_class_sections
?>
