<?php
/****************************************************************************
*                                                                           *
*         Copyright (C) 1996-2003.  This is an unpublished work of          *
*                          Headwaters Software, Inc.                        *
*                             ALL RIGHTS RESERVED                           *
*         This program is a trade secret of Headwaters Software, Inc.       *
*         and it is not to be copied, distributed, reproduced, published,   *
*         or adapted without prior authorization                            *
*         of Headwaters Software, Inc.                                      *
*                                                                           *
****************************************************************************/

/**
 * This function will generate an alphabetical list of FISDAP EKG Rhythms for a
 * select tag
 */
	Function GenRhythmList( $SelectedId)
	{	global $dbConnect;
		$result = mysql_query( "SELECT * FROM EKGRhythmTable Order By EKGRhythmTitle", $dbConnect);
		$count = mysql_num_rows($result);
		//echo "count is $count<br>\n";
		//printf( "<option value='-1'>Select One\n");
		
	    for( $i=0; $i < $count; $i++)
	    {   $EKGName = mysql_result( $result, $i, "EKGRhythmTitle");
			$EKG_id = mysql_result( $result, $i, "EKGRhythm_id");			

			if( $EKG_id != 43)
			{	if( $EKG_id == $SelectedId)
   		    	{	printf( "<option value='%d' selected>%s\n", $EKG_id, $EKGName );
   		    	}
				else
				{	printf( "<option value='%d'>%s\n", $EKG_id, $EKGName );
				}
			}
		}
		/*if( $SelectedId == 43)
		{	printf( "<option value='43' selected >Other\n");
		}
		else
		{	printf( "<option value='43'>Other\n");
		}*/
	}
	

    /**
     * WARNING::: This function seems to have been copied verbatim from medlist.html, so
     *            I commented it out.  We'll have to make sure nothing's been broken in
     *            the process. ~sm
     */
/*
	Function GenMedsRouteList( $SelectedId)
	{	global $dbConnect;
		$result = mysql_query( "SELECT * FROM MedRouteTable Order By RouteName",$dbConnect);
		$count = mysql_num_rows($result);

		printf( "<option value='-1'>Select One\n");
		
	    for( $i=0; $i < $count; $i++)
	    {   $Route = mysql_result( $result, $i, "RouteName");
			$Route_id = mysql_result( $result, $i, "Route_id");			

			if( $Med_id == $SelectedId)
   		   	{	printf( "<option value='%d' selected>%s\n", $Route_id, $Route );
   		   	}
			else
			{	printf( "<option value='%d'>%s\n", $Route_id, $Route );
			}
		}
	}	
*/
?>
