<?php
/****************************************************************************
*                                                                           *
*         Copyright (C) 1996-2003.  This is an unpublished work of          *
*                          Headwaters Software, Inc.                        *
*                             ALL RIGHTS RESERVED                           *
*         This program is a trade secret of Headwaters Software, Inc.       *
*         and it is not to be copied, distributed, reproduced, published,   *
*         or adapted without prior authorization                            *
*         of Headwaters Software, Inc.                                      *
*                                                                           *
****************************************************************************/
/*
* These functions replace the standard php array functions of the same name which are not functional in our
* current version of php (4.0.4pl) if we upgrade we can repalace them.
*
*/

/*
	This function takes 2 arrays and returns an array of elements that are in $array1 and not in $array2.
*/
function our_array_diff($array1, $array2)
{
	$d=0;
	$e=0;
	$match=0;
	$outArray = array();
	$array1_size = sizeof($array1);
	//echo "Sizeof array 1: $array1_size<br>\n";
	$array2_size = sizeof($array2);
	//echo "Sizeof array 2: $array2_size<br>\n";
	for($d=0; $d < $array1_size; $d++)
	{
		$match = 0;
		for($e=0; $e < $array2_size; $e++)
		{
			//echo "Compare: $array1[$d] and $array2[$e]<br>\n";
			if(strcmp($array1[$d], $array2[$e]) == 0)
			{
				$match = 1;
			}
			if($e == ($array2_size - 1) && $match == 0)
			{
				//echo "adding $array1[$d] to diff array<br>\n";
				array_push($outArray, $array1[$d]);
			}
		}
	}
	return $outArray;
}

/*
	This function takes 2 arrays and returns an array of the elements that the two arrays have in common.
*/
function our_array_intersect($array1, $array2)
{
	$d=0;
	$e=0;
	$outArray = array();
	$array1_size = sizeof($array1);
	//echo "Sizeof array 1: $array1_size<br>\n";
	$array2_size = sizeof($array2);
	//echo "Sizeof array 2: $array2_size<br>\n";
	for($d=0; $d < $array1_size; $d++)
	{
		for($e=0; $e < $array2_size; $e++)
		{
			//echo "Compare: $array1[$d] and $array2[$e]<br>\n";
			if(strcmp($array1[$d], $array2[$e]) == 0)
			{
				//echo "adding $array1[$d] to intersect array<br>\n";
				array_push($outArray, $array1[$d]);
			}
		}
	}
	return $outArray;
}

?>