<?php
/****************************************************************************
*                                                                           *
*         Copyright (C) 1996-2004.  This is an unpublished work of          *
*                          Headwaters Software, Inc.                        *
*                             ALL RIGHTS RESERVED                           *
*         This program is a trade secret of Headwaters Software, Inc.       *
*         and it is not to be copied, distributed, reproduced, published,   *
*         or adapted without prior authorization                            *
*         of Headwaters Software, Inc.                                      *
*                                                                           *
****************************************************************************/

/*
 * This function will generate an alphabetical list of FISDAP EKG Rhythms for a select tag
 */
	Function GenIVSiteList( $SelectedId)
	{	global $dbConnect;
		$result = mysql_query( "SELECT * FROM IvSiteTable Order By DisplayOrder", $dbConnect);
		$count = mysql_num_rows($result);
		
		for( $i=0; $i < $count; $i++)
	    	{	$IVSite = mysql_result( $result, $i, "IvSite");
			$IV_id = mysql_result( $result, $i, "IvSite_id");			

			if( $SelectedId == $IV_id)
				printf( "<option value='%d' selected>%s\n", $IV_id, $IVSite );
			else
				printf( "<option value='%d'>%s\n", $IV_id, $IVSite );
		}
	}

	Function GenIVFluidList( $SelectedId)
	{	global $dbConnect;
		$result = mysql_query( "SELECT * FROM IvFluidTable Order By DisplayOrder", $dbConnect);
		$count = mysql_num_rows($result);
		
		for( $i=0; $i < $count; $i++)
	    	{	$IVFluid = mysql_result( $result, $i, "IvFluid");
			$IV_id = mysql_result( $result, $i, "IvFluid_id");			

			if( $SelectedId == $IV_id)
				printf( "<option value='%d' selected>%s\n", $IV_id, $IVFluid );
			else
				printf( "<option value='%d'>%s\n", $IV_id, $IVFluid );
		}
	}
	
?>
