<?php

function mergeBases($target_id,$duplicates,$db)
{
  	$chksel = "SELECT count(*) from AmbServ_Bases WHERE Base_id=$target_id";
  	$chkres = mysql_query($chksel,$db);
  	$chkcount = mysql_result($chkres,0,"count(*)");
  	
  	if($chkcount == 1)
  	{
  		for($counter = 0;$counter<sizeof($duplicates);$counter++)
  		{
  
  		  $EDUpdate = "UPDATE EventData SET StartBase_id=$target_id WHERE StartBase_id=$duplicates[$counter]";
  		  //echo "$EDUpdate<br>\n";
        
  		  if(mysql_query($EDUpdate,$db) == FALSE)
 		  {
 		     echo "an error has occurred.\n";
 		     exit;
  		  }
    
    		$checkSel = "SELECT Program_id FROM ProgramBaseData WHERE Base_id=$duplicates[$counter]";
    		$checkRes = mysql_query($checkSel,$db);
    		$checkCount = mysql_num_rows($checkRes);
    		for($checkcounter=0;$checkcounter<$checkCount;$checkcounter++)
    		{
    			$tmpProgram_id = mysql_result($checkRes,$checkcounter,"Program_id");
    	
    			$tmpSelect = "SELECT count(*) FROM ProgramBaseData WHERE Program_id=$tmpProgram_id AND Base_id=$target_id";
    			$tmpResult = mysql_query($tmpSelect,$db);
    			$tmpCount = mysql_result($tmpResult,0,"count(*)");
    	
    			if($tmpCount == 1)
    			{
    				$PBDDelete = "DELETE FROM ProgramBaseData WHERE Program_id=$tmpProgram_id AND Base_id=$duplicates[$counter]";
    				//echo "$PBDDelete<br>\n";
    		
    				if(mysql_query($PBDDelete,$db) == FALSE)
    				{
    		  			echo "an error has occurred.\n";
    		  			exit;
    				}
    			}
    			else 
    			{
    				$PBDUpdate = "UPDATE ProgramBaseData SET Base_id=$target_id WHERE Base_id=$duplicates[$counter] AND Program_id=$tmpProgram_id";
    				//echo "$PBDUpdate<br>\n";
    		
    				if(mysql_query($PBDUpdate,$db) == FALSE)
    				{
    				  echo "an error has occurred.\n";
    				  exit;
    				}
    			}
    		}
    
    		$RIUpdate = "UPDATE RepeatInfo SET StartBase_id=$target_id WHERE StartBase_id=$duplicates[$counter]";
    		//echo "$RIUpdate<br>\n";
    
    		if(mysql_query($RIUpdate,$db) == FALSE)
    		{
    		  echo "an error has occurred.\n";
    		  exit;
    		}
    
    		$SDUpdate = "UPDATE ShiftData SET StartBase_id=$target_id WHERE StartBase_id=$duplicates[$counter]";
    		//echo "$SDUpdate<br>\n";
    
    		if(mysql_query($SDUpdate,$db) == FALSE)
    		{
    		  echo "an error has occurred.\n";
    		  exit;
    		}
    
    		$BaseDelete = "DELETE FROM AmbServ_Bases WHERE Base_id=$duplicates[$counter]";
    		//echo "$BaseDelete<br>\n";
    
    		if(mysql_query($BaseDelete,$db) == FALSE)
    		{
    		  echo "an error has occurred.\n";
    		  exit;
    		}
    
    		echo "<br>\n";
  		}
  	}
  	else
  	{
  		echo "The base/department you chose to merge other bases/departments into was not found.";
  		exit;	
  	}
}
?>
