<?php
/****************************************************************************
*                                                                           *
*         Copyright (C) 1996-2003.  This is an unpublished work of          *
*                          Headwaters Software, Inc.                        *
*                             ALL RIGHTS RESERVED                           *
*         This program is a trade secret of Headwaters Software, Inc.       *
*         and it is not to be copied, distributed, reproduced, published,   *
*         or adapted without prior authorization                            *
*         of Headwaters Software, Inc.                                      *
*                                                                           *
****************************************************************************/

/*
 * This function will generate an alphabetical list of the Other ALS Skills for a select tag
 */
	Function GenOtherALSList( $Select_id = -1)
	{	global $dbConnect;
		$result = mysql_query( "SELECT * FROM OtherALSSkillsTable Order By OtherALSSkillsTitle",$dbConnect);
		$count = mysql_num_rows($result);
		$i=0;
	    	while($i < $count)
	    	{	$Skill_id = mysql_result( $result, $i,  "OtherALSSkills_id");
			$SkillName = mysql_result( $result, $i, "OtherALSSkillsTitle");
			if($Select_id == $Skill_id)
			{	echo "<option VALUE='$Skill_id' selected>$SkillName</option>\n";
			}
			else
			{	echo "<option VALUE='$Skill_id'>$SkillName</option>\n";
			}
			$i++;
		}
	}
?>
