<?php
/****************************************************************************
*                                                                           *
*         Copyright (C) 1996-2003.  This is an unpublished work of          *
*                          Headwaters Software, Inc.                        *
*                             ALL RIGHTS RESERVED                           *
*         This program is a trade secret of Headwaters Software, Inc.       *
*         and it is not to be copied, distributed, reproduced, published,   *
*         or adapted without prior authorization                            *
*         of Headwaters Software, Inc.                                      *
*                                                                           *
****************************************************************************/

/*
 * This function will generate an alphabetical list of FISDAP Programs for a select tag
 */
	Function GenProgramList( $Select_id)
	{	global $dbConnect;
		$result = mysql_query( "SELECT Program_id, ProgramName FROM ProgramData WHERE Program_id!=3 Order By ProgramName",$dbConnect);
		$count = mysql_num_rows($result);
		$i=0;
    	while($i < $count)
    	{	$Program_id = mysql_result( $result, $i,  "Program_id");
			$ProgramName = mysql_result( $result, $i, "ProgramName");
			if($Select_id == $Program_id)
			{	echo "<option VALUE='$Program_id' selected>$ProgramName</option>\n";
			}
			else
			{	echo "<option VALUE='$Program_id'>$ProgramName</option>\n";
			}
			$i++;
		}
	}
?>