<?php
/****************************************************************************
 *                                                                           *
 *         Copyright (C) 1996-2003.  This is an unpublished work of          *
 *                          Headwaters Software, Inc.                        *
 *                             ALL RIGHTS RESERVED                           *
 *         This program is a trade secret of Headwaters Software, Inc.       *
 *         and it is not to be copied, distributed, reproduced, published,   *
 *         or adapted without prior authorization                            *
 *         of Headwaters Software, Inc.                                      *
 *                                                                           *
 ****************************************************************************/
/*
 * This function will remove a single shift and all the data associated with it when given the id
 * of the shift and the id of the student that the shift belongs to.
 */
function removeShift($shift, $student, $connection)
{
	$query = "delete from EKGData where Shift_id='".$shift."' and Student_id='".$student."'";
	//echo "//$query<br>\n";
	$result = mysql_query( $query, $connection);
	$query = "delete from IVData where Shift_id='".$shift."' and Student_id='".$student."'";
	//echo "//$query<br>\n";
	$result = mysql_query( $query, $connection);
	$query = "delete from MedData where Shift_id='".$shift."' and Student_id='".$student."'";
	//echo "//$query<br>\n";
	$result = mysql_query( $query, $connection);
	$query = "delete from OtherALSData where Shift_id='".$shift."' and Student_id='".$student."'";
	//echo "//$query<br>\n";
	$result = mysql_query( $query, $connection);
	$query = "delete from ALSAirwayData where Shift_id='".$shift."' and Student_id='".$student."'";
	//echo "//$query<br>\n";
	$result = mysql_query( $query, $connection);
	$query = "delete from BLSSkillsData where Shift_id='".$shift."' and Student_id='".$student."'";
	//echo "//$query<br>\n";
	$result = mysql_query( $query, $connection);
	$query = "delete from PtComplaintData where Shift_id='".$shift."' and Student_id='".$student."'";
	//echo "//$query<br>\n";
	$result = mysql_query( $query, $connection);
	$query = "delete from AssesmentData where Shift_id='".$shift."' and Student_id='".$student."'";
	//echo "//$query<br>\n";
	$result = mysql_query( $query, $connection);
	$query = "delete from RunData where Shift_id='".$shift."' and Student_id='".$student."'";
	//echo "//$query<br>\n";
	$result = mysql_query( $query, $connection);
	$query = "delete from ShiftData where Shift_id='".$shift."' and Student_id='".$student."'";
	//echo "//$query<br>\n";
	$result = mysql_query( $query, $connection);
	//exit;
}

/*
 * Used to remove a shift that has no data.
 * If we are sure a shift has no data, then this function is significantly
 *  faster than using "removeShifts".
 * 
 * Note: IT IS UP TO THE PROGRAMMER TO GUARANTEE THE SHIFT HAS NO DATA
 *       BEFORE CALLING THIS FUNCTION.
 *       The functions isShiftData and areShiftEvals may be useful.
 */
function removeShiftWithoutData($shiftid, $student, &$connection)
{
	$query = "delete from RunData where Shift_id='" . $shiftid . "' and Student_id='" . $student . "'";
//	echo "//$query<br>\n";
	$result = mysql_query( $query, $connection);
	if (!$result) {
		return $result;
	}
	$query = "delete from ShiftData where Shift_id='" . $shiftid . "' and Student_id='" . $student . "'";
//	echo "//$query<br>\n";
	$result = mysql_query( $query, $connection);
	if (!$result) {
		return $result;
	}
	else {
		return true;
	}
	//exit;
}

/*
 * Checks to see if data exists for a certain shift, including evals.
 *
 * @param $return a variable that will be set to an array containing 
 *          the names of any types of data associated.
 *
 * If data does exist, returns true and stores an explanation in $return. 
 * Otherwise, returns false.
 */

function isShiftData($shift, $student, &$connection, &$return) {
	$isData = 0;
	$return = array();
	$tables = array("EKGData" => "EKG Data",
			"IVData" => "IV Data",
			"MedData" => "Med Data",
			"OtherALSData" => "Other ALS Data",
			"ALSAirwayData" => "ALS Airway Data", 
			"BLSSkillsData" => "BLS Skills Data", 
			"PtComplaintData" => "Patient Complaint Data",
			"AssesmentData" => "Assessment Data",
			"RunData" => "Run Data");

	foreach ($tables as $table => $string) {
		$query = "SELECT * FROM " . $table . " WHERE Shift_id='" . $shift . "' AND Student_id='" . $student . "'";
		//echo "$query\n";
		$result = mysql_query($query, $connection);
		if ($result == false) {
			$isData = -1;
		} 
		else if (mysql_num_rows($result)) {
			$isData = true;
			$return = array_push($return, $string);
		}
	}
	return $isData;
}

/*
 * Checks to see if Evals have been associated with the $shift.
 * 
 * Returns either the number of evals, or
 * Returns -1 on a connection error.
 */
function areShiftEvals($shift, $connection) {
	$query = "SELECT DataEvalLink_id from DataEvalLinks where dataTableName='ShiftData' AND Data_id='$shift'";
	$result = mysql_query($query, $connection);
	if ($result == FALSE) {
		return -1;
	}
	else {
		return mysql_num_rows($result);
	}
}

?>
