<?php
/****************************************************************************
*                                                                           *
*         Copyright (C) 1996-2003.  This is an unpublished work of          *
*                          Headwaters Software, Inc.                        *
*                             ALL RIGHTS RESERVED                           *
*         This program is a trade secret of Headwaters Software, Inc.       *
*         and it is not to be copied, distributed, reproduced, published,   *
*         or adapted without prior authorization                            *
*         of Headwaters Software, Inc.                                      *
*                                                                           *
****************************************************************************/

/*
* This function returns a number greater than 0 if a shift has data associated with it
* and 0 if it does not.
*/
function checkData($shift, $connection)
{
	$returnVal = 0;
	$select = "SELECT Type FROM ShiftData WHERE Shift_id=$shift";
	$result = mysql_query($select, $connection);
	$count = mysql_num_rows($result);
	if($count == 1)
	{
		$type = mysql_result($result, 0, "Type");
	}
	if($type == "field")
	{
		$select = "select * from RunData where Shift_id=$shift";
		$result = mysql_query($select, $connection);
		$count = mysql_num_rows($result);
		$returnVal = $returnVal + $count;
	}
	else
	{
		$select = "select * from EKGData WHERE Shift_id=$shift";
		$result = mysql_query($select, $connection);
		$count = mysql_num_rows($result);
		$returnVal = $returnVal + $count;
		
		$select = "select * from IVData WHERE Shift_id=$shift";
		$result = mysql_query($select, $connection);
		$count = mysql_num_rows($result);
		$returnVal = $returnVal + $count;
		
		$select = "select * from MedData WHERE Shift_id=$shift";
		$result = mysql_query($select, $connection);
		$count = mysql_num_rows($result);
		$returnVal = $returnVal + $count;
		
		$select = "select * from OtherALSData where Shift_id=$shift";
		$result = mysql_query($select, $connection);
		$count = mysql_num_rows($result);
		$returnVal = $returnVal + $count;
		
		$select = "select * from ALSAirwayData where Shift_id=$shift";
		$result = mysql_query($select, $connection);
		$count = mysql_num_rows($result);
		$returnVal = $returnVal + $count;
		
		$select = "select * from BLSSkillsData where Shift_id=$shift";
		$result = mysql_query($select, $connection);
		$count = mysql_num_rows($result);
		$returnVal = $returnVal + $count;
		
		$select = "select * from PtComplaintData where Shift_id=$shift";
		$result = mysql_query($select, $connection);
		$count = mysql_num_rows($result);
		$returnVal = $returnVal + $count;
		
		$select = "select * from AssesmentData where Shift_id=$shift";
		$result = mysql_query($select, $connection);
		$count = mysql_num_rows($result);
		$returnVal = $returnVal + $count;
	}
	return $returnVal;
}

/*
* This function will remove a single shift and all the data associated with it when given the id
* of the shift and the id of the student that the shift belongs to.
*/
function removeShift($shift, $student, $connection)
{
	$query = "delete from EKGData where Shift_id='".$shift."' and Student_id='".$student."'";
	//echo "//$query<br>\n";
	$result = mysql_query( $query, $connection);
	$query = "delete from IVData where Shift_id='".$shift."' and Student_id='".$student."'";
	//echo "//$query<br>\n";
	$result = mysql_query( $query, $connection);
	$query = "delete from MedData where Shift_id='".$shift."' and Student_id='".$student."'";
	//echo "//$query<br>\n";
	$result = mysql_query( $query, $connection);
	$query = "delete from OtherALSData where Shift_id='".$shift."' and Student_id='".$student."'";
	//echo "//$query<br>\n";
	$result = mysql_query( $query, $connection);
	$query = "delete from ALSAirwayData where Shift_id='".$shift."' and Student_id='".$student."'";
	//echo "//$query<br>\n";
	$result = mysql_query( $query, $connection);
	$query = "delete from BLSSkillsData where Shift_id='".$shift."' and Student_id='".$student."'";
	//echo "//$query<br>\n";
	$result = mysql_query( $query, $connection);
	$query = "delete from PtComplaintData where Shift_id='".$shift."' and Student_id='".$student."'";
	//echo "//$query<br>\n";
	$result = mysql_query( $query, $connection);
	$query = "delete from AssesmentData where Shift_id='".$shift."' and Student_id='".$student."'";
	//echo "//$query<br>\n";
	$result = mysql_query( $query, $connection);
	$query = "delete from RunData where Shift_id='".$shift."' and Student_id='".$student."'";
	//echo "//$query<br>\n";
	$result = mysql_query( $query, $connection);
	$query = "delete from ShiftData where Shift_id='".$shift."' and Student_id='".$student."'";
	//echo "//$query<br>\n";
	$result = mysql_query( $query, $connection);
	//exit;
}


/**
 * Convenience function to get an array of shifts for the given student.
 *
 * @param int the ID of a student in FISDAP
 * @param mysql_link a connection to the FISDAP database
 * @return array an array of associative arrays, with 
 *               each subarray containing a row from the
 *               result set
 */
function get_student_shifts($student_id, $dbConnect,$num_days=false) {
    $shift_array = array();
    if ( !is_numeric($student_id) ) return false;
    $query = "SELECT * FROM ShiftData "
        . "WHERE Student_id='$student_id' "
        . "AND   Completed='0' ";

    //if $num_days was specified, add the date range clauses
    if ( !( $num_days === false ) && is_numeric($num_days) ) {
        $query .= "AND StartDate<=DATE_ADD(CURDATE(), INTERVAL $num_days DAY) ".
                  "AND StartDate>=DATE_SUB(CURDATE(),INTERVAL $num_days DAY) ".
                  "ORDER BY StartDate,StartTime";
    }//if
   
    $result = mysql_query($query,$dbConnect);
    if (!$result) return $result;
    while( $row = mysql_fetch_assoc($result) ) {
        $shift_array[] = $row;
    }//while
    return $shift_array;
}//get_student_shifts

/**
 * Convenience function to get an array of shifts for which the given student
 * is late entering data.
 *
 * @todo make this more accurate (to the hour rather than the day)
 *
 * @param int the ID of a student in FISDAP
 * @param int the ID of the student's program in FISDAP
 * @param mysql_link a connection to the FISDAP database
 * @return array an array of associative arrays, with 
 *               each subarray containing a row from the
 *               result set
 */
function get_late_student_shifts( $student_id, $program_id, $dbConnect ) {
    if ( !is_numeric($student_id) || !is_numeric($program_id) ) return false;

    //get the number of hours students have before the data is considered late
    $query = "SELECT BigBroInc,ClinicalBigBroInc,LabBigBroInc ".
             "FROM ProgramData WHERE Program_id='$program_id'";
    $result = mysql_query($query,$dbConnect);
    if ( !$result || !mysql_num_rows($result) ) return $false;
    
    $row = mysql_fetch_assoc($result);
    
    //get all the shifts that aren't complete and for which, based on the type
    //of shift, the associated amount of time has passed
    $query = "SELECT * FROM ShiftData WHERE ".
             "Student_id='$student_id' AND ".
             "((StartDate<DATE_SUB(CURDATE(),".//field
                                  "INTERVAL ".($row['BigBroInc']/24)." DAY) AND ".
                "Type='field') OR ".
              "(StartDate<DATE_SUB(CURDATE(),".//clinical
                                  "INTERVAL ".($row['ClinicalBigBroInc']/24)." DAY) AND ".
                "Type='clinical') OR ".
              "(StartDate<DATE_SUB(CURDATE(),".//lab
                                  "INTERVAL ".($row['LabBigBroInc']/24)." DAY) AND ".
                "Type='lab')) AND ".
             "Completed='0' ORDER BY StartDate,StartTime";
    //die('<!-- query: '.$query.'-->');
    $result = mysql_query($query,$dbConnect);
    if ( !$result ) {
        //die('mysql error: '.mysql_error($dbConnect));
        return $result;
    }//if

    $shifts = array();
    while ( $row = mysql_fetch_assoc($result) ) {
        $shifts[] = $row;
    }//while
    return $shifts;
}//get_late_student_shifts


/**
 * Get an array of the IDs of all shifts that are pending 
 * trade approval in the given program.
 *
 * @param  int   the id of a program 
 * @return array the IDs of all shifts awaiting approval for trade
 */
function get_shifts_pending_trade_approval($program_id,$sect_year) {
    global $dbConnect;
    global $canAdminClinic;
    global $canAdminField;
    global $canAdminLab;
    global $UserInstructor_id;
    if ( !is_numeric($program_id) ) return false;
    
    $InstructorSections = array();
    $InstSectSelect = "SELECT S.Sect_id, S.Name FROM SectInstructors I, ClassSections S WHERE".
//    " I.Instructor_id=$UserInstructor_id AND I.Section_id=S.Sect_id AND S.Year=$sect_year";
	" I.Instructor_id=$UserInstructor_id AND I.Section_id=S.Sect_id";
    $InstSectResult = mysql_query($InstSectSelect,$dbConnect);
	$InstSectCount = mysql_num_rows($InstSectResult);
	$NumInstSections = $InstSectCount;
	//echo "num inst sections is: $NumInstSections<br>\n";
	for($i=0;$i<$InstSectCount;$i++)
	{	$TmpSect = mysql_result($InstSectResult, $i, "S.Sect_id");
		//$TmpName = mysql_result($InstSectResult, $i, "S.Name");
		array_push($InstructorSections,$TmpSect);
	}
//	if($NumInstSections == 0)
//	{	$InstructorSections[0] = "Students:,";
//	}
//	else
//	{	$InstructorSections[0] = "Not in Section,";
//	}

// figure out what types of shifts this instructors can administer
	$shiftTypes = array();
	if  ($canAdminClinic == 1) {
		    $shiftTypes[] = 'clinical';
	}
	if  ($canAdminField == 1) {
		    $shiftTypes[] = 'field';
	}
	if  ($canAdminLab == 1) {
		    $shiftTypes[] = 'lab';
	}
	$typeList = "'".implode("', '",$shiftTypes)."'";
	
	$query = "SELECT DISTINCT A.Shift_id FROM ShiftData A, StudentData B ";
    		if($NumInstSections>0)
    		{
    			$query = $query . ", SectStudents S	";
    		}
			$query = $query ."WHERE A.TradeStatus='2' AND ".
							"B.Student_id=A.Student_id AND ";
			$query = $query . "A.StartDate>='" . date("Y-m-d",mktime(0, 0, 0, date("m")  , date("d")-7, date("Y"))) . "' AND ";
			if($NumInstSections>0)
			{
             	$query = $query . "S.Student_id=B.Student_id AND (";
             	for($a=0;$a<sizeof($InstructorSections);$a++)
             	{
             		if($a==0)
             		{
             			$query = $query . " S.Section_id = $InstructorSections[$a] ";
             		}
             		else
             		{
             			$query = $query . " || S.Section_id = $InstructorSections[$a] ";
             		}
             	}
             	$query = $query . ") AND ";
			}
			$query = $query . "A.Type IN ($typeList) AND ";
            $query = $query .  "B.Program_id='$program_id'"; 
            //echo "query is: $query<br>\n";
    $result = mysql_query($query,$dbConnect);
    if ( !$result ) {
        die('<br>QUERY FAILED: '.mysql_error($dbConnect).'<br>');
        return $result;
    }//if

    $shifts = array();
    while( $row = mysql_fetch_assoc($result) ) {
        $shifts[] = $row['Shift_id'];
    }//while
    
    if($NumInstSections>0)
    {
    	$query = "SELECT DISTINCT A.Shift_id FROM ShiftData A, StudentData B LEFT JOIN SectStudents S";
    	$query = $query ." ON B.Student_id=S.Student_id WHERE A.TradeStatus='2' AND S.Student_id IS NULL AND ".
             "B.Student_id=A.Student_id AND ";
	$query = $query . "A.StartDate>='" . date("Y-m-d",mktime(0, 0, 0, date("m")  , date("d")-7, date("Y"))) . "' AND ";
        if($canAdminClinic == 1 && $canAdminField == 0)
		{
		  $query = $query . "A.Type='clinical' AND ";
		}
		else if($canAdminClinic == 0 && $canAdminField == 1)
		{
		  $query = $query . "A.Type='field' AND ";
		}
        $query = $query .  "B.Program_id='$program_id'";
        $result = mysql_query($query,$dbConnect);
    	if ( !$result ) {
    	    die('<br>QUERY FAILED: '.mysql_error($dbConnect).'<br>');
    	    return $result;
    	}//if

    	while( $row = mysql_fetch_assoc($result) ) {
    	    $shifts[] = $row['Shift_id'];
    	}//while
    }
    
    return $shifts;
}//get_shifts_pending_trade_approval


/**
 * Returns the username of the student assigned to the given shift
 * 
 * @param int the id of a FISDAP shift
 * @return string the username of the student assigned to the given shift
 */
function get_shift_student( $shift_id ) {
    global $dbConnect;
    if ( is_numeric($shift_id) ) {
        $query = "SELECT A.UserName FROM StudentData A, ShiftData B ".
                 "WHERE A.Student_id=B.Student_id AND B.Shift_id='$shift_id'";
        $result = mysql_query( $query, $dbConnect );
        if ( $result && mysql_num_rows( $result ) == 1 ) {
            $row = mysql_fetch_assoc( $result );
            return $row['UserName'];
        }//if 
    }//if
    return false;
}//get_shift_student


/**
 * Return the stored value for 'Completed' in the relevant db row
 * for the given shift 
 *
 * @param  int        the id of the shift to check
 * @param  mysql_link a mysql database link resource
 * @param  bool       (optional) set to true to only return the complete
 *                    status for shifts completed on the Web.  if a shift
 *                    wasn't completed on the Web, return false
 * @return string     the Completed status of the given shift 
 */
function get_shift_complete_status( $shift_id, $connection, $web_only = false ) {
    if ( !is_numeric($shift_id) ) {
        return false;
    }//if
    $query = 'SELECT Completed, CompletedFrom '.
             'FROM ShiftData '.
             'WHERE Shift_id="'.$shift_id.'"';
    $result = mysql_query($query,$connection);
    if ( !$result || mysql_num_rows($result) != 1 ) {
        return false;
    }//if

    $row = mysql_fetch_assoc($result);

    if ( $web_only && $row['CompletedFrom'] != 'web' ) {
        return false; 
    }//if

    return $row['Completed'];
}//get_shift_complete_status


/**
 * Returns the relevant row, if any, from the database for the
 * shift with the given id.
 *
 * @param int        $id a Shift id
 * @param mysql_link $id a mysql database connection
 * @return array the given shift's database row, if any (false on error)
 */
function fetch_shift($id, $dbConnect) {
    if ( !is_numeric($id) ) {
        return false;
    }//if

    $query = 'SELECT * FROM ShiftData WHERE Shift_id="'.$id.'"';
    $result = mysql_query($query,$dbConnect);
    if ( !$result ) {
        return false;
    }//if

    return mysql_fetch_assoc($result);
}//fetch_shift

?>
