<?php
/****************************************************************************
 *                                                                           *
 *         Copyright (C) 1996-2003.  This is an unpublished work of          *
 *                          Headwaters Software, Inc.                        *
 *                             ALL RIGHTS RESERVED                           *
 *         This program is a trade secret of Headwaters Software, Inc.       *
 *         and it is not to be copied, distributed, reproduced, published,   *
 *         or adapted without prior authorization                            *
 *         of Headwaters Software, Inc.                                      *
 *                                                                           *
 ****************************************************************************/

/*
 * This function will generate an list of FISDAP Students from the given 
 * Class Year and Program for a select tag
 */


function GenStudentNameList( $Program_id, $ClassMonth, $ClassYear, $Selected_id, $ClassSectionId = -1, $ShowAccountType = false, $encrypt = false, $first_val = null) {
	global $dbConnect, $Instructor, $UserStudent_id;

	$query1 = "SELECT St.FirstName,St.LastName,St.Student_id,St.Class_Year,St.ClassMonth,AccountType FROM StudentData St, SerialNumbers Sn ";
	$query2 = "where St.Student_id = Sn.Student_id AND St.Program_id=$Program_id ";

	if ($ClassMonth > 0) {
		$query2 .= "and St.ClassMonth=$ClassMonth ";
	}

	if ($ClassYear > 0) {
		$query2 .= "and St.Class_Year=$ClassYear ";
	}

	if ($ClassSectionId > 0) {
		$query1 .= ", SectStudents Sec ";
		$query2 .= " and St.Student_id=Sec.Student_id and Sec.Section_id=$ClassSectionId ";
	}

	$query2 .= "ORDER BY St.LastName,St.FirstName ";

	$query = $query1 . $query2;
	print "\n<!-- $query -->\n";		
	$result = mysql_query( $query, $dbConnect);
	$count = mysql_num_rows($result);
	$i=0;
	if (!isset($Selected_id)) {
		$Selected_id = -1;
	}

	if ($count <= 0) {
		echo "<option value=-1>No students meet the selection criteria.";
	}

	//set first val, this is used in shift trading
	if ($first_val) {
		echo "<option value=0>$first_val</option>";
	}

	while ($i < $count) {
		$Student_id = mysql_result( $result, $i,  "Student_id");
		$FirstName = mysql_result( $result, $i, "FirstName");
		$LastName = mysql_result( $result, $i, "LastName");
		$GradYear = mysql_result($result, $i, "Class_Year");
		$GradMonth = mysql_result($result, $i, "ClassMonth");
		$AcctType = mysql_result($result, $i, "AccountType");

		if($AcctType=='paramedic') {
			$AcctTypeVal = 'Paramedic';
		}
		else {
			$AcctTypeVal = strtoupper($AcctType);
		}

		//If the encrypt flag is set, be sure to encrypt the Student_id, used in shift trade
		if ($encrypt) {
			$Student_id = encryptID($Student_id);
		}

		echo "<option VALUE='$Student_id'";

		if ($Student_id == $Selected_id) {
			echo " selected ";
		}
		echo">";

		if ($Instructor || $Student_id == $UserStudent_id || $ShowAccountType) {
			echo"$LastName, $FirstName - $AcctTypeVal: $GradMonth/$GradYear</option>\n";
		} else {
			echo"$Student_id</option>\n";
		}
		$i++;
	}
}

function encryptID($idnum) {
	$tempNum = $idnum + 127;
	$tempNum = $tempNum * 4;
	$tempNum = decoct($tempNum);
	return $tempNum;
}

function decryptID($idstr) {
	$tempNum = octdec($idstr);
	$tempNum = $tempNum / 4;
	$tempNum = $tempNum - 127;
	return $tempNum;
}

function GenStudentNameOnlyList( $Program_id, $ClassMonth, $ClassYear, $Selected_id, $firstVal) {
	global $dbConnect, $Instructor, $UserStudent_id;

	if ($ClassMonth > 0) {
		$result = mysql_query("SELECT FirstName,LastName,Student_id FROM StudentData where Program_id=$Program_id and Class_Year=$ClassYear and ClassMonth=$ClassMonth ORDER BY LastName", $dbConnect);
	} else {
		$result = mysql_query("SELECT FirstName,LastName,Student_id FROM StudentData where Program_id=$Program_id and Class_Year=$ClassYear ORDER BY LastName", $dbConnect);
	}

	$count = mysql_num_rows($result);
	$i=0;
	if (!isset($Selected_id)) {
		$Selected_id = -1;
	}

	if ($count <= 0) {
		if ($ClassMonth > 0) {
			echo "<option value=-1>No Students with Graduation Date of $ClassMonth/$ClassYear";
		} else {
			echo "<option value=-1>No Students with Graduation Year of $ClassYear";
		}

	}
	echo "<option value=0>$firstVal\n";
	while ($i < $count) {
		$Student_id = mysql_result( $result, $i,  "Student_id");
		$FirstName = mysql_result( $result, $i, "FirstName");
		$LastName = mysql_result( $result, $i, "LastName");
		$cryptID = encryptID($Student_id);
		echo "<option VALUE='$cryptID'";
		if ($Student_id == $Selected_id) {
			echo " selected ";
		}
		echo">";
		/*if ($Instructor || $Student_id == $UserStudent_id) {	*/
		echo"$LastName, $FirstName</option>\n";
			/*} else {	echo"$Student_id</option>\n";
			}*/
		$i++;
	}
}

?>
