body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background-color: #DEDEDE;
}

#page {
	font-size:inherit;
	line-height: inherit;
}

#landing2-main {
	width: 960px;
	margin: 25px auto;
	background-color: white;
}
	
#landing2-main .block {
	margin: 0;
}

#landing2-main #header {
	margin-bottom: 15px;
}	
	
  
body.page-savemybacon {
	background-color: #FFF;
	font-size:13px;
	line-height:1.5em;
}

H1.savemybacon { 
	background-image:none;
	color:#464646;
	display:block;
	font-family:Franklin Gothic,Tahoma,Verdana,Arial,sans-serif;
	font-size:32px !important;
	font-weight:normal;
	margin-bottom:0 !important;
	margin-top:0 !important;
	padding:0;
}

H2.savemybacon {
	font-family:Franklin Gothic, Tahoma, Verdana, Arial, sans-serif;
	font-size:18px;
	font-weight:bold;
	color:#6d6d6d;
	margin-top:0;
	margin-bottom:2em;
}

H2.sidebar {
	font-family:Franklin Gothic, Tahoma, Verdana, Arial, sans-serif;
	font-size:18px;
	font-weight:bold;
	color:#6d6d6d;
	margin-top:0;
	margin-bottom:0;
}

H3.checkmark { 
	background-image:url("images/checkmark.png");
	background-position:left center;
	background-repeat:no-repeat;
	border:none;
	color:#6D6D6D;
	font-family:Franklin Gothic,Tahoma,Verdana,Arial,sans-serif;
	font-size:14px;
	font-weight:bold;
	height:33px;
	padding:26px 0 0 31px;
}

H3.landing-old {
	border-top: #F0DD90 solid 10px;
	border-bottom: none;
	padding-top: 10px;
	font-size: 16px;
	font-weight: bold;
}

#landing-content a:link, #landing-content a:visited { color:#5A356B; }
#landing-content a:hover, #landing-content a:active { color:#BF4073; }

#landing2-content {
	margin: 0pt 7.5px 0pt 15px;
	float: left;
	width: 697.5px;
}

.landing-button {
  background-color: #BBDDFF;
  padding: 10px;
  margin: 15px;
  float:left;
  font-weight:bold;
  font-size:14px;
  text-align:center;
}

.landing-button a:link, .landing-button a:visited {
	text-decoration:none;
	color:black !important;
}

.landing-button a:hover, .landing-button a:active {
	text-decoration:none;
	color:#C00 !important;
}

.landing-contact-box {
	background-color:#CFEBA7;
	margin-top:15px;
	padding:15px;
	font-size:14px;
	line-height:1.2em;
	text-align:center;
}

.landing-fineprint {
	font-size:12px;
	text-align:right;
}

.landing-fineprint a {
	background: url("images/viewdoc.png") no-repeat right;
	padding-right: 18px;
}

#landing2-sidebar-right {
	margin: 0pt 15px 0pt 7.5px;
	float: right;
	width: 217.5px;
}

#landing2-sidebar-right .block {
	margin-bottom:15px;
}

.landing-block-blue {
	padding-bottom:15px;
}

#landing2-sidebar-right .block .content, .landing-block-blue .content {
  padding: 5px;
  background-color: #d2ecf2;
}

#landing2-sidebar-right .block h2.title, .landing-block-blue h2.title {
  text-align: center;
  background-color: #0085ab;
  padding: 2px 0pt;
  color: white;
}


.node-type-landing, .node-type-landing2 {
	margin: 0;
	border: none;
	padding: 0;
}