/* $Id: base-colors.css,v 1.4 2011/01/15 16:03:46 aross Exp $ */ 

/**
 * @file
 * Colors for individual base color schemes.
 */

/* ------------------- WHITE BODY BACKGROUND (DEFAULT) -------------------- */
/*
body {
  background-color: #FFF;
  color: #323232;
}

a,
a:link,
a:visited {
  color: #767676;
}

a:hover,
a:focus,
a:active {
  color: #454545;
}
*/

/* CUSTOM BULLETS FOR MENU LISTS */
.block-outer ul li.leaf,
.node ul li.leaf {
  list-style-image: url(../images/menu-leaf.png);
}

.block-outer ul li.expanded,
.node ul li.expanded {
  list-style-image: url(../images/menu-expanded.png);
}

.block-outer ul li.collapsed,
.node ul li.collapsed {
  list-style-image: url(../images/menu-collapsed.png);  /* LTR */
}


/* ------------ CHANGE TO WHITE TEXT AND BULLETS ON DARK BACKGROUNDS -------- */

body.black,
body.red,
body.blue,
body.green {
  color: #FFF;
}

.black .block-outer ul li.leaf,
.red .block-outer ul li.leaf,
.blue .block-outer ul li.leaf,
.green .block-outer ul li.leaf,
.black .node ul li.leaf,
.red .node ul li.leaf,
.blue .node ul li.leaf,
.green .node ul li.leaf {
  list-style-image: url(../images/menu-leaf-wh.png);
}

.black .block-outer ul li.expanded,
.red .block-outer ul li.expanded,
.blue .block-outer ul li.expanded,
.green .block-outer ul li.expanded,
.black .node ul li.expanded,
.red .node ul li.expanded,
.blue .node ul li.expanded,
.green .node ul li.expanded {
  list-style-image: url(../images/menu-expanded-wh.png);
}

.black .block-outer ul li.collapsed,
.red .block-outer ul li.collapsed,
.blue .block-outer ul li.collapsed,
.green .block-outer ul li.collapsed,
.black .node ul li.collapsed,
.red .node ul li.collapsed,
.blue .node ul li.collapsed,
.green .node ul li.collapsed {
  list-style-image: url(../images/menu-collapsed-wh.png);  /* LTR */
}

/* -------------- ADD A WHITE BACKGROUND TO CONTENT AREA -------------------- */

.white-page-bg #main,
.white-page-bg #preface-top,
.white-page-bg #postscript-bottom,
.default-footer .white-page-bg #footer {
  background-color: #FFF;
  color: #323232;
}

.white-page-bg a,
.white-page-bg a:link,
.white-page-bg a:visited {
  color: #666;
}

/* Add a little extra spacing on edges if have white bg */
.white-page-bg #preface-top .block.first .inner,
.white-page-bg #postscript-bottom .block.first .inner,
.white-page-bg #footer .block.first .inner {
  margin-left: 10px;  /* LTR */
}

.white-page-bg #preface-top .block.last .inner,
.white-page-bg #postscript-bottom .block.last .inner,
.white-page-bg #footer .block.last .inner {
  margin-right: 10px; /* LTR */
}

.sidebars-split .white-page-bg .sidebar-first .block .inner {
  margin-left: 10px; /* LTR */
}

.sidebars-split .white-page-bg .preface-bottom .block.last .inner,
.sidebars-split .white-page-bg .postscript-top .block.last .inner,
.sidebars-split .white-page-bg .sidebar-last .block .inner {
  margin-right: 10px; /* LTR */
}

.sidebars-both-first .white-page-bg .sidebar-first .block .inner {
  margin-left: 10px; /* LTR */
}

.sidebars-both-first .white-page-bg .main-content .block .inner,
.sidebars-both-first .white-page-bg .preface-bottom .block.last .inner,
.sidebars-both-first .white-page-bg .postscript-top .block.last .inner {
  margin-right: 10px; /* LTR */
}

.sidebars-both-first .white-page-bg .sidebar-last .block .inner {
  margin-right: 5px; /* LTR */
}

.sidebars-both-last .white-page-bg .main-content .block .inner,
.sidebars-both-last .white-page-bg .preface-bottom .block.first .inner,
.sidebars-both-last .white-page-bg .postscript-top .block.first .inner {
  margin-left: 10px; /* LTR */
}

.sidebars-both-last .white-page-bg .sidebar-first .block .inner {
  margin-right: 10px; /* LTR */
}

.sidebars-both-last .white-page-bg .sidebar-last .block .inner {
  margin-left: 5px; /* LTR */
}

.white-page-bg .node div.links {
  background: #E3E5E3;
}

/* CHANGE TO DARK BULLETS ON WHITE BG */

.white-page-bg .block-outer ul li.leaf,
.white-page-bg .node ul li.leaf {
  list-style-image: url(../images/menu-leaf.png);
}

.white-page-bg .block-outer ul li.expanded,
.white-page-bg .node ul li.expanded {
  list-style-image: url(../images/menu-expanded.png);
}

.white-page-bg .block-outer ul li.collapsed,
.white-page-bg .node ul li.collapsed  {
  list-style-image: url(../images/menu-collapsed.png);  /* LTR */
}

/* --------------------- GRAY NAVBAR/BUTTONS ------------------------------ */


/* FORM SUBMIT BUTTONS */
form input.form-submit {
  background: #CCCCCA /*url(../images/nav-bg-gray.gif) top left repeat-x*/;
  border-bottom: 1px solid #B5B5B4;
  border-top: 1px solid #E1E1E1;
  border-right: 1px solid #B5B5B4;  /* LTR */
  border-left: 1px solid #E1E1E1; /* LTR */
  color: #000;
}


/* ------------------ PAGE AND BLOCK HEADERS ---------------- */

.white-headers h1.title,
.white-headers h2.title {
  color: #FFF;
}

.gray-headers h1.title,
.gray-headers h2.title {
  color: #655d57;
}

.black-headers h1.title,
.black-headers h2.title {
  color: #323232;
}

.blue-headers h1.title,
.blue-headers h2.title {
  color: #0085ab;
}

.red-headers h1.title,
.red-headers h2.title {
  color: #ed2125;
}

.orange-headers h1.title,
.orange-headers h2.title,
.orange-title #site-name a:link,
.orange-title #site-name a:visited,
.orange-title #site-name a:hover,
.orange-title #site-name a:active,
.orange-slogan #slogan {
  color: #f08632;
}

.green-headers h1.title,
.green-headers h2.title {
  color: #84c724;
}

/* ---------------------------------- LINK COLORS -------------------------- */

.gray-links a,
.gray-links a:link,
.gray-links a:visited {
  color: #655d57;
}

.gray-links a:hover,
.gray-links a:focus,
.gray-links a:active {
  color: #c6c1bc;
}

.blue-links a,
.blue-links a:link,
.blue-links a:visited {
  color: #0085ab;
}

.blue-links a:hover,
.blue-links a:focus,
.blue-links a:active {
  color: #30c2ea;
}

.red-links a,
.red-links a:link,
.red-links a:visited {
  color: #ed2125;
}

.red-links a:hover,
.red-links a:focus,
.red-links a:active {
  color: #f2dad2;
}

.green-links a,
.green-links a:link,
.green-links a:visited {
  color: #84c724;
}

.green-links a:hover,
.green-links a:focus,
.green-links a:active {
  color: #cfeba7;
}

.orange-links a,
.orange-links a:link,
.orange-links a:visited {
  color: #ca5f26;
}

.orange-links a:hover,
.orange-links a:focus,
.orange-links a:active {
  color: #da792c;
}

