.contact-table {
    border-collapse: separate;
    font-size: 100%;
    margin-top: 20px;
}

.contact-table td {
    margin: 0;
    padding-bottom: 20px;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

.contact-table td.icon {
    padding-right: 20px;
}

.contact-table tr.middle-row td {
    border-top: 1px solid #dedada;
    border-bottom: 1px solid #dedada;
    padding-top: 20px;
}

.contact-table tr.bottom-row td {
    padding-top: 20px;
}

table.meet_the_team td.left_col {
    padding-right: 17px;
}

.mtt_header h3 {
    position:relative;
    top: -4px;
}

div.award {
    text-align:center;
    padding:5px;
    font-size:80%;
    color: #F08632;
    line-height:120%;
    font-weight:bold;
}

#block-block-54 div.inner {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    border-color:#E3DFD8;
}


table.robot {
    background: #dedcda;
    border-spacing: 15px 20px;
    width: 100%;
    margin-top: 10px;
}

table.robot td {
    background: white;
    padding: 18px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    vertical-align: top;
    width: 50%;
}

table.accred_docs {
    margin: 20px 0px;
} 

table.accred_docs div {
    margin: 8px;
}

table.research_project_facts {
    margin-top: 1em;
}

table.research_project_facts td {
    padding:6px;
    vertical-align: middle;
}

.project_title {
    color: #707070;
    font-size: 14pt; 
    font-family: "Century Gothic", "Helvetica", "Arial", sans-serif;
    line-height: normal;
    padding:5px;
}

.project_authors {
    color: #707070;
    font-style: italic;
    margin: 0 5px 9px 5px;
} 

.project_description {
    margin: 0px 0px 3em 7px;
}

span.projectAbstract {
    color: #707070;
    font-weight: bold;
}

table.award_table {
    margin:0px;
    padding:8px;
}

td.award {
    width: 16%;
    font-size:85%;
    font-weight: bold;
    color: #707070;
    border-right: solid 2px #ccc;
    line-height: normal;
}


/* CAROUSEL - Nivo Slider */
.carousel-research .nivoSlider {
    height: 429px !important;
}

.carousel-research .nivo-caption {
    bottom: 20px;
}


.product_description {
    width: 308px;
    vertical-align: top;
}

.product_image {
    width: 162px;
}


/* SITE MAP */
#site-map .site-map-box {
    float: left;
    margin: 0 10px 0 0;
}


/* WEBFORMS */
#webform-client-form-845 {
    background-color: #727272;
    color: white;
    padding: 20px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}

#webform-client-form-773 {
    margin-top:15px;
}

#webform-client-form-845 .form-item,
#webform-client-form-773 .form-item {
    margin: 0;
}

#webform-client-form-845 .form-item label,
#webform-client-form-773 .form-item label {
    font-weight: normal;
}

#webform-client-form-845 .webform-component,
#webform-client-form-773 .webform-component {
    margin-bottom: 10px;
}

#webform-client-form-845 .form-checkboxes {
    margin: 0;
}

#webform-component-FirstName, #webform-component-LastName,
#webform-component-Email, #webform-component-Phone {
    float: left;
    width: 48%;
    margin-right: 2%;
}
#webform-component-JobTitle .form-radios {
    margin: 4px 0 8px 0;
}
/* Uncomment if	you want role radios to	be horizontal
#webform-component-role .form-radios .form-item {
    display: inline;
    padding: 0 30px 0 0;
}*/

#webform-component-school-organization, #webform-component-question {
    clear: both;
}

#edit-submitted-school-organization {
    width: 100%;
}

div.testimonial_stats {
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    border-radius: 7px 7px 7px 7px;
    float: left;
    width:200px;
    margin: 5px 10px;
    padding: 10px;
    background: #726e65;
    color: white;
    font-weight:bold;
    line-height: 150%;
}

div.testimonial_stats a {
    font-weight: normal;
}

div.testimonial_stats h3 {
    font-size: 14pt;
}

div.testimonial_block {
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    border-radius: 7px 7px 7px 7px;
    float:left;
    width:640px;
    margin: 5px 5px 20px 5px;
    padding: 25px;
    background: #dedcda;
}

div.testimonial_block p, div.testimonial_quote {
    width: 93%;
    float: right;
    margin: 6px;
    padding: 10px 0px;
}

div.testimonial_quote {
    background: #655d57;
    color: white;
    padding: 10px;
    width: 90%;
}

div.testimonial_quote table {
    margin:0px;
}

div.accred_head {
}

table.accred_table {
    margin-top: 15px;
    margin-bottom: 35px;
}

table.accred_table tr.spacer {
    height: 30px;
}

table.accred_table td.product {
    background: #dedcda;
    padding: 20px;
    vertical-align: top;
}

table.accred_table td.logo, div.bacon_blurb {
    background: #726e65;
    padding: 10px;
    vertical-align: center;
    color: white;
    text-align: center;
    font-family: "Century Gothic","Helvetica","Arial",sans-serif;
    font-size: 12pt;
}

div.bacon_blurb {
    float: left;
    font-family: "Tahoma", "Verana", "Geneva", sans-serif;
    font-size: 14px;
    width: 200px;
    height: 284px;
    margin-right:14px;
    text-align: left;
}

table.what_we_make {
    border-spacing: 10px;
    vertical-align: top;
}

p.landing-fineprint {
    margin: 25px 0px 0px 0px;
}
